<!DOCTYPE html>
<html>

<head id="Head1">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>杭州心理咨询壹点灵</title>
  <link rel="icon" href="//static1.ydlcdn.com\v3\images\baidu\area\area-favicon.ico" />
  <link rel="shortcut icon" href="//static1.ydlcdn.com\v3\images\baidu\area\area-favicon.ico" />
  <link rel="stylesheet" href="//static1.ydlcdn.com/mobile/css/swiper-3.3.1.min.css">
  <link href="//static1.ydlcdn.com/mobile/css/normalize.css" rel="stylesheet" type="text/css">
  <!--<link href="../static1.yidianling.com/mobile/css/baidu/marea.css?20180309" rel="stylesheet" type="text/css">-->
  <!-- <link href="//static1.ydlcdn.com/mobile/css/baidu/marea.css?201803091507" rel="stylesheet" type="text/css"> -->
  <link href="//m.hangzhou.yidianling.com/css/marea.css?201807092024" rel="stylesheet" type="text/css">
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?e1f1759440127a440ff09386d5bbfc6a";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();

  </script>
</head>

<body class="hangzhou_new628">
  <div class="topbanner">
    <a href="tel:400-114-1010">
      <img src="//m.hangzhou.yidianling.com/images/indexNew628/01Banner.png">
    </a>
  </div>
  <!-- 杭州壹点灵心理服务中心 -->
  <h3 class="hz-title underline">杭州壹点灵心理服务中心</h3>
  <div class="serice_center_swiper">
    <div class="swiper-container">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
            <img src="//m.hangzhou.yidianling.com/images/indexNew628/02img1.png">
        </li>
        <li class="swiper-slide">
            <img src="//m.hangzhou.yidianling.com/images/indexNew628/02img2.png">
        </li>
        <li class="swiper-slide">
            <img src="//m.hangzhou.yidianling.com/images/indexNew628/02img3.png">
        </li>
        <li class="swiper-slide">
            <img src="//m.hangzhou.yidianling.com/images/indexNew628/02img4.png">
        </li>
        <li class="swiper-slide">
            <img src="//m.hangzhou.yidianling.com/images/indexNew628/02img5.png">
        </li>
      </ul>
    </div>
  </div>
  <div class="servers_all">
      <img width="100%" src="//m.hangzhou.yidianling.com/images/indexNew628/03fuwu.png">
  </div>
  <!-- 顶级大咖专业服务 -->
  <div class="top_servers">
    <h3 class="hz-title underline">顶级大咖专业服务</h3>
    <div class="top_servers_swiper">
      <div class="swiper-container">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
              <img src="//m.hangzhou.yidianling.com/images/indexNew628/04Dafenhui.png">
          </li>
          <li class="swiper-slide">
              <img src="//m.hangzhou.yidianling.com/images/indexNew628/04gao.png">
          </li>
          <li class="swiper-slide">
              <img src="//m.hangzhou.yidianling.com/images/indexNew628/04Jiang.png">
          </li>
          <li class="swiper-slide">
              <img src="//m.hangzhou.yidianling.com/images/indexNew628/04lan.png">
          </li>
          <li class="swiper-slide">
              <img src="//m.hangzhou.yidianling.com/images/indexNew628/04yuan.png">
          </li>
        </ul>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <!-- 联系我们 -->
  <div class="contact_us">
    <a href="https://ditu.amap.com/regeo?lng=120.220652&lat=30.207134&name=%E5%A3%B9%E7%82%B9%E7%81%B5&src=mypage&callnative=0">
      <img src="//m.hangzhou.yidianling.com/images/indexNew628/05contact.png" style="width: 100%;" />
    </a>
  </div>

  <div class="area_floatMenu">
    <!--<a href="//dat.zoosnet.net/LR/Chatpre.aspx?id=DAT83236505&lng=cn" target="_self"><img src="//static1.ydlcdn.com/mobile/images/area/wechat.png"></a>
    <a href="tel:400-114-1010" target="_self"><img src="//static1.ydlcdn.com/mobile/images/area/server-new.png"></a>
    <a href="//dat.zoosnet.net/LR/Chatpre.aspx?id=DAT83236505&lng=cn" target="_self"><img src="//static1.ydlcdn.com/mobile/images/area/online.png"></a>-->
    <a class="tel" href="tel:400-114-1010"><i class="icon_tel"></i>电话客服</a>
  </div>
  <script src="//static.ydlcdn.com/global/js/jquery-1.11.2.min.js"></script>
  <script src="//static.ydlcdn.com/global/js/jquery.lazyload.js"></script>
  <script type="text/javascript">
    $(function () {
      $("img.lazy").lazyload(); //懒加载
    })

  </script>
  <script src="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.js"></script>
  <script src="//static.ydlcdn.com/zj/js/flexible.js"></script>
  <script src="//m.hangzhou.yidianling.com/js/index.js"></script>
  <script src="//static.ydlcdn.com/v4/common/service_online_system/index.js"></script>
</body>

</html>
