
.page-love-feed-20181130{
  font-size: 0; width: 100%; max-width: n(750); margin: 0 auto; background: #fff;
  img.bg{ display: block; width: 100%;}

  .control{ width: 100%; position: fixed; bottom: 0; text-align: center;
    img{ width: n(710);}
  }
}
