<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>情感壹点灵 您身边的婚姻保卫专家</title>
    <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.ico"/>
    <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../css/global.css" />
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?5d0ee121671036fba08648207a36bc3a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
	</head>

	<body>
		<header>
			<div class="logo fl">
				<img src="../images/logo-B.png" />
			</div>
			<div class="desp fr">
				中科院合作单位<br /> 中国人保PICC全面承保
			</div>
		</header>
		<div class="haoshi-c haoshi">
			<div class="banner">
				<img class="banner-pic" src="../images/banner-C.jpg" />
				<a href="javascript:;" class="btn">立即咨询</a>
				<img src="../images/sale_point.png" class="sale_point" />
			</div>
			<div class="content01">
				<div class="title">
					<h1>我们能为你做什么</h1>
					<div class="sub"></div>
				</div>
				<ul class="clrfloat">
					<li>
						<div class="img">
							<img src="../images/icon_whhy2.png" />
						</div>
						<h3>挽回婚姻</h3>
						<p>为您分析婚姻危机因素，为您量身定制挽回方案</p>
					</li>
					<li>
						<div class="img">
							<img src="../images/icon_flxs2.png" />
						</div>
						<h3>分离小三</h3>
						<p>针对性地提供解决方案，摆脱第三者，让爱重回家庭</p>
					</li>
					<li>
						<div class="img">
							<img src="../images/icon_wjaq2.png" />
						</div>
						<h3>挽救爱情</h3>
						<p>提升个人魅力，排除障碍，化解情感危机</p>
					</li>
					<li>
						<div class="img">
							<img src="../images/icon_lhwq2.png" />
						</div>
						<h3>离婚维权</h3>
						<p>离婚评估，维护您自身合法权益</p>
					</li>
				</ul>
			</div>
		</div>
    <footer>
      <a href="tel:4000992520" class="tel fl clrfloat">
        <i class="icon_tel fl"><img src="../images/tel_new.png"/></i>
        <span>电话咨询</span>
      </a>
      <a href="#" class="online fl kf_haoshi">
        <span>在线分析</span>
      </a>
    </footer>
  </body>
	 <script src="//static1.ydlcdn.com/mobile/js/jquery-2.1.0.min.js"></script>
	 <script src="//static.ydlcdn.com/v4/common/service_online_system/index.js"></script>
	</body>

</html>
