<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>情感壹点灵 您身边的婚姻保卫专家</title>
    <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.ico"/>
    <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?5d0ee121671036fba08648207a36bc3a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
	</head>

	<body>
		<div class="haoshi-a">
			<div class="banner">
				<img class="banner-a" src="../images/banner-A.jpg" />
				<div class="logo">
					<img src="../images/logo-A.png" />
				</div>
			</div>
			<div class="content01">
				<div class="title">
					<h1>我们能为你做什么</h1>
					<div class="sub"></div>
				</div>
				<ul class="clrfloat">
					<li>
						<div class="img">
							<img src="../images/icon_whhy2.png"/>
						</div>
						<h3>挽回婚姻</h3>
						<p>为您分析婚姻危机因素，为您量身定制挽回方案</p>
					</li>
					<li>
						<div class="img">
							<img src="../images/icon_flxs2.png" />
						</div>
						<h3>分离小三</h3>
						<p>针对性地提供解决方案，摆脱第三者，让爱重回家庭</p>
					</li>
					<li>
						<div class="img">
							<img src="../images/icon_wjaq2.png" />
						</div>
						<h3>挽救爱情</h3>
						<p>提升个人魅力，排除障碍，化解情感危机</p>
					</li>
					<li>
						<div class="img">
							<img src="../images/icon_lhwq2.png" />
						</div>
						<h3>离婚维权</h3>
						<p>离婚评估，维护您自身合法权益</p>
					</li>
				</ul>
			</div>
			<div class="content02">
				<div class="title">
					<h1>为什么选择壹点灵</h1>
					<div class="sub"></div>
				</div>
				<ul>
					<li class="clrfloat">
						<div class="fl pic">
							<img src="../images/icon_zxs.png"/>
						</div>
						<div class="fl text">
							<h3>6000+顶尖心理咨询师护航</h3>
							<p>国内顶尖婚恋专家领衔</p>
						</div>
					</li>
					<li class="clrfloat">
						<div class="fl pic">
							<img src="../images/icon_ydy.png" />
						</div>
						<div class="fl text">
							<h3>一对一的私人定制情感方案</h3>
							<p>定制针对个人的解决方案</p>
						</div>
					</li>
					<li class="clrfloat">
						<div class="fl pic">
							<img src="../images/icon_qwjg.png" />
						</div>
						<div class="fl text">
							<h3>各大权威机构认证并深入合作</h3>
							<p>与心理权威机构进行深度合作</p>
						</div>
					</li>
					<li class="clrfloat">
						<div class="fl pic">
							<img src="../images/icon_yzfw.png" />
						</div>
						<div class="fl text">
							<h3>优质的服务</h3>
							<p>24小时在线咨询，100%无条件退款</p>
						</div>
					</li>
					<li class="clrfloat">
						<div class="fl pic">
							<img src="../images/icon_lhwq.png" />
						</div>
						<div class="fl text">
							<h3>3000㎡ 实体办公</h3>
							<p>在国内有3000㎡的实体办公场地</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<footer>
			<a  href="tel:4000992520" class="tel fl clrfloat">
				<i class="icon_tel fl"><img src="../images/tel_new.png"/></i>
				<span>电话咨询</span>
			</a>
			<a href="#" class="online kf_haoshi fl">
				<span>在线分析</span>
			</a>
		</footer>
		<div class="tel_fixed">
			<a href="tel:4000992520"><img src="../images/tel_new.png"/></a>
		</div>
  <script src="//static1.ydlcdn.com/mobile/js/jquery-2.1.0.min.js"></script>
  <script src="//static.ydlcdn.com/v4/common/service_online_system/index.js"></script>

	</body>
</html>
