<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>情感壹点灵 您身边的婚姻保卫专家</title>
    <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.ico"/>
    <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../css/global.css" />
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?5d0ee121671036fba08648207a36bc3a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
	</head>

	<body style="background: rgb(247, 247, 247)">
		<header>
			<div class="logo fl">
				<img src="../images/logo-B.png" />
			</div>
			<div class="desp fr">
				中科院合作单位<br /> 中国人保PICC全面承保
			</div>
		</header>
		<div class="haoshi-e haoshi">
			<div class="banner">
				<img class="banner-pic" src="../images/banner-E.jpg" />
			</div>
			<div class="content01">
				<div class="title">
					<h1>为你全方位服务</h1>
					<div class="sub"></div>
				</div>
				<ul class="clrfloat">
					<li>
						<div class="img">
							<img src="../images/icon_wjaq_e.png"/>
						</div>
						<h3>挽救爱情</h3>
						<p>提升个人魅力<br />化解情感危机</p>
					</li>
					<li>
						<div class="img">
							<img src="../images/icon_flxs_e.png" />
						</div>
						<h3>分离小三</h3>
						<p>摆脱第三者<br />让爱重回家庭</p>
					</li>
					<li>
						<div class="img">
							<img src="../images/icon_lhwq_e.png" />
						</div>
						<h3>离婚维权</h3>
						<p>离婚评估<br />维护您的权益</p>
					</li>
				</ul>
			</div>
		</div>
		<footer>
			<a href="javascript:;" class="tel fl clrfloat">
				<i class="icon_tel fl"><img src="../images/tel_new.png"/></i>
				<span>电话咨询</span>
			</a>
			<a href="javascript:;" class="online fl">
				<span>在线分析</span>
			</a>
		</footer>
	</body>

</html>
