<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>你真实的心理性别是什么？</title>
    <link rel="stylesheet" href="./css/public.css">

	</head>

	<body>
    <div class="box">
      <div class="text">
        <p>长按识别下方二维码</p>
        <p>加入<em>「考拉测试」</em></p>
        <p>立即开始<em>《你真实的心理性别是什么？》</em>测试</p>
      </div>
      <div class="poi"><img src="./images/poi.gif" /></div>
      <div class="qrcode"><img src="./images/qrcode2.jpg" /></div>
    </div>
  </body>
</html>
