<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta content="always" name="referrer">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <meta name="csrf-param" content="_csrf">
  <meta name="csrf-token" content="oVXUAKIViCmW6rwB3P-KNEMU-g3cu1l0n1bsNy7xUSzKGbdZmnnFTvuw8ESKlMlac1OibJfjDC7eHoRgGskTbg==">
  <title>618知识狂欢节</title>
  <meta name="keywords" content="壹点灵"/>
  <meta name="description" content="壹点灵"/>
  <!-- css -->
  <link rel="stylesheet" href="//static.ydlcdn.com/global/weui/lib/weui.min.css" />
  <link rel="stylesheet" href="//static.ydlcdn.com/global/weui/css/jquery-weui.min.css" />
  <link rel="stylesheet" href="//static.ydlcdn.com/mobile/css/ydl_v3.css?20180606" />
  <link rel="stylesheet" href="//static.ydlcdn.com/global/weui/fonts/iconfont.css">
  <script src="//static.ydlcdn.com/mobile/js/jquery-2.1.0.min.js"></script>
  <script src="//static.ydlcdn.com/global/weui/js/jquery-weui.min.js"></script>
  <script src="//static.ydlcdn.com/global/weui/lib/fastclick.js"></script>
  <!-- css end -->

  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?7c8185f43722bc3b2b29a42be1f2ef8d";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>


</head>

<body class="positionr">

<div class="mobile-nav">
  <div class="mobile-nav-bg"></div>
  <div class="common-header">
    <ul class="overH">
      <li class="fl person-center">
        <a href="/">
          <img src="//static.ydlcdn.com/mobile/images/btn_nav_home.png" alt="" class="nav-icon" />
        </a>
        <span>618知识狂欢节</span>
      </li>
      <li class="fr">
        <a href="/login">
          <img src="//static.ydlcdn.com/mobile/images/btn_nav_my.png" alt="" class="nav-icon">
        </a>
        <a href="javascript:void(0);" class="kefu">
          <img src="//static.ydlcdn.com/mobile/images/btn_nav_kefu.png" alt="" class="nav-icon">
        </a>
        <a href="javascript:void(0);" class="menu">
          <img src="//static.ydlcdn.com/mobile/images/btn_nav_menu.png" alt="" class="nav-icon">
        </a>
      </li>
    </ul>
    <p class="line"></p>
  </div>
  <div class="common-aside">
    <ul class="overH btn-icon">
      <li class="fl">
        <a href="/sms-web/" class="news">
          <img src="//static.ydlcdn.com/mobile/images/btn_nav_news.png" alt="" class="nav-icon">
        </a>
      </li>
      <li class="fr">
        <a href="javascript:void(0);" class="close">
          <img src="//static.ydlcdn.com/mobile/images/btn_nav_close.png" alt="" class="nav-icon">
        </a>
      </li>
    </ul>
    <ul class="items items1">
      <li class="item">
        <a href="/" class="fs-17 fc-333">首页</a>
      </li>
    </ul>
    <div class="lines">
      <p></p>
    </div>
    <ul class="items items2">
      <li class="item">
        <a href="/experts/category/" class="fs-17 fc-333">找专家</a>
      </li>
      <li class="item">
        <a href="/listen/" class="fs-17 fc-333">电话倾诉</a>
      </li>
      <li class="item">
        <a href="/course/" class="fs-17 fc-333">心理课程</a>
      </li>
      <li class="item">
        <a href="/ask/" class="fs-17 fc-333">在线问答</a>
      </li>
      <li class="item">
        <a href="/ceshi/" class="fs-17 fc-333">心理测试</a>
      </li>
      <li class="item">
        <a href="/jingyan/" class="fs-17 fc-333">文章</a>
      </li>
      <li class="item">
        <a href="/case/" class="fs-17 fc-333">案例</a>
      </li>
    </ul>
    <!-- <div class="load-btn fs-15" onclick="javaScript:window.location.href = '/app';">下载APP</div> -->
    <a href="/app"><div class="load-btn fs-15">下载app</div></a>
    <div class="lines">
      <p></p>
    </div>
    <ul class="items items3">
      <li class="item">
        <a href="/enter/" class="fs-17 fc-333">专家入驻</a>
      </li>
      <li class="item">
        <a href="/about/" class="fs-17 fc-333">关于我们</a>
      </li>
      <li class="item">
        <a href="/help/" class="fs-17 fc-333">帮助中心</a>
      </li>
      <li class="item last-item">
        <a href="//m2.yidianling.com/opion/opion" class="fs-17 fc-333">意见反馈</a>
      </li>
    </ul>
  </div>
</div>
<script>
  //导航
  $(function() {
    $(".mobile-nav .menu").off("click").on("click", function(e) {
      event.stopPropagation();//阻止事件的冒泡
      $(".mobile-nav-bg").show().css("overflow", "hidden");
      $(".mobile-nav .common-aside").show();
      $("body").css({"overflow":"hidden","position":"fixed"});
    });
    $(".mobile-nav-bg").off("click").on("click", function() {
      $(this).hide().css("overflow", "auto");
      $(".mobile-nav .common-aside").hide();
      $("body").css({"overflow":"auto","position":"relative"});
    });
    $(".mobile-nav-bg").off("touchmove").on("touchmove", function(e) {
      e.preventDefault();  //禁止touchmove的默认操作（即拖动页面）
      e.stopPropagation();  //禁止touchmove的默认操作（即拖动页面）
    });
    $(".mobile-nav .close").off("click").on("click", function() {
      $(".mobile-nav-bg").hide().css("overflow", "auto");
      $(".mobile-nav .common-aside").hide();
      $("body").css({"overflow":"auto","position":"relative"});
    })
  })
</script>
<!--<link rel="stylesheet" href="https://kc.yidianling.com/618mobile/static/css/common.css?201806141221">-->
<link rel="stylesheet" href="./static/css/common.css">
<!--<link rel="stylesheet" href="https://kc.yidianling.com/618mobile/static/css/index.css?201806142212311">-->
<link rel="stylesheet" href="./static/css/index.css">
<script src="//kc.yidianling.com/618mobile/static/js/rem.js?201806142212311"></script>
<script src="//hm.baidu.com/hm.js?709754f516138e611122a5d559d83423"></script>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?709754f516138e611122a5d559d83423";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script>
  var hostInfo = '//m.yidianling.com';
  var platform = 'iphone';
  var browser = 'safari';
  window.sendDataToOC = function(params) {

  };
  if(browser == 'applewebkit') {
    function connectWebViewJavascriptBridge(callback) {
      if (window.WebViewJavascriptBridge) {
        callback(WebViewJavascriptBridge)
      } else {
        document.addEventListener('WebViewJavascriptBridgeReady', function() {
          callback(WebViewJavascriptBridge)
        }, false)
      }
    }
    connectWebViewJavascriptBridge(
      function(bridge) {
        bridge.init(function(message, responseCallback) {
        })

        bridge.registerHandler('javascriptHandler', function(data, responseCallback) {
        })

        window.sendDataToOC = function(params) {
          bridge.callHandler("javascriptHandler", params, function(response){

            if(typeof response.uid == 'undefined') {
              return;
            }
            loginSite(response);
          });
        }
      }
    );
  } else {//android

    window.sendDataToOC = function(params) {
      var a = '';
      a = JSON.stringify(params);
      window.javascriptHandler.sendDataToOC(a);
      //alert(123);
    };
  }

  //专家版 使用 wkview 注册方法
  function sendDataToExp(params) {
    if(browser == 'applewebkit') {
      window.webkit.messageHandlers.MModel.postMessage(params);
    } else {
      var a = '';
      a = JSON.stringify(params);
      window.javascriptHandler.sendDataToOC(a);
    }
  }

  function gotoOCChatCall(args) {
    var params = {};
    params.cmd = {};

    params.cmd.params = args;
    params.cmd.action_name = 'chat_call';

    params.url = 'ydl_app';

    sendDataToExp(params);
  }
  function sendData (par, action_name, scheme, type) {
    var params = {};
    params.cmd = {params:par, action_name: action_name};
    params.url = scheme;

    console.log(params);
    if(type == 2) {//专家版本
      sendDataToExp(params);
      return;
    }
    sendDataToOC(params);
  }
  function loginOc() {
    var params = {};
    params.cmd = {};

    params.cmd.params = {};
    params.cmd.action_name = 'login';
    params.url = 'ydl_app';

    sendDataToOC(params);
  }
  //组装传入参数
  function setParams(action_name,params,_url) {
    var data = {
      url:_url,
      cmd:{
        action_name:action_name,
        params:params
      }
    };
    console.log(data);
    sendDataToOC(data);
  }
</script>
<body>
<header class="mt40">
  <img src="//kc.yidianling.com/618mobile/static/images/banner.jpg" alt="" width="100%">
  <div class="tac pb30">
    <span class="time">抢购时间：6.16-6.18</span>
  </div>
  <div class="df white lists">
    <div class="fx1">
      <div class="paneOne">
        <a href="#a1">
          <h3>精品好课</h3>
          <div>
            折扣不止6.18折
          </div>
        </a>
      </div>
    </div>

    <div class="fx1">
      <div class="paneOne">
        <a href="#a2">
          <h3>买二赠一</h3>
          <div>
            优惠不止一点点
          </div>
        </a>
      </div>
    </div>

    <div class="fx1">
      <div class="paneOne">
        <a href="#a3">
          <h3>新课推荐</h3>
          <div>
            618好课来袭
          </div>
        </a>
      </div>
    </div>


  </div>
</header>
<div id="a1" style="height: 0.3rem;"></div>
<div class="container">
  <div class="box">
    <div class="mb30">
      <h2 class="boxTitle">精品好课</h2>
    </div>
    <div class="boxContent">
      <div class="item">
        <div class="fx1 rel mr10">
          <a href="javascript:toCourse(627)" >
            <img src="//img.ydlcdn.com/file/2018/04/28/an6opwqdx2i6hxz0.jpg" alt="" class="itemImg">
            <span class="flag618">
                                618特价
                            </span>
          </a>
        </div>
        <div class="fx1">
          <a href="javascript:toCourse(627)" >
            <div class="row1 fz16 b w200">三招核心技能 摆脱抑郁情绪</div>
            <div class="row1" style="padding-bottom:0.03rem;width:1.8rem;">三招核心技能 摆脱抑郁情绪</div>
          </a>
          <div>
            <span class="fz18 b ls1-">¥ 66.0</span>
            <del class="fz12 c9">¥118.0</del>
          </div>
          <button class="btn abs2 r0 b0" onclick="new_go_order(627)">
            立即抢购
          </button>
        </div>
      </div>
      <div class="item">
        <div class="fx1 rel mr10">
          <a href="javascript:toCourse(645)" >
            <img src="//img.ydlcdn.com/file/2018/04/28/9xwdgerzktgq7mwz.jpg" alt="" class="itemImg">
            <span class="flag618">
                                618特价
                            </span>
          </a>
        </div>
        <div class="fx1">
          <a href="javascript:toCourse(645)" >
            <div class="row1 fz16 b w200">警惕毁灭学生生涯的三种情绪</div>
            <div class="row1" style="padding-bottom:0.03rem;width:1.8rem;">警惕毁灭学生生涯的三种情绪</div>
          </a>
          <div>
            <span class="fz18 b ls1-">¥ 68.0</span>
            <del class="fz12 c9">¥120.0</del>
          </div>
          <button class="btn abs2 r0 b0" onclick="new_go_order(645)">
            立即抢购
          </button>
        </div>
      </div>
      <div class="item">
        <div class="fx1 rel mr10">
          <a href="javascript:toCourse(801)" >
            <img src="//img.ydlcdn.com/file/2018/04/28/9sszv6etmkyyn9vx.jpg" alt="" class="itemImg">
            <span class="flag618">
                                618特价
                            </span>
          </a>
        </div>
        <div class="fx1">
          <a href="javascript:toCourse(801)" >
            <div class="row1 fz16 b w200">夫妻沟通的心法与方法 你不得不学的30招</div>
            <div class="row1" style="padding-bottom:0.03rem;width:1.8rem;">夫妻沟通的心法与方法 你不得不学的30招秘籍</div>
          </a>
          <div>
            <span class="fz18 b ls1-">¥ 69.0</span>
            <del class="fz12 c9">¥128.0</del>
          </div>
          <button class="btn abs2 r0 b0" onclick="new_go_order(801)">
            立即抢购
          </button>
        </div>
      </div>
    </div>
    <div id="a2"></div>
  </div>
  <div class="box">
    <div class="mb30">
      <h2 class="boxTitle">买二赠一</h2>
    </div>
    <div class="boxContent">
      <div class="df mb20">
        <div class="fx1">
          <div  class="bd1 bdrs10">
            <div class="bannerBj" style='background: url("https://img.ydlcdn.com/file/2018/04/28/4qxol9a0rabw6bql.jpg") no-repeat center; background-size: 100% 0.9rem;'>
              <a href="javascript:toCourse(426)"  style="width: 100%;height:100%;"></a>
            </div>
            <div class="p5">
              <a href="javascript:toCourse(426)"  style="width: 100%;" >
                <div class="rel">
                  <div class="row2 fz16 b mb5" style="height: 0.45rem">如何快速走进男人内心，并消除情感危机？</div>
                  <div>
                    <span class="fz18 b ls1-">¥ 99.0</span>
                    <del class="fz12 c9">¥ 169.0</del>
                  </div>
                  <span class="flag2">
                                        618特价
                                    </span>
                </div>
              </a>
              <button class="btn r0 b0 w100p mt5 bdrs5" onclick="new_go_order(426)">
                立即抢购
              </button>
            </div>
          </div>
        </div>
        <div style="width:0.08rem"></div>

        <div class="fx1">
          <div  class="bd1 bdrs10">
            <div class="bannerBj" style='background: url("https://img.ydlcdn.com/file/2018/04/28/khshjz2zzc44h818.jpg") no-repeat center; background-size: 100% 0.9rem;'>
              <a href="javascript:toCourse(498)"  style="width: 100%;height:100%;"></a>
            </div>
            <div class="p5">
              <a href="javascript:toCourse(498)"  style="width: 100%;" >
                <div class="rel">
                  <div class="row2 fz16 b mb5" style="height: 0.45rem">教你让孩子赢在起跑线上，情商高的孩子更容易成功！</div>
                  <div>
                    <span class="fz18 b ls1-">¥ 89.0</span>
                    <del class="fz12 c9">¥ 299.0</del>
                  </div>
                  <span class="flag2">
                                        618特价
                                    </span>
                </div>
              </a>
              <button class="btn r0 b0 w100p mt5 bdrs5" onclick="new_go_order(498)">
                立即抢购
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="df mb20">
        <div class="fx1">
          <div  class="bd1 bdrs10">
            <div class="bannerBj" style='background: url("https://img.ydlcdn.com/file/2018/04/28/tpbj75cclo5s6vw5.jpg") no-repeat center; background-size: 100% 0.9rem;'>
              <a href="javascript:toCourse(504)"  style="width: 100%;height:100%;"></a>
            </div>
            <div class="p5">
              <a href="javascript:toCourse(504)"  style="width: 100%;" >
                <div class="rel">
                  <div class="row2 fz16 b mb5" style="height: 0.45rem">如何才能驭夫有术？这些被出轨雷区千万别踩</div>
                  <div>
                    <span class="fz18 b ls1-">¥ 158.0</span>
                    <del class="fz12 c9">¥890.0</del>
                  </div>
                  <span class="flag2">
                                        618特价
                                    </span>
                </div>
              </a>
              <button class="btn r0 b0 w100p mt5 bdrs5" onclick="new_go_order(504)">
                立即抢购
              </button>
            </div>
          </div>
        </div>
        <div style="width:0.08rem"></div>

        <div class="fx1">
          <div  class="bd1 bdrs10">
            <div class="bannerBj" style='background: url("https://img.ydlcdn.com/file/2018/04/28/1u7siflho6ii0i5e.jpg") no-repeat center; background-size: 100% 0.9rem;'>
              <a href="javascript:toCourse(555)"  style="width: 100%;height:100%;"></a>
            </div>
            <div class="p5">
              <a href="javascript:toCourse(555)"  style="width: 100%;" >
                <div class="rel">
                  <div class="row2 fz16 b mb5" style="height: 0.45rem">7招破译职场套路丨让你人缘更好，加薪更快</div>
                  <div>
                    <span class="fz18 b ls1-">¥ 99.0</span>
                    <del class="fz12 c9">¥159.0</del>
                  </div>
                  <span class="flag2">
                                        618特价
                                    </span>
                </div>
              </a>
              <button class="btn r0 b0 w100p mt5 bdrs5" onclick="new_go_order(555)">
                立即抢购
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="df mb20">
        <div class="fx1">
          <div  class="bd1 bdrs10">
            <div class="bannerBj" style='background: url("https://img.ydlcdn.com/file/2018/04/28/yj1vcqh8l1qst0q3.jpg") no-repeat center; background-size: 100% 0.9rem;'>
              <a href="javascript:toCourse(587)"  style="width: 100%;height:100%;"></a>
            </div>
            <div class="p5">
              <a href="javascript:toCourse(587)"  style="width: 100%;" >
                <div class="rel">
                  <div class="row2 fz16 b mb5" style="height: 0.45rem">情商高的女人，连吵架都是甜蜜的</div>
                  <div>
                    <span class="fz18 b ls1-">¥ 128.0</span>
                    <del class="fz12 c9">¥258.0</del>
                  </div>
                  <span class="flag2">
                                        618特价
                                    </span>
                </div>
              </a>
              <button class="btn r0 b0 w100p mt5 bdrs5" onclick="new_go_order(587)">
                立即抢购
              </button>
            </div>
          </div>
        </div>
        <div style="width:0.08rem"></div>

        <div class="fx1">
          <div  class="bd1 bdrs10">
            <div class="bannerBj" style='background: url("https://img.ydlcdn.com/file/2018/04/28/o33mylxojd4vk02g.jpg") no-repeat center; background-size: 100% 0.9rem;'>
              <a href="javascript:toCourse(732)"  style="width: 100%;height:100%;"></a>
            </div>
            <div class="p5">
              <a href="javascript:toCourse(732)"  style="width: 100%;" >
                <div class="rel">
                  <div class="row2 fz16 b mb5" style="height: 0.45rem">高端撩汉调情攻略 6堂课彻底虏获男人心</div>
                  <div>
                    <span class="fz18 b ls1-">¥ 88.0</span>
                    <del class="fz12 c9">¥280.0</del>
                  </div>
                  <span class="flag2">
                                        618特价
                                    </span>
                </div>
              </a>
              <button class="btn r0 b0 w100p mt5 bdrs5" onclick="new_go_order(732)">
                立即抢购
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="df mb20">
        <div class="fx1">
          <div  class="bd1 bdrs10">
            <div class="bannerBj" style='background: url("https://img.ydlcdn.com/file/2018/04/28/i7lge3e68lhofkxp.jpg") no-repeat center; background-size: 100% 0.9rem;'>
              <a href="javascript:toCourse(917)"  style="width: 100%;height:100%;"></a>
            </div>
            <div class="p5">
              <a href="javascript:toCourse(917)"  style="width: 100%;" >
                <div class="rel">
                  <div class="row2 fz16 b mb5" style="height: 0.45rem">大咖亲授｜如何成为正能量的情商高手</div>
                  <div>
                    <span class="fz18 b ls1-">¥ 298.0</span>
                    <del class="fz12 c9">¥500.0</del>
                  </div>
                  <span class="flag2">
                                        618特价
                                    </span>
                </div>
              </a>
              <button class="btn r0 b0 w100p mt5 bdrs5" onclick="new_go_order(917)">
                立即抢购
              </button>
            </div>
          </div>
        </div>
        <div style="width:0.08rem"></div>

        <div class="fx1">
          <div  class="bd1 bdrs10">
            <div class="bannerBj" style='background: url("https://img.ydlcdn.com/file/2018/04/23/srnxc7lswu18sppv.jpg") no-repeat center; background-size: 100% 0.9rem;'>
              <a href="javascript:toCourse(977)"  style="width: 100%;height:100%;"></a>
            </div>
            <div class="p5">
              <a href="javascript:toCourse(977)"  style="width: 100%;" >
                <div class="rel">
                  <div class="row2 fz16 b mb5" style="height: 0.45rem">男士脱单秘籍丨12堂课让你成为偷心大盗</div>
                  <div>
                    <span class="fz18 b ls1-">¥ 99.0</span>
                    <del class="fz12 c9">¥199.0</del>
                  </div>
                  <span class="flag2">
                                        618特价
                                    </span>
                </div>
              </a>
              <button class="btn r0 b0 w100p mt5 bdrs5" onclick="new_go_order(977)">
                立即抢购
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="df mb20">
        <div class="fx1">
          <div  class="bd1 bdrs10">
            <div class="bannerBj" style='background: url("https://img.ydlcdn.com/file/2018/05/09/ujeexwsgbpr0vxuj.jpg") no-repeat center; background-size: 100% 0.9rem;'>
              <a href="javascript:toCourse(1009)"  style="width: 100%;height:100%;"></a>
            </div>
            <div class="p5">
              <a href="javascript:toCourse(1009)"  style="width: 100%;" >
                <div class="rel">
                  <div class="row2 fz16 b mb5" style="height: 0.45rem">【主编推荐】高情商沟通实践课丨让你搞定所有人的实用说话技巧</div>
                  <div>
                    <span class="fz18 b ls1-">¥ 99.0</span>
                    <del class="fz12 c9">¥200.0</del>
                  </div>
                  <span class="flag2">
                                        618特价
                                    </span>
                </div>
              </a>
              <button class="btn r0 b0 w100p mt5 bdrs5" onclick="new_go_order(1009)">
                立即抢购
              </button>
            </div>
          </div>
        </div>
        <div style="width:0.08rem"></div>

        <div class="fx1">
          <div  class="bd1 bdrs10">
            <div class="bannerBj" style='background: url("https://img.ydlcdn.com/file/2018/05/22/c4bzrgq7lzfcqkz3.jpg") no-repeat center; background-size: 100% 0.9rem;'>
              <a href="javascript:toCourse(1078)"  style="width: 100%;height:100%;"></a>
            </div>
            <div class="p5">
              <a href="javascript:toCourse(1078)"  style="width: 100%;" >
                <div class="rel">
                  <div class="row2 fz16 b mb5" style="height: 0.45rem">相爱容易相处难，你不得不学的91招婚恋秘籍</div>
                  <div>
                    <span class="fz18 b ls1-">¥ 199.0</span>
                    <del class="fz12 c9">¥259.0</del>
                  </div>
                  <span class="flag2">
                                        618特价
                                    </span>
                </div>
              </a>
              <button class="btn r0 b0 w100p mt5 bdrs5" onclick="new_go_order(1078)">
                立即抢购
              </button>
            </div>
          </div>
        </div>

      </div>


    </div>
    <div class="mb15">
      <div class="labelBj">
        <span class="pl5">玩法说明</span>
      </div>
      <ul>
        <li class="df mb5">
          <div style="width: 0.35rem;">
            <span class="bot">1</span>
          </div>
          <div>
            购买“买二赠一”活动内两个及以上课程，皆可享受赠一活动；
          </div>
        </li>

        <li class="df mb5">
          <div style="width: 0.35rem;">
            <span class="bot">2</span>
          </div>
          <div>
            一个用户只享受一次赠送活动;
          </div>
        </li>

        <li class="df mb5">
          <div style="width: 0.35rem;">
            <span class="bot">3</span>
          </div>
          <div>
            赠送课程不限课程内容，可选择用户课程中任一课程进行兑换;
          </div>
        </li>
      </ul>
    </div>
    <div class="mb15">
      <div class="labelBj">
        <span class="pl5">兑换方式</span>
      </div>
      <p>
        请添加客服微信领取兑换奖励
      </p>
      <div>
        搜索微信号：<b>17826978324</b>
        <div style="padding-left: 0.83rem">(备注壹点灵+注册手机号)</div>
      </div>

    </div>
    <div id="a3"></div>
  </div>
  <div class="box" id="a3">
    <div class="mb30">
      <h2 class="boxTitle">课程推荐</h2>
    </div>
    <div class="boxContent">
      <div class="item">
        <div class="fx1 rel mr10">
          <a href="javascript:toCourse(1261)" >
            <img src="//img.ydlcdn.com/file/2018/06/05/4zud9nhmvevov13w.jpg" alt="" class="itemImg">
            <span class="flag618">
                                618特价
                            </span>
          </a>
        </div>
        <div class="fx1">
          <a href="javascript:toCourse(1261)" >
            <div class="row1 fz16 b w200">50招智慧挽回出轨爱人丨帮你保卫婚姻不吃暗亏</div>
            <div class="row1" style="padding-bottom:0.03rem;width:1.8rem;">主讲专家：沈爱春</div>
          </a>
          <div>
            <span class="fz18 b ls1-">¥ 199.0</span>
            <del class="fz12 c9">¥480.0</del>
          </div>
          <button class="btn abs2 r0 b0" onclick="new_go_order(1261)">
            立即抢购
          </button>
        </div>
      </div>
      <div class="item">
        <div class="fx1 rel mr10">
          <a href="javascript:toCourse(1402)" >
            <img src="//img.ydlcdn.com/file/2018/06/14/q4jl7hrknx2q9q2v.jpg" alt="" class="itemImg">
            <span class="flag618">
                                618特价
                            </span>
          </a>
        </div>
        <div class="fx1">
          <a href="javascript:toCourse(1402)" >
            <div class="row1 fz16 b w200">打赢婚姻保卫战，只需这三招</div>
            <div class="row1" style="padding-bottom:0.03rem;width:1.8rem;">主讲专家：徐晓晖</div>
          </a>
          <div>
            <span class="fz18 b ls1-">¥ 29.9</span>
            <del class="fz12 c9">¥39.9</del>
          </div>
          <button class="btn abs2 r0 b0" onclick="new_go_order(1402)">
            立即抢购
          </button>
        </div>
      </div>
      <div class="item">
        <div class="fx1 rel mr10">
          <a href="javascript:toCourse(1416)" >
            <img src="//img.ydlcdn.com/file/2018/06/14/cd4pc4n5to4trao1.jpg" alt="" class="itemImg">
            <span class="flag618">
                                618特价
                            </span>
          </a>
        </div>
        <div class="fx1">
          <a href="javascript:toCourse(1416)" >
            <div class="row1 fz16 b w200">告别情绪化的自己，做情绪的主人</div>
            <div class="row1" style="padding-bottom:0.03rem;width:1.8rem;">主讲专家：蒋安慧</div>
          </a>
          <div>
            <span class="fz18 b ls1-">¥ 39.9</span>
            <del class="fz12 c9">¥49.9</del>
          </div>
          <button class="btn abs2 r0 b0" onclick="new_go_order(1416)">
            立即抢购
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="box" style="background: #d1a2ff;margin-top: 0.3rem;margin-bottom: 0.3rem;">
    <div class="line_01">
            <span>
                活动说明
            </span>
    </div>
    <ul>
      <li class="df mb5">
        <div style="width: 0.2rem;">
          <span class="bot" style="background: #ab6bff;">1</span>
        </div>
        <div>
          课程购买后，不支持退费
        </div>
      </li>

      <li class="df mb5">
        <div style="width: 0.2rem;">
          <span class="bot" style="background: #ab6bff;">2</span>
        </div>
        <div>
          任何疑问，请联系客服协助处理
        </div>
      </li>
    </ul>

    <div class="tac" style="width: 1.8rem;margin:0.3rem auto 0 auto" >
      <div class="test1">
        客服电话:400-114-1010
      </div>
      <div class="test1">
        服务热线(早8:00-凌晨1:00)
      </div>
    </div>
  </div>
</div>

<script>
  var csrfToken = 'oVXUAKIViCmW6rwB3P-KNEMU-g3cu1l0n1bsNy7xUSzKGbdZmnnFTvuw8ESKlMlac1OibJfjDC7eHoRgGskTbg==';
  var uid = '';
  var ffrom = 'iphone';
  var hostInfo = '//m.yidianling.com';
  console.log(location.href);
</script>
</body><script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"> </script>
<script type="text/javascript">
  var share_info = JSON.parse('{"desc":"\u7cbe\u54c1\u597d\u8bfe6.18\u6298\uff0c\u66f4\u6709\u4e70\u4e8c\u9001\u4e00\uff0c\u65b0\u8bfe\u5c1d\u9c9c\uff0c\u4f18\u60e0\u4e0d\u6b62\u4e00\u70b9\u70b9\uff01","title":"618\u77e5\u8bc6\u72c2\u6b22\u8282\uff0c\u4f60\u60f3\u4e0d\u5230\u7684\u4f18\u60e0","cover":"https:\/\/img.ydlcdn.com\/file\/2018\/06\/13\/52lrcqecke85810n.jpg","share_url":"http:\/\/m.yidianling.com\/activity\/course18618"}');
  console.log(share_info);
  wx.config({
    debug: false,
    appId: 'wx2bc3e1648beb8caa', // 必填，公众号的唯一标识
    timestamp: '1529039851', // 必填，生成签名的时间戳，切记时间戳是整数型，别加引号
    nonceStr: 'bU0RNwGJdajqfoFU', // 必填，生成签名的随机串
    signature: '3f97c0bd8de5fdd453a4c7dcf4e9ba0b1de4e334', // 必填，签名，见附录1
    jsApiList: [
      'checkJsApi',
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareWeibo',
      'hideMenuItems',
      'showMenuItems',
      'hideAllNonBaseMenuItem',
      'showAllNonBaseMenuItem',
      'translateVoice',
      'startRecord',
      'stopRecord',
      'onRecordEnd',
      'playVoice',
      'pauseVoice',
      'stopVoice',
      'uploadVoice',
      'downloadVoice',
      'chooseImage',
      'previewImage',
      'uploadImage',
      'downloadImage',
      'getNetworkType',
      'openLocation',
      'getLocation',
      'hideOptionMenu',
      'showOptionMenu',
      'closeWindow',
      'scanQRCode',
      'chooseWXPay',
      'openProductSpecificView',
      'addCard',
      'chooseCard',
      'openCard'
    ]
  });
  wx.ready(function(){
    var shareconfig = { //分享到朋友圈
      title: share_info.title, // 分享标题
      desc: share_info.desc,
      link: share_info.share_url, // 分享链接
      imgUrl: share_info.cover, // 分享图标
      success: function (res) {
      },
      cancel: function () {
      }
    };
    wx.onMenuShareTimeline(shareconfig);  //朋友圈
    wx.onMenuShareAppMessage(shareconfig); //分享给朋友
  });


  function toCourse(course_id) {
    if(course_id) {
      window.location.href = '/course/'+course_id+'?from=singlemessage&isappinstalled=0';
    }
  }

  function goLogin() {
    location.href = '/login';
  }

  //下订单
  function new_go_order(course_id) {
    if( !uid ){
      goLogin();
      return;
    }
    $.showLoading("正在提交...");
    $.ajax({
      url: '/course/add-order',
      type: 'post',
      dataType: 'json',
      data: {
        course_id: course_id,
        ffrom : ffrom,
        _csrf : csrfToken
      },
    })
      .done(function(rs) {
        $.hideLoading();
        if(rs.code == 0 && rs.data.payId != undefined)
        {
          location.href = '/pay/pay/?id=' + rs.data.payId;
        }
        if(rs.code == 0 && rs.data.length == 0){
          $.toast(rs.msg)
          setTimeout(function () {
            location.href = location.href;
          },500)
        }
        if(rs.code != 0){
          $.toast(rs.msg,"cancel")
        }
      })

  }
</script>
<div class="mobileNew">
  <div class="mNewFooter">
    <ul class="items">
      <li><a href="/">首页</a></li>
      <li><a href="/about">关于我们</a></li>
      <li><a href="/app">App下载</a></li>
      <li><a href="//m2.yidianling.com/opion/opion">意见反馈</a></li>
    </ul>
    <p class="hotLine">服务热线：<a class="number" href="tel:400-114-1010">400-114-1010</a></p>
    <p class="workTime">（服务时间：当日08:00-次日02:00）</p>
    <p class="address">© 2015 - 2018上海袋虎信息技术有限公司 <br>沪ICP备15037258号</p>
  </div>
</div>


<div style="display:none;">
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " //");document.write(unescape("%3Cspan id='cnzz_stat_icon_1263672988'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1263672988' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

</body>
</html>


<!--<div class="kf-btn">-->
<!--    <img src="//static.ydlcdn.com/mobile/images/btn_floating_kefu.png"/>-->
<!--    <div>客服</div>-->
<!--</div>-->
<div class="kf-share-mask"></div>
<div class="kf-share-wrapper">
  <div class="kf-share-box">
    <img src="//static.ydlcdn.com/mobile/images/img_pop_kefu.png" class="pop-kefu">
    <a href="tel:400-114-1010" class="kf-phone-btn clearfix"><img class="fl" src="//static.ydlcdn.com/mobile/images/ico_pop_phone.png"/><span class="fl">情感热线(400-114-1010)</span></a>
    <a href="https://dat.zoosnet.net/LR/Chatpre.aspx?id=DAT83236505&lng=cn" class="kf-dialog-btn"
       target="_blank"><img class="fl" src="//static.ydlcdn.com/mobile/images/ico_pop_msg.png"/><span class="fl">在线客服</span></a>
    <p class="kf-tip-text">早8:00-凌晨1:00</p>
    <img  src="//static.ydlcdn.com/mobile/images/course_close.png" class="kf-share-close">
  </div>
</div>
<script>
  // 点击分享条出分享弹窗
  $('.kefu').click(function () {
    $('.kf-share-mask').addClass('visible');
    $('.kf-share-box').addClass('visible');
  });

  // 关闭分享弹窗
  $('.kf-share-close').click(function () {
    $('.kf-share-mask').removeClass('visible');
    $('.kf-share-box').removeClass('visible');
  });
  $('.kf-share-mask').click(function () {
    $('.kf-share-mask').removeClass('visible');
    $('.kf-share-box').removeClass('visible');
  });
</script>
