<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>壹点灵-心理咨询师考试报名</title>
  <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.hs.ico" />
  <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.hs.ico" />
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="stylesheet" href="./css/old_about.css">
  <link rel="stylesheet" href="./css/love.css" />
  <link rel="stylesheet" href="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.css" />
  <link rel="stylesheet" href="./css/love.css?201801301112" />
  <link rel="stylesheet" href="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.css" />
  <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
  <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
  <link rel="stylesheet" href="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.css">
  <link rel="stylesheet" href="css/kz_pc.css?20180305">
  <script src="./js/jquery-1.11.2.min.js"></script>
  <script src="./js/love.js"></script>
  <script src="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.js"></script>

</head>

<body>
<div class="top" style="background: #fff">
  <div class="inner">
    <a href="kaozheng.html" class="top-logo"></a>
    <div class="fr">
      <p class="top-desc">服务时间：早8:00-凌晨1:00</p>
      <p class="top-tel"><i class="top-tel-icon"></i><span></span>400-114-1010</p>
    </div>
  </div>
</div>
<div class="nav">
  <nav>
    <ul class="inner clearfix">
      <li class="nav-item active">
        <a href="./index.html">首页</a>
      </li>
      <li class="nav-item">
        <a href="./index.html">报考信息</a>
      </li>
      <li class="nav-item">
        <a href="./index.html">证书介绍</a>
      </li>
      <li class="nav-item">
        <a href="./index.html">常见问题</a>
      </li>
      <li class="nav-item">
        <a href="javascript:" onClick="showModal()">报考咨询</a>
      </li>
      <li class="nav-item">
        <a href="//kc.yidianling.com/index_kz.html">证书查询</a>
      </li>
      <li class="nav-item">
        <a href="about.html">公司介绍</a>
      </li>
      <li class="nav-item">
        <a href="about_cont.html">联系我们</a>
      </li>
    </ul>
  </nav>
</div>
<!--头部-->
<div class="aboutWrapper aboutWrapperBox">
  <div class="about_banner"></div>
  <div class="aboutBox">
    <div class="subMenu">
      <ul>
        <li>
          <a href="about.html">公司介绍</a>
        </li>
        <li class="cur">
          <a href="about_cont.html">联系我们</a>
        </li>
      </ul>
    </div>
    <div class="about_content">

      <div class="founder-content">
        <div class="item clearfix left">
          <div class="desc">
            <h2>联系我们</h2><br>
            <p> 联系电话：400-114-1010 <br>客服邮箱：kf@yidianling.com<br>商务合作：bd@yidianling.com</p>
            <h3>上海总部</h3><br>办公地址：上海市闵行区申长路1398弄1-4号阿里中心T1-305室 <br><br>
          上海袋虎信息技术有限公司</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer bg_gary">

  <p class="copyright" style="margin-top:0;margin-bottom: 20px">CopyRight ©2015-2018上海袋虎信息技术有限公司 沪ICP备15037258号</p>
  <div class="copyright-avatar">
    <a href="javascript:;" onclick="showModal()"><img src="//img.ydlcdn.com/file/2017/09/18/5gd9l4vntgca7ozr.png" /></a>
    <a href="javascript:;" onclick="showModal()"><img src="//static.ydlcdn.com/v3/images/hy_124x47.png" /></a>
  </div>
</div>
<!--footer-->
<!--<div class="cont10 content-wrap aboutCont10">立即联系情感老师帮您定位问题-->
  <!--<a class="btn kf_haoshi" href="#">预约咨询</a> &lt;!&ndash; 咨询热线 <span class="phone">400-8789-610</span> &ndash;&gt;-->
<!--</div>-->
<!--<div class="footer aboutFooter">-->
  <!--<div class="content-wrap">-->
    <!--<p class="footTxt">CopyRight ©2015-2017上海袋虎信息技术有限公司 沪ICP备15037258号</p>-->
    <!--<div class="imges">-->
      <!--<a rel="nofollow" href="//webscan.360.cn/index/checkwebsite/url/www.yidianling.com"><img src="//static.ydlcdn.com/v3/images/360safe.png"></a>-->
      <!--<a rel="nofollow" href="//v.pinpaibao.com.cn/authenticate/cert/?site=yidianling.com&amp;at=realname"><img src="//static.ydlcdn.com/v3/images/hy_124x47.png"></a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--聊天邀请框-->

<script src="./js/sliderInfinite.js"></script>
<script src="./js/global.js"></script>

<!--商务通-->
<script src="//static.ydlcdn.com/v4/common/service_online_system/index.js"></script>
<script src="./js/main.js"></script>

<script>
  function showModal(){//url,name,iWidth,iHeight
//				$('.modal').show();
//				$('iframe').show();
//				$("iframe").animate({width:500},"slow");
    //获得窗口的垂直位置
    var iTop = (window.screen.availHeight - 30 - 435) / 2;
    //获得窗口的水平位置
    var iLeft = (window.screen.availWidth - 10 - 750) / 2;
    window.open("//cn.mikecrm.com/vzOKJPH", "", 'height=' + 435 + ',innerHeight=' + 435 + ',width=' + 750 + ',innerWidth=' + 750 + ',top=' + iTop + ',left=' + iLeft + ',scrollbars=yes,status=yes');
//				window.open('//cn.mikecrm.com/vzOKJPH', '', 'height=640,width=500,top=200,left=200,scrollbars=yes,status=yes');
  }
  $('.nav-item').hover(function() {
    if($(this).index() != 0) {
      $('.nav-item.active').removeClass('active')
    }
    if($(this).index() == 0) {
      $(this).addClass('active')
    }
  }, function() {
    $('.nav-item').eq(0).addClass('active')
  });
</script>
</body>

</html>
