<!DOCTYPE html>
<html>

<head>
  <title>壹点灵-心理咨询师考试报名</title>
  <meta charset="UTF-8">
  <meta name="keywords" content="壹点灵,心理咨询,心理学,心理健康" />
  <meta name="description" content="壹点灵是一个帮助寻求心理健康的人们更好的找到适合自己的心理咨询师的平台，同时也帮助心理咨询师们交流心理学心得。" />
  <link rel="stylesheet" media="screen" href="//static.ydlcdn.com/v2/css/ydl.css?1472140800v1286" />
  <link rel="stylesheet" media="screen" href="./css/old_about.css" />
  <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.hs.ico" />
  <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.hs.ico" />
  <link rel="styleSheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/love.css?201801301112" />
  <link rel="stylesheet" href="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.css" />
  <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
  <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
  <link rel="stylesheet" href="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.css">
  <link rel="stylesheet" href="css/kz_pc.css?20180305">
  <script src="./js/jquery-1.11.2.min.js"></script>
  <script src="./js/love.js"></script>
  <script src="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.js"></script>
  <style>
    .aboutWrapper{

    }
  </style>

</head>

<body>
<div class="top" style="background: #fff">
  <div class="inner">
    <a href="kaozheng.html" class="top-logo"></a>
    <div class="fr">
      <p class="top-desc">服务时间：早8:00-凌晨1:00</p>
      <p class="top-tel"><i class="top-tel-icon"></i><span></span>400-114-1010</p>
    </div>
  </div>
</div>
<div class="nav">
  <nav>
    <ul class="inner clearfix">
      <li class="nav-item active">
        <a href="./index.html">首页</a>
      </li>
      <li class="nav-item">
        <a href="./index.html">报考信息</a>
      </li>
      <li class="nav-item">
        <a href="./index.html">证书介绍</a>
      </li>
      <li class="nav-item">
        <a href="./index.html">常见问题</a>
      </li>
      <li class="nav-item">
        <a href="javascript:" onClick="showModal()">报考咨询</a>
      </li>
      <li class="nav-item">
        <a href="//kc.yidianling.com/index_kz.html">证书查询</a>
      </li>
      <li class="nav-item">
        <a href="about.html">公司介绍</a>
      </li>
      <li class="nav-item">
        <a href="about_cont.html">联系我们</a>
      </li>
    </ul>
  </nav>
</div>
<div class="aboutWrapper aboutWrapperBox">
  <div class="about_banner"></div>
  <div class="aboutBox">
    <div class="subMenu" id="tab1">
      <ul>
        <li class="cur">
          <a href="about.html">公司介绍</a>
        </li>
        <li class="">
          <a href="about_cont.html">联系我们</a>
        </li>
      </ul>

    </div>
    <div class="about_content">
      <img src="./images/about/about_building_old.jpg" style="width:260px;height: 262px"  class="fl">
      <div class="about_desc" style="padding-bottom: 60px;">
        <p>壹点阳光，温暖心灵。携手壹点灵，每天好心情。壹点灵隶属于上海袋虎信息技术有限公司，是由一群有梦想、有情怀的心理学专家与互联网行业资深人士创立的创新型互联网+心理服务平台，秉承“知心专业、贴心关怀、诚心服务”的理念，致力打造中国最有价值的心理咨询与心理健康服务互联网平台。“聚一群匠人，干一件善事。”壹点灵现有员工五百多人，拥有博士、硕士研究生学历者占到10%以上。研发运营团队多来自阿里巴巴、百度、携程、5173等知名互联网公司，心理顾问专业团队则由来自中国科学院心理研究所、浙江大学、吉林大学、温州大学等科研院所心理学专家与研究人员组成。 </p>
      </div>
      <div class="about_title txt-c"><img src="./images/about/about_officeTitle.png" style="width: 185px;height: 82.3px" width="185"></div>
      <div class="txt-c clear"><img src="./images/about/about_team.png" style="width: 100%;"></div>
      <div class="about_title txt-c"><img src="./images/about/about_teamTitle.png"style="width: 185px;height: 89px" width="185"></div>
      <div class="founder-content">
        <div class="item clearfix left">
          <div class="avatar fl">
            <img alt="徐颖奇" src="//static.ydlcdn.com/v2/images/xyq.jpg">
          </div>
          <div class="desc fr">
            <h2>徐颖奇</h2>
            <h3>CEO / 原5173副总裁 / 原818医药网总经理</h3>
            <p>2003年加入游戏交易平台5173创始团队，带领团队从20人迅速成长为3000余人规模，并开创了全球首创的“寄售、担保、求购、租赁”等网络交易服务模式，使网站年交易额从2000万元上升到100多亿元，占到全国虚拟交易总交易量的80%以上，获得上亿玩家的肯定，从而使5173超越淘宝游戏、拍拍游戏等强劲对手，确立在游戏交易平台领域的行业第一地位。</p>
            <p class="info-hide">2009年出任818医药网总经理，首创网上订药、同城送药上门等新服务模式，在短短三年内成功帮助300多家药房拓展线上业务，创造了年增长率248%的行业奇迹，使网站年交易额从2500万扩大到3.8亿元，为老百姓解决了“买药难，买药贵”的难题，给1亿家庭带去了健康，因此荣获了中国医药协会医药电商突出贡献奖。2013年出任658金融网总经理，带领658金融实现裂变式增长，上线一年多交易额即突破30亿元，日投资额峰值达3000万，累积为用户带来4000多万的投资收益，在线及呼入服务达34000人次/日，并通过全透明运作、银行级风控、军工级技术保障以及资金全托管等方式，成功将658金融打造成业内鲜有的0坏账平台，让20万用户实现了更大的财富梦想。</p>
            <a class="show-allInfo">展开全部</a>
            <!--href="//baike.baidu.com/view/5525184.htm"-->
          </div>
        </div>
        <div class="item clearfix left">
          <div class="avatar fl">
            <img alt="史占彪" src="//static.ydlcdn.com/v2/images/szb.jpg">
          </div>
          <div class="desc fr">
            <h2>史占彪</h2>
            <h3>首席专家顾问</h3>
            <p>中国科学院心理研究所心理健康促进中心主任。应用心理学博士，中国科学院心理健康重点实验室教授。国际EAP协会中国分会秘书长，中国心理学会员工心理促进工作委员会秘书长，中国心理卫生协会副秘书长。中国首批多伦多“高效焦点解决心理教练”专业证书获得者。中国社会工作联合会心理健康工作委员会副主任委员。曾任中央国家机关职工心理咨询中心主任，北川心理援助工作站站长，玉树心理援助工作站站长。</p>
            <p class="info-hide">2008年获得中国科学技术协会抗震救灾先进个人称号，2009年荣获“中央国家机关优秀青年”称号，所在团队荣获2011年“中华慈善奖”。<br>史占彪教授擅长各类神经质的诊断与心理障碍的认知行为治疗，曾从事精神医学工作5年，学习应用心理咨询与心理治疗十余年，拥有丰富的危机干预咨询与治疗经验。主攻精神分析疗法，研究方向为人格心理评估，目前主要临床研究方向是后现代高效焦点解决心理教练技术。</p>
            <a href="//baike.baidu.com/view/5525184.htm" target="_blank">详细介绍</a>
            <!---->
          </div>
        </div>
        <div class="item clearfix left">
          <div class="avatar fl">
            <img alt="朱浩亮" src="//static.ydlcdn.com/v2/images/zhl.jpg">
          </div>
          <div class="desc fr">
            <h2>朱浩亮</h2>
            <h3>首席心理咨询专家</h3>
            <p>国家心理咨询师高级考评员、温州大学心理学副教授、硕士生导师、教研室主任。硕士毕业于中国科学院心理研究所，师从中科院心理研究所副所长张建新教授。目前兼任中科院心理研究所心理健康促进中心督导专家、中国心理学会会员、温州市心理学会秘书长、温州市心理学协会常委副理事长、温州市心理咨询专业委员会主任。</p>
            <p class="info-hide">朱浩亮教授擅长亲子关系中学习、沟通及情感等问题的诊断及咨询，具有20多年的心理咨询经历，累计个案咨询时间4000多小时，培训及督导了1600多名心理咨询师，为企事业单位举办培训讲座1300余场。目前主要临床研究方向是心理整合疗法。</p>
            <a href="//baike.baidu.com/view/4403153.htm" target="_blank">详细介绍</a>
            <!---->
          </div>
        </div>
        <div class="item clearfix left">
          <div class="avatar fl">
            <img alt="丁建略" src="//static.ydlcdn.com/v2/images/djl.png">
          </div>
          <div class="desc fr">
            <h2>丁建略</h2>
            <h3>首席婚恋情感专家</h3>
            <p>中国人民大学心理学博士，吉林大学心理学系副教授、硕士生导师，中国第一个爱情心理学的硕士论文作者，中国经验下情爱咨询工作坊负责人，吉林省心理咨询师协会副秘书长，超星学术视频入库专家，吉林大学青年文化书院特聘导师，国家心理咨询师高级考评员，中国公共文化研究与促进会（澳门）创会会长。</p>
            <a href="//baike.baidu.com/link?url=XbcuqxzEGzTXn2Ci2K4r67Zd2vkrBs8EL1f-1IVllFxZ3301q-m08HqhUYK08_xN3eAtra93l5ZE_BamdV92qZkDSvmGMqMlWdFlba6ptHdsk7EWWoLbnlEPKTbRZMoa" target="_blank">详细介绍</a>
            <!---->
          </div>
        </div>
      </div>
      <div class="about_title txt-c"><img src="./images/about/about_cultureTitle.png" style="width: 185px;height: 82.3px"width="185"></div>
      <div class="founder-content">
        <div class="item clearfix">
          <div class="desc">
            <h3 style="font-size: 16px;line-height: 26px;">愿&nbsp;景：&nbsp;&nbsp;&nbsp;<strong>做最专业的心理服务平台</strong><br>使&nbsp;命：&nbsp;&nbsp;&nbsp;<strong>让天下人更快乐</strong><br>追&nbsp;求：&nbsp;&nbsp;&nbsp;<strong>为客户提供有价值的服务</strong></h3></div>
          <p>为什么我们要追求为客户提供有用的价值服务；“客户满意是一种赢得竞争的能力”。如何才能“为客户提供有价值的服务”，树立以客户为中心的服务理念和企业文化，一切以“客户需求为导向”，所有工作以保证客户利益为前提。不断提升客户对专业、信任和便捷三个方面的满意度。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer bg_gary" style="color: #0d0d0d" >
    <p class="copyright">CopyRight ©2015-2018上海袋虎信息技术有限公司 沪ICP备15037258号</p>
    <div class="copyright-avatar">
      <a href="javascript:;" onclick="showModal()"><img src="//img.ydlcdn.com/file/2017/09/18/5gd9l4vntgca7ozr.png" /></a>
      <a href="javascript:;" onclick="showModal()"><img src="//static.ydlcdn.com/v3/images/hy_124x47.png" /></a>
    </div>
  </div>
</div>

<!--footer-->
<!--weeee-->
<!--<div class="cont10 content-wrap aboutCont10">立即联系情感老师帮您定位问题-->
  <!--<a class="btn kf_haoshi" target="_blank" href="#">预约咨询</a> 咨询热线 <span class="phone">400-0992-520</span>-->
<!--</div>-->
<!--<div class="footer aboutFooter">-->
  <!--<div class="content-wrap">-->
    <!--<p class="footTxt">CopyRight ©2015-2017上海袋虎信息技术有限公司 沪ICP备15037258号</p>-->
    <!--<div class="imges">-->
      <!--<a rel="nofollow" href="//webscan.360.cn/index/checkwebsite/url/www.yidianling.com"><img src="//static.ydlcdn.com/v3/images/360safe.png"></a>-->
      <!--<a rel="nofollow" href="//v.pinpaibao.com.cn/authenticate/cert/?site=yidianling.com&amp;at=realname"><img src="//static.ydlcdn.com/v3/images/hy_124x47.png"></a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--聊天邀请框-->
<!--<div id="contact">-->
  <!--<a class="kf_haoshi" href="#" target="_blank"><img src="../images/contact_shangqiao.png" alt="" /></a>-->
<!--</div>-->
<script src="./js/sliderInfinite.js"></script>
<script src="./js/global.js"></script>

<!--商务通-->
<script src="//static.ydlcdn.com/v4/common/service_online_system/index.js"></script>
<script src="./js/main.js"></script>

<script>
  function showModal(){//url,name,iWidth,iHeight
//				$('.modal').show();
//				$('iframe').show();
//				$("iframe").animate({width:500},"slow");
    //获得窗口的垂直位置
    var iTop = (window.screen.availHeight - 30 - 435) / 2;
    //获得窗口的水平位置
    var iLeft = (window.screen.availWidth - 10 - 750) / 2;
    window.open("//cn.mikecrm.com/vzOKJPH", "", 'height=' + 435 + ',innerHeight=' + 435 + ',width=' + 750 + ',innerWidth=' + 750 + ',top=' + iTop + ',left=' + iLeft + ',scrollbars=yes,status=yes');
//				window.open('//cn.mikecrm.com/vzOKJPH', '', 'height=640,width=500,top=200,left=200,scrollbars=yes,status=yes');
  }
  $('.nav-item').hover(function() {
    if($(this).index() != 0) {
      $('.nav-item.active').removeClass('active')
    }
    if($(this).index() == 0) {
      $(this).addClass('active')
    }
  }, function() {
    $('.nav-item').eq(0).addClass('active')
  });
</script>
</body>

</html>
