<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>壹点灵-社工师考试报名</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
		<meta name="keywords" content="社工师考试报名、心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师"/>
		<meta name="description" content="社工师考试报名、心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师"/>
		<meta name="renderer" content="webkit">
		<meta name="HandheldFriendly" content="true">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">

		<link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
		<link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
		<link rel="stylesheet" href="//static1.ydlcdn.com/mobile/css/normalize.css">
		<link href="//static1.ydlcdn.com/mobile/css/swiper.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/kz_m.css?20180327">


	</head>
	<body>
		<div class="kz_180307 sgs_180309 sgs_180327">
			<header class="kz-header clearfix">
				<a class="kz-header-logo fl" href="kaozheng_m.html" target="_self"><img src="//static.ydlcdn.com/v2/images/logo_beta_mobile.png"></a>
				<div class="kz-header-cont fr">
					<!--<p class="kz-header-time">服务时间：早8:00-凌晨1:00 </p>-->
					<a class="kz-header-tel" href="tel:400-114-1010"><i class="kz-header-tel-icon"></i><!--<span class="kz-header-tel-line"></span>-->400-114-1010</a>
				</div>
			</header><!--头部-->
			<a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">
				<div class="kz-banner pR">
					<img class="kz-banner-bg" src="images/sgs/02_img_2X.jpg"/>
				</div>
			</a><!--banner-->
			<!--免费体验-->
			<!--<div class="sgs-test">
				<div class="kz-inner">
					<h3 class="kz-title">免费体验</h3>
					<div class="clearfix">
						<img class="sgs-test-avatar fl" src="images/sgs/03_course.png"/>
						<img class="sgs-test-avatar fr" src="images/sgs/03_question.png"/>
					</div>
					<a class="kz-about-btn" href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">立即申请</a>
				</div>
			</div>--><!--test-->
			<!--系统培训轻松应试-->
			<div class="sgs-system">
				<div class="kz-inner">
					<h3 class="kz-title">系统培训轻松应试</h3>
					<a class="kz-system-item" href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self"><img src="images/sgs/03_img3_2X.jpg"/></a>
					<a class="kz-system-item" href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self"><img src="images/sgs/03_img2_2X.jpg"/></a>
					<a class="kz-system-item" href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self"><img src="images/sgs/03_img1_2X.jpg"/></a>
					<a class="kz-about-btn" href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">立即申请</a>
				</div>
			</div>
			<!--报考指南-->
			<div class="sgs-navi">
				<div class="kz-inner">
					<h3 class="kz-title">报考指南</h3>
					<ul class="sgs-navi-list clearfix">
						<li class="sgs-navi-item pR fl">
							<img height="115px" src="images/sgs/04_card.png"/>
							<div class="sgs-navi-cont">
								<h3 class="sgs-navi-title">社会工作师<br />的报考条件</h3>
								<a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self" class="sgs-navi-subtitle">立即咨询</a>
							</div>
						</li>
						<li class="sgs-navi-item pR fr">
							<img height="115px" src="images/sgs/04_card.png"/>
							<div class="sgs-navi-cont">
								<h3 class="sgs-navi-title">社会工作师工作<br />发展前景及未来</h3>
								<a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self" class="sgs-navi-subtitle">立即咨询</a>
							</div>
						</li>
					</ul>
					<ul class="sgs-navi-list clearfix">
						<li class="sgs-navi-item pR fl">
							<img height="115px" src="images/sgs/04_card.png"/>
							<div class="sgs-navi-cont">
								<h3 class="sgs-navi-title">2018年社工师<br />证书报考时间</h3>
								<a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self" class="sgs-navi-subtitle">立即咨询</a>
							</div>
						</li>
						<li class="sgs-navi-item pR fr">
							<img height="115px" src="images/sgs/04_card.png"/>
							<div class="sgs-navi-cont">
								<h3 class="sgs-navi-title">社会工作师的<br />考试大纲介绍</h3>
								<a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self" class="sgs-navi-subtitle">立即咨询</a>
							</div>
						</li>
					</ul>
					<a class="kz-about-btn" href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">立即咨询</a>
				</div>
			</div><!--test-->
			<!--为什么选择壹点灵大学-->
			<div class="kz-advan">
				<div class="kz-inner">
					<h3 class="kz-title">为什么选择壹点灵大学</h3>
					<ul class="kz-advan-list clearfix">
						<li class="kz-advan-item">
							<a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">
								<!--<p class="kz-advan-item-title">学习变得更加简单</p>
								<p class="kz-advan-item-subtitle">顶级名师+一线教学+考点提炼</p>-->
							</a>
						</li>
						<li class="kz-advan-item">
							<a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">
								<!--<p class="kz-advan-item-title">最快掌握所学知识</p>
								<p class="kz-advan-item-subtitle">社会工作师考试就是如此简单！</p>-->
							</a>
						</li>
						<li class="kz-advan-item">
							<a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">
								<!--<p class="kz-advan-item-title">完善产品及在线服务   </p>
								<p class="kz-advan-item-subtitle">学习之后及时练习，知识考点全面巩固</p>-->
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="sgs-study">
				<h3 class="sgs-study-title">随时随地想学就学</h3>
				<p class="sgs-study-subtitle">手机、iPad、电脑多端学习<br />学习不受时间地点限制</p>
			</div>
			<!--各大媒体争相报道-->
			<div class="sgs-media">
				<div class="kz-inner">
					<h3 class="kz-title">各大媒体争相报道</h3>
					<ul class="sgs-media-list clearfix">
						<li class="sgs-media-item fl one"><a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">心理健康助力全面小康。</a></li>
						<li class="sgs-media-item fr two"><a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">天灾无情人有情，壹点灵赴台风灾区紧急心理...</a></li>
					</ul>
					<ul class="sgs-media-list clearfix">
						<li class="sgs-media-item fl three"><a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">壹点灵：互联网+公益心理咨询=无限可能...</a></li>
						<li class="sgs-media-item fr four"><a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">心灵花园公益敲门行动在继续 关注弱势青少...</a></li>
					</ul>
				</div>
			</div>
			<!--关于我们-->
			<div class="kz-about">
				<div class="kz-inner">
					<h3 class="kz-title">关于我们</h3>
					<div class="kz-about-swiper">
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about03.png" class="swiper-lazy"></div>
								<div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about01.png" class="swiper-lazy"></div>
								<div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about02.png" class="swiper-lazy"></div>
								<div class="swiper-slide"><img data-src="//m.love.yidianling.com/images/520/about/4.jpg" class="swiper-lazy"></div>
								<div class="swiper-slide"><img data-src="//m.love.yidianling.com/images/520/about/5.jpg" class="swiper-lazy"></div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
					<p>壹点灵秉承"知心专业，贴心关怀，诚心服务"的理念，力图打造中国最有价值的综合性婚恋服务平台。现有员工300多人，拥有博士、硕士研究生学历者占到10%以上。<br />研发运营团队多来自阿里巴巴、百度、携程、5173等知名互联网公司。汇集了国内外4000多位专家，通过各类成熟的实战经验技巧帮助用户挽救婚姻、劝退第三者、挽回爱情、情感疏导。已经成功挽救了5万多个家庭。</p>
					<a class="kz-about-btn" href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" target="_self">查看详情</a>
				</div>
			</div>
			<!--wrapper-->
			<footer class="kz-footer">
				<a href="tel:400-114-1010" class="kz-footer-tel fl"><i class="kz-footer-tel-icon"></i>电话咨询</a>
				<a href="//p.qiao.baidu.com/cps/chat?siteId=11819249&userId=18267230" class="kz-footer-online fl"><i class="kz-footer-online-icon"></i>立即报名</a>
			</footer>
		</div>

		<script src="//static1.ydlcdn.com/mobile/js/jquery-2.1.0.min.js"></script>
		<script src="//static1.ydlcdn.com/mobile/js/jquery.lazyload.js"></script>
		<script src="//static1.ydlcdn.com/mobile/js/swiper.min.js"></script>
		<script>
			(function(designWidth, maxWidth) {
				var doc = document,
					win = window,
					docEl = doc.documentElement,
					remStyle = document.createElement("style"),
					tid;
				function refreshRem() {
					var width = docEl.getBoundingClientRect().width;
					maxWidth = maxWidth || 540;
					width > maxWidth && (width = maxWidth);
					var rem = width * 100 / designWidth;
					remStyle.innerHTML = 'html{font-size:' + rem + 'px;}';
				}
				if(docEl.firstElementChild) {
					docEl.firstElementChild.appendChild(remStyle);
				} else {
					var wrap = doc.createElement("div");
					wrap.appendChild(remStyle);
					doc.write(wrap.innerHTML);
					wrap = null;
				}
				//要等 wiewport 设置好后才能执行 refreshRem，不然 refreshRem 会执行2次；
				refreshRem();
				win.addEventListener("resize", function() {
					clearTimeout(tid); //防止执行两次
					tid = setTimeout(refreshRem, 300);
				}, false);
				win.addEventListener("pageshow", function(e) {
					if(e.persisted) { // 浏览器后退的时候重新计算
						clearTimeout(tid);
						tid = setTimeout(refreshRem, 300);
					}
				}, false);
				if(doc.readyState === "complete") {
					doc.body.style.fontSize = "16px";
				} else {
					doc.addEventListener("DOMContentLoaded", function(e) {
						doc.body.style.fontSize = "16px";
					}, false);
				}
			})(750, 750);
			$(function(){
				$("img.lazy").lazyload(); //懒加载class="lazy" data-original
			})
			//关于我们，轮播
			var about_swiper = new Swiper('.kz-about .swiper-container', {
				autoplay: 5000,
				spaceBetween: 20,
				pagination: '.kz-about .swiper-pagination',
				paginationType: 'bullets',
				paginationClickable: true,
				slidesPerView: 'auto',
				autoplayDisableOnInteraction: false,
				lazyLoading : true,
				centeredSlides: true,
			})
	</script>
    <script src="./js/main.js"></script>

    <!--<script language="javascript" src="//kht.zoosnet.net/JS/LsJS.aspx?siteid=KHT34021062&float=1&lng=cn"></script>-->
	</body>
</html>
