<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>壹点灵-心理咨询师考试报名</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <meta name="keywords" content="心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师"/>
    <meta name="description" content="心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师"/>
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
    <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
    <link rel="stylesheet" href="//static1.ydlcdn.com/mobile/css/normalize.css">
    <link href="//static1.ydlcdn.com/mobile/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/kz_m_2.css?201805111925">
    <script src="//static1.ydlcdn.com/mobile/js/jquery-2.1.0.min.js"></script>
    <script>
     // rem单位的转换
        document.documentElement.style.fontSize = window.innerWidth/3.75 + 'px';
        $(window).resize(function(){
            document.documentElement.style.fontSize = window.innerWidth/3.75 + 'px';
        });
    </script>
  </head>
  <body>
    <!-- 头部 -->
    <header class="header clearfix">
      <a class="logo fl" href="javascript:;" target="_self"><img src="images/180413kz_m/logo_ico.png" /></a>
      <!-- <a class="tel-wrapper fr clearfix" href="tel:400-114-1010"><img src="images/180413kz_m/tel_ico.png" class="tel-ico">400-114-1010</a> -->
    </header>
    <!-- banner -->
    <a href="//cn.mikecrm.com/7Bysirj" target="_self" class="banner">
      <img src="images/180413kz_m/banner0710.jpg?201805111913" />
    </a>
    <div class="kc-adv clearfix">
      <div class="kc-adv-item">
        <i class="adv-ico ico1"></i>
        <span class="adv-info"><b>四个月</b><br/>系统培训</span>
      </div>
      <div class="kc-adv-item">
        <i class="adv-ico ico2"></i>
        <span class="adv-info"><b>中科院</b><br/>名师指导</span>
      </div>
      <div class="kc-adv-item">
        <i class="adv-ico ico3"></i>
        <span class="adv-info"><b>理论实践</b><br/>相结合</span>
      </div>
    </div>
    <!-- 四大学习阶段 -->
    <div class="common-wrapper paddT-diff">
      <h3 class="capital">四大学习阶段</h3>
      <span class="line"></span>
      <img src="images/180413kz_m/learn_state.png" >
      <div class="learn-state-wrapper clearfix">
        <p class="learn-state-item1">初阶</p>
        <p class="learn-state-item2">中阶</p>
        <p class="learn-state-item3">高阶</p>
        <p class="learn-state-item4">实习平台</p>
      </div>
      <a class="kz-about-btn learn-state-btn" href="//cn.mikecrm.com/7Bysirj" target="_self">立即咨询</a>

    </div>
    <!-- 线上听课+线下小组 -->
    <div class="common-wrapper bg-online">
      <h3 class="capital c-fff">线上听课+线下小组</h3>
      <p class="desc">高效便捷学习，同学圈子支持</p>
      <span class="line"></span>
      <div class="online-wrapper clearfix">
        <div class="online-block">
          <img src="images/180413kz_m/pic1.jpg" />
          <p class="capital">视频听讲</p>
          <p class="desc">随时听课多人互动</p>
        </div>
        <div class="online-block">
          <img src="images/180413kz_m/pic2.jpg" />
          <p class="capital">学习小组</p>
          <p class="desc">充分讨论和练习</p>
        </div>
      </div>
    </div>
    <!-- 授课大咖云集 -->
    <div class="common-wrapper bg-gray paddB-14">
      <h3 class="capital">授课大咖云集</h3>
      <span class="line"></span>
      <div class="swiper-container teacher-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic01.png" class="swiper-lazy">
            <p class="underline name">杨发辉</p>
            <span class="line"></span>
            <p class="desp">北京师范大学副教授、壹点灵顾问督导、ACT认知行为心理治疗师、认证督导师、22部委文件起草人之一</p>
          </div>
          <div class="swiper-slide">
            <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic02.png" class="swiper-lazy">
            <p class="underline name">朱浩亮</p>
            <span class="line"></span>
            <p class="desp">中国科学院心理研究所硕士；中央财经大学应用心理学硕士生导师；温州大学教授、硕士生导师</p>
          </div>
          <div class="swiper-slide">
            <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic03.png" class="swiper-lazy">
            <p class="underline name">祝卓宏</p>
            <span class="line"></span>
            <p class="desp">中科院心理研究所博士、教授、博士后导师、壹点灵顾问督导、中国心理卫生协会心理师专委会副主任委员</p>
          </div>
          <div class="swiper-slide">
            <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic04.png" class="swiper-lazy">
            <p class="underline name">姜长青</p>
            <span class="line"></span>
            <p class="desp">北京安定医院主任医师、心理科主任、壹点灵顾问督导、中国心理卫生协会心理咨询师专业委员会主任 </p>
          </div>
          <div class="swiper-slide">
            <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic05.png" class="swiper-lazy">
            <p class="underline name">郑日昌</p>
            <span class="line"></span>
            <p class="desp">北京师范大学教授、博导、壹点灵顾问督导、卫生部心理治疗师考试专委会委员、教育部考试中心研究员</p>
          </div>
          <div class="swiper-slide">
            <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic06.png" class="swiper-lazy">
            <p class="underline name">马建青</p>
            <span class="line"></span>
            <p class="desp">浙江大学博士、教授、博士生导师、壹点灵顾问督导、求是特聘学者、心理卫生协会心理师专委会副主任委员 </p>
          </div>
          <div class="swiper-slide">
            <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic07.png" class="swiper-lazy">
            <p class="underline name">史占彪</p>
            <span class="line"></span>
            <p class="desp">中科院心理所博士、教授、壹点灵首席专家顾问、壹点灵顾问督导、中科院心理所心理健康促进中心主任</p>
          </div>
          <div class="swiper-slide">
            <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic08.png" class="swiper-lazy">
            <p class="underline name">丁建略</p>
            <span class="line"></span>
            <p class="desp">吉林大学副教授、硕士生导师、中国人民大学博士、壹点灵顾问督导、国家心理咨询师高级考评员</p>
          </div>
          <div class="swiper-slide">
            <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic09.png" class="swiper-lazy">
            <p class="underline name">沈健</p>
            <span class="line"></span>
            <p class="desp">北华大学教授，硕士生导师，壹点灵顾问督导、中国催眠师大会组委会主席、吉林省心理咨询师协会副会长</p>
          </div>
          <div class="swiper-slide">
            <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic010.png" class="swiper-lazy">
            <p class="underline name">马孟俊</p>
            <span class="line"></span>
            <p class="desp">台湾清华大学、宜兰大学讲师、壹点灵顾问督导、美国新泽西州立大学硕士、华南师范大学心理学博士</p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- 我们正在寻找这样的你 -->
    <div class="common-wrapper">
      <h3 class="capital">我们正在寻找这样的你</h3>
      <span class="line"></span>
      <div class="find-wrapper clearfix">
        <img src="images/180413kz_m/num_ver.png" class="num-vertical fl" />
        <div class="find-block fl">
          <p class="find-text-1">专科以上学历</p>
          <p class="find-text-2">热爱心理咨询，立志成为专业心理咨询师</p>
          <p class="find-text-3">已获得国家心理咨询师证书，实践操作经验缺乏者</p>
          <p class="find-text-4">愿意付出实践和经历，实践成长</p>
          <p class="find-text-5">开放的心态和足够的耐心</p>
        </div>
      </div>
      <a class="kz-about-btn" href="//cn.mikecrm.com/7Bysirj" target="_self">立即咨询</a>
    </div>
    <!-- 学员们这样说 -->
    <div class="common-wrapper bg-student">
      <h3 class="capital c-fff">学员们这样说</h3>
      <span class="line bg-ff"></span>
      <div class="student-wrapper">
        <div class="swiper-container student-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <p class="capital clearfix">31岁，应用心理学硕士<span class="user-head head1"></span></p>
              <p class="desc">我也考过三级心理咨询师、读过应用心理学硕士，但这次课程的实习让我有机会真正走近有心理帮助需求的人。目前的学习和实习下来，让我真正接触到心理咨询的实践，对接下来的学习也有了更大的期待。</p>
            </div>
            <div class="swiper-slide">
              <p class="capital clearfix">34岁，心理学专业爱好者<span class="user-head head2"></span></p>
              <p class="desc">以前看过一些这方面的书，对心理学的基础理论了解一部分，但是真的报考以后才发现实践和理论完全是不一样的，有一种理论得到验证的感觉。希望通过后期的学习让我成为一个真正的咨询师。</p>
            </div>
            <div class="swiper-slide">
              <p class="capital clearfix">28岁，大专生<span class="user-head head3"></span></p>
              <p class="desc">因为自身的一些人际关系一直处理不好，所以抱着尝试的心态学习一下这个课程，但是后来发现真的改变了很多，原来人际中有那么多应该要注意的和应该怎么样处理的诀窍，让我的人际关系得到了很大的改善，也让我的生活得到了很大的帮助。</p>
            </div>
            <div class="swiper-slide">
              <p class="capital clearfix">25岁，研究生在读<span class="user-head head4"></span></p>
              <p class="desc">错过了国家的心理学考试，但是很幸运的没有错过壹点灵的中级心理咨询师考试，让我真正学会了心理咨询应该怎么做，也让我在学习之余多了一份收入，让我的学习生涯得到了充分的保障。</p>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
    <!-- 为什么选择壹点灵 -->
    <div class="common-wrapper">
      <h3 class="capital">为什么选择壹点灵</h3>
      <span class="line"></span>
      <div class="reason-item clearfix">
        <div class="reason-item-ico ico1 fl"></div>
        <div class="reason-item-info fl">
          <p class="title">更权威</p>
          <p class="desc">全国顶尖心理咨询平台，权威大咖督导</p>
        </div>
      </div>
      <div class="reason-item clearfix">
        <div class="reason-item-ico ico2 fl"></div>
        <div class="reason-item-info fl">
          <p class="title">更专业</p>
          <p class="desc">6000+专业咨询师，100%职业资格认证</p>
        </div>
      </div>
      <div class="reason-item clearfix">
        <div class="reason-item-ico ico3 fl"></div>
        <div class="reason-item-info fl">
          <p class="title">更真实</p>
          <p class="desc">海量真实咨询案例，平台用户200万</p>
        </div>
      </div>
      <div class="reason-item clearfix">
        <div class="reason-item-ico ico4 fl"></div>
        <div class="reason-item-info fl">
          <p class="title">更有效</p>
          <p class="desc">付费资讯时长2亿分钟，全面解决心理问题</p>
        </div>
      </div>
      <div class="reason-item clearfix">
        <div class="reason-item-ico ico5 fl"></div>
        <div class="reason-item-info fl">
          <p class="title">更高额</p>
          <p class="desc">已累计完成上亿咨询收益，平均客单价400+</p>
        </div>
      </div>
      <a class="kz-about-btn" href="//cn.mikecrm.com/7Bysirj" target="_self">立即咨询</a>
    </div>
    <!--各大媒体争相报道-->
    <div class="kz-media">
      <div class="kz-inner">
        <h3 class="kz-title">各大媒体争相报道</h3>
        <div class="kz-media-list clearfix">
          <div class="kz-media-item one fl"><p class="kz-media-text">心理健康助力全面小康。</p></div>
          <div class="kz-media-item two fr"><p class="kz-media-text">天灾无情人有情，壹点灵赴台风灾区紧急心理...</p></div>
        </div>
        <div class="kz-media-list clearfix">
          <div class="kz-media-item three fl"><p class="kz-media-text">壹点灵：互联网+公益心理咨询=无限可能...</p></div>
          <div class="kz-media-item four fr"><p class="kz-media-text">心灵花园公益敲门行动在继续 关注弱势青少...</p></div>
        </div>
      </div>
    </div>
    <!--关于我们-->
    <div class="kz-about">
      <div class="kz-inner">
        <h3 class="kz-title">关于我们</h3>
        <div class="kz-about-swiper">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about03.png" class="swiper-lazy"></div>
              <div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about01.png" class="swiper-lazy"></div>
              <div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about02.png" class="swiper-lazy"></div>
              <div class="swiper-slide"><img data-src="//m.love.yidianling.com/images/520/about/4.jpg" class="swiper-lazy"></div>
              <div class="swiper-slide"><img data-src="//m.love.yidianling.com/images/520/about/5.jpg" class="swiper-lazy"></div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <p>壹点灵秉承"知心专业，贴心关怀，诚心服务"的理念，力图打造中国最有价值的综合性婚恋服务平台。现有员工300多人，拥有博士、硕士研究生学历者占到10%以上。<br />研发运营团队多来自阿里巴巴、百度、携程、5173等知名互联网公司。汇集了国内外4000多位专家，通过各类成熟的实战经验技巧帮助用户挽救婚姻、劝退第三者、挽回爱情、情感疏导。已经成功挽救了5万多个家庭。</p>
        <a class="kz-about-btn" href="//cn.mikecrm.com/7Bysirj" target="_self">查看详情</a>
      </div>
    </div>
    <!--wrapper-->
    <footer class="kz-footer">
      <a href="//cn.mikecrm.com/7Bysirj" class="kz-footer-tel fl"><i class="kz-footer-yuyue-icon"></i>预约试听</a>
      <a href="//cn.mikecrm.com/7Bysirj" class="kz-footer-online fl"><i class="kz-footer-online-icon"></i>立即报名</a>
    </footer>
    <div class="empty-bottom"></div>
    <script src="//static1.ydlcdn.com/mobile/js/swiper.min.js"></script>
    <script>
      var mySwiper = new Swiper('.teacher-swiper', {
        speed: 600,
        slidesPerView : 1.344,
        initialSlide :4,
        spaceBetween : 15,
        centeredSlides : true,
        lazyLoading: true,
        pagination : '.swiper-pagination',
      })
      var mySwiper = new Swiper('.student-swiper', {
        autoplay: 5000,
        autoplayDisableOnInteraction : false,
        speed: 600,
        pagination : '.swiper-pagination',
        loop: true,
        onSlideChangeStart: function(swiper){
          $('.user-head').addClass('opa-0')
        },
        onSlideChangeEnd: function(swiper){
          $('.user-head').removeClass('opa-0')
        }
      })

      setTimeout(function(){
        var about_swiper = new Swiper('.kz-about-swiper .swiper-container', {
          autoplay: 5000,
          spaceBetween: 20,
          pagination: '.kz-about .swiper-pagination',
          paginationType: 'bullets',
          paginationClickable: true,
          slidesPerView: 'auto',
          loop: true,
          autoplayDisableOnInteraction: false,
          lazyLoading : true,
          centeredSlides: true,
        })
      },50)
    </script>
    <script src="./js/main.js"></script>

  </body>
</html>
