<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>壹点灵-心理咨询师考试报名</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <meta name="keywords" content="心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师"/>
    <meta name="description" content="心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师"/>
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
    <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
    <link rel="stylesheet" href="//static1.ydlcdn.com/mobile/css/normalize.css">
    <link href="//static1.ydlcdn.com/mobile/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/kz_m.css?20180403">

  </head>
  <body>
    <div class="kz_180307 kz_180326">
      <header class="kz-header clearfix">
        <a class="kz-header-logo fl" href="kaozheng_m.html" target="_self"><img src="//static.ydlcdn.com/v2/images/logo_beta_mobile.png"></a>
        <div class="kz-header-cont fr"><!--<p class="kz-header-time">服务时间：早8:00-凌晨1:00 </p>--><a class="kz-header-tel" href="tel:400-114-1010"><i class="kz-header-tel-icon"></i><!--<span class="kz-header-tel-line"></span>-->400-114-1010</a></div>
      </header><!--头部-->
      <div class="kz-banner pR clearfix">
        <a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self"><img class="kz-banner-bg" src="images/180307kz_m/02_img_2X.jpg"/></a>
      </div><!--banner-->
          <!--<div class="kz-banner-cont">
            <p class="kz-banner-cont-subtitle">壹 / 点 / 灵 / 大 / 学</p>
            <p class="kz-banner-cont-title">心理咨询师考证</p>
            <div class="kz-underline"></div>
            <a class="kz-banner-cont-btn" href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">立即咨询</a>
          </div>-->


      <!--重要通知-->
      <!--<div class="kz-notice pR">
        <img src="images/180307kz_m/03_bg_2X.png"/>
        <div class="kz-notice-cont">
          <p class="kz-notice-title">重要通知</p>
          <p class="kz-notice-desc">2017年9月，<br />人社部“心理咨询师考证”已取消！<br /><span>取消的只是鉴定，但职业还在！</span><br />证书获取即可从业！</p>
        </div>
      </div>--><!--notice-->
      <div class="kz-up clearfix">
        <div class="kz-inner">
          <h3 class="kz-title">学心理，提升生活品质</h3>
          <ul class="kz-up-list clearfix">
            <li class="kz-up-item fl"><a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self"><img class="kz-up-avatar" src="images/180307kz_m/01.jpg"/><p class="kz-up-text">加强亲子关系</p></a></li>
            <li class="kz-up-item fr"><a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self"><img class="kz-up-avatar" src="images/180307kz_m/02.jpg"/><p class="kz-up-text">升温夫妻感情</p></a></li>
          </ul>
          <ul class="kz-up-list clearfix">
            <li class="kz-up-item fl"><a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self"><img class="kz-up-avatar" src="images/180307kz_m/03.jpg"/><p class="kz-up-text">突破职场瓶颈</p></a></li>
            <li class="kz-up-item fr"><a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self"><img class="kz-up-avatar" src="images/180307kz_m/04.jpg"/><p class="kz-up-text">完善人际交往</p></a></li>
          </ul>
        </div>
      </div>
      <!--你是否还有这样的担心？-->
      <div class="kz-care clearfix">
        <div class="kz-inner">
          <h3 class="kz-title">你是否还有这样的担心？</h3>
          <ul class="kz-care-list clearfix">
            <li class="kz-care-item">
              <a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">
                <span class="kz-care-item-num">1</span>
                <p class="kz-care-item-text">梦想从事心理咨询师，却因为国考证书取消而<span>无从入门</span>?</p>
              </a>
            </li>
            <li class="kz-care-item">
              <a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">
                <span class="kz-care-item-num">2</span>
                <p class="kz-care-item-text">考取了心理咨询师，却一直找不到用武之地，而将其<span>束之高阁</span>？</p>
              </a>
            </li>
            <li class="kz-care-item">
              <a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">
                <span class="kz-care-item-num">3</span>
                <p class="kz-care-item-text">已经在从事心理咨询的路上，却一直找不到组织而<span>形单影只</span>？</p>
              </a>
            </li>
          </ul>
          <a class="kz-about-btn" href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">立即咨询</a>
        </div>
      </div><!--care-->
      <!--壹点灵大学心理咨询师强势来袭-->
      <div class="kz-come clearfix">
        <div class="kz-inner">
          <h3 class="kz-title">壹点灵大学心理咨询师强势来袭</h3>
          <img src="images/180307kz_m/04_img_2X.png"/>
          <a class="kz-about-btn" href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">立即咨询</a>
        </div>
      </div>
      <!--相关问题-->
      <div class="kz-ques">
        <div class="kz-inner">
          <h3 class="kz-title">相关问题</h3>
          <div class="kz-ques-ask">
            <span class="kz-ques-ask-icon">问</span>
            <p class="kz-ques-askT">报考壹点灵大学心理咨询师的条件？</p>
          </div>
          <div class="kz-ques-ans clearfix">
            <span class="kz-ques-ans-icon"></span>
            <p class="kz-ques-ansT"><span class="kz-ques-ansT-tip">1.&nbsp;</span>想成为心理咨询师，亦欲从事心理咨询师行业者。<span class="kz-ques-ansT-tip">2.&nbsp;</span>以获得国家心理咨询师证书，实践操作经验缺乏者。<span class="kz-ques-ansT-tip">3.&nbsp;</span>对心理学感兴趣，想提升自己生活、工作的心理学爱好者。<span class="kz-ques-ansT-tip">4.&nbsp;</span>企事业单位人力资源管理者。</p>
          </div>
          <div class="kz-ques-ask">
            <span class="kz-ques-ask-icon">问</span>
            <p class="kz-ques-askT">成为壹点灵大学心理咨询师后，我的成长方向会是怎样的？</p>
          </div>
          <div class="kz-ques-ans clearfix">
            <span class="kz-ques-ans-icon"></span>
            <div class="kz-ques-ansT">
              <p class="kz-ques-ansT-tip">1. 入驻壹点灵平台</p>
              咨询顾问 > 中级咨询师 > 高级咨询师
              <p class="kz-ques-ansT-tip">2. 入驻壹点灵</p>
              A. 销售专员 > 主管 > 经理 > 总监 > 事业部总经理；B. 销售专员 > 高级专员 > 资深专员 > VIP服务专家
            </div>
          </div>
          <div class="kz-ques-ask">
            <span class="kz-ques-ask-icon">问</span>
            <p class="kz-ques-askT">壹点灵大学心理咨询师授课及报考的形式和时间是怎样的？</p>
          </div>
          <div class="kz-ques-ans clearfix">
            <span class="kz-ques-ans-icon"></span>
            <div class="kz-ques-ansT">
              <span class="kz-ques-ansT-tip">1.&nbsp;</span>授课时间及形式：课程已于2017年12月上线，随时可以报名参与学习，学习周期3-4个月。全程在线学习，录播、直播、音频等多样化学习方式，随时随地可以学习。
              <br /><span class="kz-ques-ansT-tip">2.&nbsp;</span>考试时间及形式：在线修满学分后即可申请考核，每两个月进行一次考核认证。
            </div>
          </div>
          <a class="kz-about-btn" href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">立即咨询</a>
        </div>
      </div>
      <!--<a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self"><img src="images/180307kz_m/06_img_2X.png"/></a>-->
      <!--我们的证书优势-->
      <div class="kz-advan">
        <div class="kz-inner">
          <h3 class="kz-title">我们的证书优势</h3>
          <ul class="kz-advan-list clearfix">
            <li class="kz-advan-item">
              <a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">
                <!--<p class="kz-advan-item-title">海量咨询案例</p>
                <p class="kz-advan-item-subtitle">上千万心理咨询案例、课程学习库</p>-->
              </a>
            </li>
            <li class="kz-advan-item">
              <a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">
                <!--<p class="kz-advan-item-title">高额经济收益</p>
                <p class="kz-advan-item-subtitle">平台已为入驻咨询师带来超亿元收入</p>-->
              </a>
            </li>
            <li class="kz-advan-item">
              <a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">
                <!--<p class="kz-advan-item-title">权威大咖督导</p>
                <p class="kz-advan-item-subtitle">为您提供考证后继续教育督导</p>-->
              </a>
            </li>
          </ul>
          <a class="kz-about-btn" href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">立即咨询</a>
        </div>
      </div><!--advan-->
      <!--授课大咖云集-->
      <div class="kz-expert">
        <div class="kz-inner">
          <h3 class="kz-title">授课大咖云集</h3>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic01.png" class="swiper-lazy">
                <p class="underline name">杨发辉</p>
                <p class="desp">北京师范大学博士、副教授、壹点灵顾问督导、ACT认知行为心理治疗师、认证督导师、22部委文件起草人之一</p>
              </div>
              <div class="swiper-slide">
                <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic02.png" class="swiper-lazy">
                <p class="underline name">朱浩亮</p>
                <p class="desp">副教授、中央财经大学硕士生导师、壹点灵顾问督导、国家心理咨询师高级考评员、中科院心理所督导专家</p>
              </div>
              <div class="swiper-slide">
                <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic03.png" class="swiper-lazy">
                <p class="underline name">祝卓宏</p>
                <p class="desp">中科院心理研究所博士、教授、博士后导师、壹点灵顾问督导、中国心理卫生协会心理师专委会副主任委员</p>
              </div>
              <div class="swiper-slide">
                <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic04.png" class="swiper-lazy">
                <p class="underline name">姜长青</p>
                <p class="desp">北京安定医院主任医师、心理科主任、壹点灵顾问督导、中国心理卫生协会心理咨询师专业委员会主任 </p>
              </div>
              <div class="swiper-slide">
                <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic05.png" class="swiper-lazy">
                <p class="underline name">郑日昌</p>
                <p class="desp">北京师范大学教授、博导、壹点灵顾问督导、卫生部心理治疗师考试专委会委员、教育部考试中心研究员</p>
              </div>
              <div class="swiper-slide">
                <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic06.png" class="swiper-lazy">
                <p class="underline name">马建青</p>
                <p class="desp">浙江大学博士、教授、博士生导师、壹点灵顾问督导、求是特聘学者、心理卫生协会心理师专委会副主任委员 </p>
              </div>
              <div class="swiper-slide">
                <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic07.png" class="swiper-lazy">
                <p class="underline name">史占彪</p>
                <p class="desp">中科院心理所博士、教授、壹点灵首席专家顾问、壹点灵顾问督导、中科院心理所心理健康促进中心主任</p>
              </div>
              <div class="swiper-slide">
                <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic08.png" class="swiper-lazy">
                <p class="underline name">丁建略</p>
                <p class="desp">吉林大学副教授、硕士生导师、中国人民大学博士、壹点灵顾问督导、国家心理咨询师高级考评员</p>
              </div>
              <div class="swiper-slide">
                <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic09.png" class="swiper-lazy">
                <p class="underline name">沈健</p>
                <p class="desp">北华大学教授，硕士生导师，壹点灵顾问督导、中国催眠师大会组委会主席、吉林省心理咨询师协会副会长</p>
              </div>
              <div class="swiper-slide">
                <img data-src="//ts.yidianling.com/kaozheng/images/180226kz/experts_pic010.png" class="swiper-lazy">
                <p class="underline name">马孟俊</p>
                <p class="desp">台湾清华大学、宜兰大学讲师、壹点灵顾问督导、美国新泽西州立大学硕士、华南师范大学心理学博士</p>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!--各大媒体争相报道-->
      <div class="kz-media">
        <div class="kz-inner">
          <h3 class="kz-title">各大媒体争相报道</h3>
          <div class="kz-media-list clearfix">
            <div class="kz-media-item one fl"><p class="kz-media-text">心理健康助力全面小康。</p></div>
            <div class="kz-media-item two fr"><p class="kz-media-text">天灾无情人有情，壹点灵赴台风灾区紧急心理...</p></div>
          </div>
          <div class="kz-media-list clearfix">
            <div class="kz-media-item three fl"><p class="kz-media-text">壹点灵：互联网+公益心理咨询=无限可能...</p></div>
            <div class="kz-media-item four fr"><p class="kz-media-text">心灵花园公益敲门行动在继续 关注弱势青少...</p></div>
          </div>
        </div>
      </div>
      <!--关于我们-->
      <div class="kz-about">
        <div class="kz-inner">
          <h3 class="kz-title">关于我们</h3>
          <div class="kz-about-swiper">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about03.png" class="swiper-lazy"></div>
                <div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about01.png" class="swiper-lazy"></div>
                <div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about02.png" class="swiper-lazy"></div>
                <div class="swiper-slide"><img data-src="//m.love.yidianling.com/images/520/about/4.jpg" class="swiper-lazy"></div>
                <div class="swiper-slide"><img data-src="//m.love.yidianling.com/images/520/about/5.jpg" class="swiper-lazy"></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <p>壹点灵秉承"知心专业，贴心关怀，诚心服务"的理念，力图打造中国最有价值的综合性婚恋服务平台。现有员工300多人，拥有博士、硕士研究生学历者占到10%以上。<br />研发运营团队多来自阿里巴巴、百度、携程、5173等知名互联网公司。汇集了国内外4000多位专家，通过各类成熟的实战经验技巧帮助用户挽救婚姻、劝退第三者、挽回爱情、情感疏导。已经成功挽救了5万多个家庭。</p>
          <a class="kz-about-btn" href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" target="_self">查看详情</a>
        </div>
      </div>
      <!--wrapper-->
      <footer class="kz-footer">
        <a href="tel:400-114-1010" class="kz-footer-tel fl"><i class="kz-footer-tel-icon"></i>电话咨询</a>
        <a href="//p.qiao.baidu.com/cps/chat?siteId=11819255&userId=18267230" class="kz-footer-online fl"><i class="kz-footer-online-icon"></i>立即报名</a>
      </footer>
    </div>

    <script src="//static1.ydlcdn.com/mobile/js/jquery-2.1.0.min.js"></script>
    <script src="//static1.ydlcdn.com/mobile/js/jquery.lazyload.js"></script>
    <script src="//static1.ydlcdn.com/mobile/js/swiper.min.js"></script>
    <script>
//      (function(doc, win) {
//        var docEl = doc.documentElement,
//          resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
//          recalc = function() {
//            var clientWidth = docEl.clientWidth;
//            if(!clientWidth) return;
//            docEl.style.fontSize = 20 * (clientWidth / 750) + 'px';
//          };
//
//        if(!doc.addEventListener) return;
//        win.addEventListener(resizeEvt, recalc, false);
//        doc.addEventListener('DOMContentLoaded', recalc, false);
//      })(document, window);

    (function(designWidth, maxWidth) {
      var doc = document,
        win = window,
        docEl = doc.documentElement,
        remStyle = document.createElement("style"),
        tid;
      function refreshRem() {
        var width = docEl.getBoundingClientRect().width;
        maxWidth = maxWidth || 540;
        width > maxWidth && (width = maxWidth);
        var rem = width * 100 / designWidth;
        remStyle.innerHTML = 'html{font-size:' + rem + 'px;}';
      }
      if(docEl.firstElementChild) {
        docEl.firstElementChild.appendChild(remStyle);
      } else {
        var wrap = doc.createElement("div");
        wrap.appendChild(remStyle);
        doc.write(wrap.innerHTML);
        wrap = null;
      }
      //要等 wiewport 设置好后才能执行 refreshRem，不然 refreshRem 会执行2次；
      refreshRem();
      win.addEventListener("resize", function() {
        clearTimeout(tid); //防止执行两次
        tid = setTimeout(refreshRem, 300);
      }, false);
      win.addEventListener("pageshow", function(e) {
        if(e.persisted) { // 浏览器后退的时候重新计算
          clearTimeout(tid);
          tid = setTimeout(refreshRem, 300);
        }
      }, false);
      if(doc.readyState === "complete") {
        doc.body.style.fontSize = "16px";
      } else {
        doc.addEventListener("DOMContentLoaded", function(e) {
          doc.body.style.fontSize = "16px";
        }, false);
      }
    })(750, 750);


      $(function(){
        $("img.lazy").lazyload(); //懒加载class="lazy" data-original
      })
      //专家列表，轮播
      var experts_swiper = new Swiper('.kz-expert .swiper-container', {
//        autoplay: 5000,
        loop: true,
        pagination: '.kz-expert .swiper-pagination',
        paginationType: 'bullets',
        paginationClickable: true,
        slidesPerView: 'auto',
        autoplayDisableOnInteraction: false,
        lazyLoading: true,
        centeredSlides: true,
        initialSlide: 4,
      })
//      //各大媒体争相报道
//      var media_swiper = new Swiper('.kz-media .swiper-container', {
//        loop: true,
//        //  loopAdditionalSlides : 1,
//        autoplay: 5000,
//        autoplayDisableOnInteraction: false,
//        slidesPerView: 2,
//        slidesPerColumn: 2,
//        slidesPerColumnFill: 'row',
//        spaceBetween: 10,
////        pagination: '.kz-media .swiper-pagination',
////        paginationClickable: true,
//        slidesPerGroup: 4,
//        noSwiping: true,
//        noSwipingClass: '.kz-media .swiper-slide'
//      })
      //关于我们，轮播
      var about_swiper = new Swiper('.kz-about .swiper-container', {
        autoplay: 5000,
        spaceBetween: 20,
        pagination: '.kz-about .swiper-pagination',
        paginationType: 'bullets',
        paginationClickable: true,
        slidesPerView: 'auto',
        autoplayDisableOnInteraction: false,
        lazyLoading : true,
        centeredSlides: true,
      })
  </script>
    <script src="./js/main.js"></script>

    <!--<script language="javascript" src="//kht.zoosnet.net/JS/LsJS.aspx?siteid=KHT34021062&float=1&lng=cn"></script>-->
  </body>
</html>
