<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>壹点灵-心理咨询师考试报名</title>
		<meta id="mobile_agent" name="mobile-agent" url="//ts.yidianling.com/kaozheng/index_m.html" content="format=html5;url=//ts.yidianling.com/kaozheng/index_m.html" />
		<meta http-equiv="Cache-Control" content="no-transform" />
		<!--<meta content="width=device-width, initial-scale=0.9, minimum-scale=0.9, maximum-scale=0.9, user-scalable=0" name="viewport"/>-->
		<meta name="mobile-agent" content="format=html5;url=//t.yidianling.com/m/baidu-qinzi">
		<meta name="mobile-agent" content="format=html5;url=//3g.sina.com.cn/">
		<meta name="keywords" content="心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师" />
		<meta name="description" content="心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师" />

		<link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
		<link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
		<link rel="stylesheet" href="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.css">
		<link rel="stylesheet" href="css/kz_pc.css?20180305">
		<link rel="stylesheet" href="https://lvt.zoosnet.net/js/JS5.css" type="text/css">
		<script>

		</script>

	</head>
	<body>
		<div class="top">
			<div class="inner">
				<a href="kaozheng.html" class="top-logo"></a>
				<div class="fr">
					<p class="top-desc">服务时间：早8:00-凌晨1:00</p>
					<p class="top-tel"><i class="top-tel-icon"></i><span></span>400-114-1010</p>
				</div>
			</div>
		</div>
		<div class="nav">
			<nav>
				<ul class="inner clearfix">
					<li class="nav-item active">
						<a href="index.html">首页</a>
					</li>
					<li class="nav-item">
						<a href="#course">报考信息</a>
					</li>
					<li class="nav-item">
						<a href="#credential">证书介绍</a>
					</li>
					<li class="nav-item">
						<a href="#problem">常见问题</a>
					</li>
					<li class="nav-item">
						<a href="javascript:" onClick="showModal()">报考咨询</a>
					</li>
          <li class="nav-item">
            <a href="//kc.yidianling.com/index_kz.html">证书查询</a>
          </li>
          <li class="nav-item">
            <a href="about.html">公司介绍</a>
          </li>
          <li class="nav-item">
            <a href="about_cont.html">联系我们</a>
          </li>
				</ul>
			</nav>
		</div>
		<div class="banner" onclick="window.open('http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn')">
			<div class="inner">
				<h2 class="banner-title">—壹点灵从业能力认证体系—</h2>
				<div class="banner-subtitle">心理咨询师<span>证书报考</span></div>
				<p class="banner-desc">来自中科院心理研究所、北京安定医院、北京师范大学、浙江大学、吉林大学、温州大学专家团队共同研发</p>
				<a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn" class="goConsult">立即咨询</a>
			</div>
			<div class="banner-list">
				<div class="inner">
					<ul class="clearfix">
						<li class="banner-item">汇集全球各地<br />顶尖专家</li>
						<li class="banner-item">针对心理咨询<br />行业状况开发</li>
						<li class="banner-item">重新建立系统<br />培训概念</li>
						<li class="banner-item">培养掌握系统咨询<br />方法的咨询师</li>
					</ul>
				</div>
			</div>
		</div>
		<!--中级心理咨询师-->
		<div class="psychologist bg_gary">
			<div class="inner">
				<h3 class="inner-title">中级心理咨询师<span class="inner-subtitle">/ PSYCHOLOGIST</span></h3>
				<div class="psychologist-list">
					<ul class="clearfix">
						<li class="psychologist-item">
							<div class="psychologist-item-title">行业前景</div>
							<div class="psychologist-item-content">
								<div class="psychologist-item-desc">国外每1000人中配一名心理咨询师，国内100万人只配有5名心理师，缺口巨大。取消认定是为降低就业门槛，提高就业率，拓展职业发展空间，时薪达300-1000元不等。中国有1.9亿人在一生中需要接受专业的心理咨询或心理治疗，全国将需要40万心理咨询师，而国内从事心理咨询及治疗的专业人员只有几千名。</div>
								<a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn" class="psychologist-item-btn">立即咨询</a>
							</div>
						</li>
						<li class="psychologist-item">
							<div class="psychologist-item-title">证书介绍</div>
							<div class="psychologist-item-content">
								<div class="psychologist-item-desc">《中级心理咨询师》由中科院心理研究所、北京师范大学、浙江大学、吉林大学及温州大学等高校院所与壹点灵的专家团队共同研发的专业业技术能力认证证书。该证书招生对象是心理咨询行业从业者和对心理学有强烈兴趣的心理学爱好者。</div>
								<a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn" class="psychologist-item-btn">立即咨询</a>
							</div>
						</li>
						<li class="psychologist-item">
							<div class="psychologist-item-title">工作前景</div>
							<div class="psychologist-item-content">
								<div class="psychologist-item-desc">
									<p>新手心理咨询师：</p>
									<p class="psychologist-red"><span>100-300元</span> / 小时</p>
									<p>中级心理咨询师：</p>
									<p class="psychologist-red"><span>300-600元</span> / 小时</p>
									<p>高级心理咨询师：</p>
									<p class="psychologist-red"><span>600-1000元</span> / 小时</p>
								</div>
								<a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn" class="psychologist-item-btn">立即咨询</a>
							</div>
						</li>
						<li class="psychologist-item">
							<div class="psychologist-item-title">课程研发</div>
							<div class="psychologist-item-content">
								<div class="psychologist-item-desc">顶尖专家共同研发，国家证书专家团队再升级，九个疗法、七个业务、六大基础课，“业务重点”和“轮番重点”齐抓，升级心理咨询师从业能力。</div>
								<a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn" class="psychologist-item-btn">立即咨询</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--问题专区-->
		<div class="problem" id="problem">
			<div class="inner">
				<h3 class="inner-title">问题专区<span class="inner-subtitle">/ PROBLEM</span></h3>
				<div>
					<ul class="clearfix">
						<li class="problem-item">
							<div class="problem-avatar">01</div>
							<p class="problem-desc">心理学零基础能报考中级心理咨询师吗？</p>
							<a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn" class="problem-item-btn">点击咨询</a>
						</li>
						<li class="problem-item">
							<div class="problem-avatar">02</div>
							<p class="problem-desc">中级心理咨询师报考需什么条件？</p>
							<a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn" class="problem-item-btn">点击咨询</a>
						</li>
						<li class="problem-item">
							<div class="problem-avatar">03</div>
							<p class="problem-desc">我要怎么样才能在平台试听课程？</p>
							<a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn" class="problem-item-btn">点击咨询</a>
						</li>
						<li class="problem-item">
							<div class="problem-avatar">04</div>
							<p class="problem-desc">心理咨询师的就业前景是怎样的？</p>
							<a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn" class="problem-item-btn">点击咨询</a>
						</li>
						<li class="problem-item">
							<div class="problem-avatar">05</div>
							<p class="problem-desc">心理咨询师的课程都要学习什么内容？</p>
							<a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn" class="problem-item-btn">点击咨询</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--每天前10人，领取800元助学现金券-->
		<!-- <div class="quan">
			<div class="inner">
				<h3 class="quan-title">每天前10人，领取800元助学现金券</h3>
				<p class="quan-subtitle">咨询热线：400-114-1010</p>
				<a href="javascript:;" onclick="showModal()" class="quan-btn">立即报名</a>
			</div>
		</div> -->
		<!--认证课表-->
		<div class="timetable">
			<div class="inner">
				<h3 class="inner-title">认证课表<span class="inner-subtitle">/ TIMETABLE</span></h3>
				<div>
					<ul class="clearfix">
						<li class="timetable-item">
							<a href="javascript:;" onclick="showModal()" class="timetable-item-avatar fl"><img src="images/180226kz/timetable01.png" /></a>
							<div class="timetable-item-content fl">
								<h4 class="timetable-item-title">证书冲刺班</h4>
								<p class="timetable-item-subtitle">精准取证课程</p>
								<a href="javascript:;" onclick="showModal()" class="timetable-item-btn">立即报名</a>
							</div>
						</li>
						<li class="timetable-item">
							<a href="javascript:;" onclick="showModal()" class="timetable-item-avatar fl"><img src="images/180226kz/timetable02.png" /></a>
							<div class="timetable-item-content fl">
								<h4 class="timetable-item-title">业务基础班</h4>
								<p class="timetable-item-subtitle">精准取证+基础业务课程</p>
								<a href="javascript:;" onclick="showModal()" class="timetable-item-btn">立即报名</a>
							</div>
						</li>
						<li class="timetable-item">
							<a href="javascript:;" onclick="showModal()" class="timetable-item-avatar fl"><img src="images/180226kz/timetable03.png" /></a>
							<div class="timetable-item-content fl">
								<h4 class="timetable-item-title">心理咨询就业班</h4>
								<p class="timetable-item-subtitle">精准取证+业务提高+推荐就业</p>
								<a href="javascript:;" onclick="showModal()" class="timetable-item-btn">立即报名</a>
							</div>
						</li>
						<li class="timetable-item">
							<a href="javascript:;" onclick="showModal()" class="timetable-item-avatar fl"><img src="images/180226kz/timetable04.png" /></a>
							<div class="timetable-item-content fl">
								<h4 class="timetable-item-title">精英班</h4>
								<p class="timetable-item-subtitle">职业课程+系统辅导+综合服务</p>
								<a href="javascript:;" onclick="showModal()" class="timetable-item-btn">立即报名</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--专家介绍-->
		<div class="expert">
			<div class="inner">
				<h3 class="inner-title">专家介绍<span class="inner-subtitle">/ EXPERT</span></h3>
				<div class="expertSwiper swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic01.png" />
							<div class="mask"></div>
						</div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic02.png" />
							<div class="mask"></div>
						</div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic03.png" />
							<div class="mask"></div>
						</div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic04.png" />
							<div class="mask"></div>
						</div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic05.png" />
							<div class="mask"></div>
						</div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic06.png" />
							<div class="mask"></div>
						</div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic07.png" />
							<div class="mask"></div>
						</div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic08.png" />
							<div class="mask"></div>
						</div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic09.png" />
							<div class="mask"></div>
						</div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic010.png" />
							<div class="mask"></div>
						</div>
					</div>
				</div>
				<!--<div class="swiper-button-prev"></div>
   				<div class="swiper-button-next"></div>-->
				<div class="expertSwiper2 swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<h4 class="inner-title expert-title">杨发辉</h4>
							<p class="expert-desc">北京师范大学博士、副教授、壹点灵顾问督导、国际认知行为治疗权威认证机构——美国认知治疗学院（ACT）认证认知行为心理治疗师、认证培训师／督导师，国家22部委《关于加强心理健康服务的指导意见》文件起草人之一</p>
						</div>
						<div class="swiper-slide">
							<h4 class="inner-title expert-title">朱浩亮</h4>
							<p class="expert-desc">温州大学副教授、中央财经大学应用心理学硕士生导师、壹点灵顾问督导、国家心理咨询师高级考评员、中国科学院心理研究所心理健康促进中心督导专家、中国心理卫生协会心理咨询师专业委员会委员、中国心理学会EAP专业委员会委员、温州市心理学会秘书长</p>
						</div>
						<div class="swiper-slide">
							<h4 class="inner-title expert-title">祝卓宏</h4>
							<p class="expert-desc">中科院心理研究所博士、硕士生导师、教授；中央国家机关职工心理健康咨询中心主任；中国心理卫生协会心理咨询师专业委员会副主任委员</p>
						</div>
						<div class="swiper-slide">
							<h4 class="inner-title expert-title">姜长青</h4>
							<p class="expert-desc">北京安定医院主任医师，北京安定医院北临床心理科主任、壹点灵顾问督导、心理测验中心主任、中国心理卫生协会心理咨询师专业委员会主任委员</p>
						</div>
						<div class="swiper-slide">
							<h4 class="inner-title expert-title">郑日昌</h4>
							<p class="expert-desc">北师大教授、博士生导师、壹点灵顾问督导、中国浦东干部学院访问教师；国际中华应用心理学研究会名誉理事长；教育部考试中心兼职研究员；教育部中小学心理健康教育专家指导委员会委员；教育部普通高等学校学生心理健康教育专委会委员；卫生部心理治疗师考试专委会委员</p>
						</div>
						<div class="swiper-slide">
							<h4 class="inner-title expert-title">马建青</h4>
							<p class="expert-desc">浙江大学博士，教授，博士生导师、壹点灵顾问督导、求是特聘学者、浙江大学心理健康教育与咨询中心总督导，国家教育部高校心理健康教育专家指导委员会委员，中国心理卫生协会心理咨询师专业委员会副主任委员</p>
						</div>
						<div class="swiper-slide">
							<h4 class="inner-title expert-title">史占彪</h4>
							<p class="expert-desc">中国科学院博士、教授、壹点灵首席专家顾问，壹点灵顾问督导、中国科学院心理研究所心理健康促进中心主任，国际EAP协会中国分会副会长兼秘书长、中国心理卫生协会副秘书长，国首批多伦多“高效焦点解决心理教练”专业证书获得者</p>
						</div>
						<div class="swiper-slide">
							<h4 class="inner-title expert-title">丁建略</h4>
							<p class="expert-desc">中国人民大学博士、硕士生导师，壹点灵首席情感婚恋专家、壹点灵顾问督导、吉林大学心理学系副教授、国家心理咨询师高级考评员，中国公共文化研究与促进会（澳门）创会会长</p>
						</div>
						<div class="swiper-slide">
							<h4 class="inner-title expert-title">沈健</h4>
							<p class="expert-desc">北华大学教授，硕士生导师，北华大学心理咨询与心理健康教育研究中心主任、壹点灵顾问督导、北华大学教育科学学院党委书记、中国催眠师大会组委会主席、全国家庭教育讲师团成员、吉林省心理咨询师协会副会长，吉林省催眠学会理事长，北华大学教育科学学院党委书记</p>
						</div>
						<div class="swiper-slide">
							<h4 class="inner-title expert-title">马孟俊</h4>
							<p class="expert-desc">台湾清华大学、宜兰大学与艺术大学讲师、壹点灵顾问督导、美国新泽西州立Rutgers大学教育心理学硕士，华南师范大学心理学博士班进修</p>
						</div>
						<!--<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic01.png"/><h4 class="inner-title expert-title">杨发辉</h4><p class="expert-desc">博士、副教授；北京师范大学心理学部心理健康服务中心副主任、专家咨询师、督导；国际认知行为治疗权威认证机构——美国认知治疗学院（ACT）认证认知行为心理治疗师、认证培训师／督导师；国家22部委《关于加强心理健康服务的指导意见》文件起草人之一</p></div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic02.png"/><h4 class="inner-title expert-title">朱浩亮</h4><p class="expert-desc">副教授；壹点灵首席亲子咨询专家；中央财经大学应用心理学硕士生导师；国家心理咨询师高级考评员；中国科学院心理研究所心理健康促进中心督导专家；中国心理卫生协会心理咨询师专业委员会委员；中国心理学会EAP专业委员会委员；温州市心理学会秘书长</p></div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic03.png"/><h4 class="inner-title expert-title">祝卓宏</h4><p class="expert-desc">博士、硕士生导师；中科院心理研究所中国科学院心理健康重点实验室教授；中央国家机关职工心理健康咨询中心主任；中国心理卫生协会心理咨询师专业委员会副主任委员</p></div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic04.png"/><h4 class="inner-title expert-title">姜长青</h4><p class="expert-desc">主任医师；北京安定医院北临床心理科主任；心理测验中心主任。中国心理卫生协会心理咨询师专业委员会主任委员</p></div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic05.png"/><h4 class="inner-title expert-title">郑日昌</h4><p class="expert-desc">北京师范大学教授、博士生导师；中国浦东干部学院访问教师；国际中华应用心理学研究会名誉理事长；教育部考试中心兼职研究员；教育部中小学心理健康教育专家指导委员会委员；教育部普通高等学校学生心理健康教育专家指导委员会委员；卫生部心理治疗师考试专家委</p></div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic06.png"/><h4 class="inner-title expert-title">马建青</h4><p class="expert-desc">博士、教授；博士生导师；浙江大学求是特聘学者；浙江大学心理健康教育与咨询中心总督导；国家教育部高校心理健康教育专家指导委员会委员；中国心理卫生协会心理咨询师专业委员会副主任委员</p></div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic07.png"/><h4 class="inner-title expert-title">史占彪</h4><p class="expert-desc">博士、教授；壹点灵首席专家顾问；中国科学院心理研究所心理健康促进中心主任；国际EAP协会中国分会副会长兼秘书长；中国心理卫生协会副秘书长；国首批多伦多“高效焦点解决心理教练”专业证书获得者</p></div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic08.png"/><h4 class="inner-title expert-title">丁建略</h4><p class="expert-desc">博士、硕士生导师；壹点灵首席情感婚恋专家；吉林大学心理学系副教授；国家心理咨询师高级考评员；中国公共文化研究与促进会（澳门）创会会长</p></div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic09.png"/><h4 class="inner-title expert-title">沈健</h4><p class="expert-desc">教授、硕士生导师；北华大学心理咨询与心理健康教育研究中心主任；北华大学教育科学学院党委书记；中国催眠师大会组委会主席；全国家庭教育讲师团成员；吉林省心理咨询师协会副会长；吉林省催眠学会理事长；北华大学教育科学学院党委书记</p></div>
						<div class="swiper-slide"><img class="expert-avatar" src="images/180226kz/experts_pic010.png"/><h4 class="inner-title expert-title">马孟俊</h4><p class="expert-desc">台湾清华大学、宜兰大学与艺术大学讲师；美国新泽西州立Rutgers大学教育心理学硕士；华南师范大学心理学博士班进修</p></div>-->
					</div>
				</div>
			</div>
		</div>
		<!--课程介绍-->
		<div class="course bg_gary" id="course">
			<div class="inner">
				<h3 class="inner-title">课程介绍<span class="inner-subtitle">/ COURSE</span></h3>
				<div>
					<ul class="course-ul clearfix">
						<li class="course-item">
							<a class="course-item-avatar" href="javascript:;" onclick="showModal()"><img src="images/180226kz/course01.png" /></a>
							<div class="course-item-content">
								<h4 class="course-item-title">公共课</h4>
								<p class="course-item-subtitle">主要讲述心理咨询的职业道德、法律规范、咨询礼仪，首先了解心理咨询师外围知识</p>
								<a href="javascript:;" onclick="showModal()" class="course-item-btn">查看更多</a>
							</div>
						</li>
						<li class="course-item">
							<a class="course-item-avatar" href="javascript:;" onclick="showModal()"><img src="images/180226kz/course02.png" /></a>
							<div class="course-item-content">
								<h4 class="course-item-title">基础课</h4>
								<p class="course-item-subtitle">心理学概述、变态心理学、心理测验、咨询心理学，原国家二级考试课程内容尽收其中</p>
								<a href="javascript:;" onclick="showModal()" class="course-item-btn">查看更多</a>
							</div>
						</li>
						<li class="course-item">
							<a class="course-item-avatar" href="javascript:;" onclick="showModal()"><img src="images/180226kz/course03.png" /></a>
							<div class="course-item-content">
								<h4 class="course-item-title">必修课</h4>
								<p class="course-item-subtitle">4种疗法+3种业务、督导、心理咨询案例观摩，技法+案例+业务实际操作，一步解决心理咨询实际技能</p>
								<a href="javascript:;" onclick="showModal()" class="course-item-btn">查看更多</a>
							</div>
						</li>
					</ul>
					<ul class="course-ul2 clearfix">
						<li class="course-item">
							<a class="course-item-avatar" href="javascript:;" onclick="showModal()"><img src="images/180226kz/course04.png" /></a>
							<div class="course-item-content">
								<h4 class="course-item-title">拓展课</h4>
								<p class="course-item-subtitle">催眠、焦点、后现代，先进的心理咨询技术；人际关系、性心理、团体心理辅导，解决心理咨询难题</p>
								<a href="javascript:;" onclick="showModal()" class="course-item-btn">查看更多</a>
							</div>
						</li>
						<li class="course-item">
							<a class="course-item-avatar" href="javascript:;" onclick="showModal()"><img src="images/180226kz/course05.png" /></a>
							<div class="course-item-content">
								<h4 class="course-item-title">咨询实践</h4>
								<p class="course-item-subtitle">咨询与督导、实践模拟，专业实习，个人成长分析、督导，快速能够实际进行心理咨询</p>
								<a href="javascript:;" onclick="showModal()" class="course-item-btn">查看更多</a>
							</div>
						</li>
						<li class="course-item">
							<a class="course-item-avatar" href="javascript:;" onclick="showModal()"><img src="images/180226kz/course06.png" /></a>
							<div class="course-item-content">
								<h4 class="course-item-title">结业考核</h4>
								<p class="course-item-subtitle">咨询案例结业报告，专家面试，一步确定专业能力</p>
								<a href="javascript:;" onclick="showModal()" class="course-item-btn">查看更多</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--证书展示-->
		<div class="credential" id="credential">
			<div class="inner">
				<h3 class="inner-title">证书展示<span class="inner-subtitle">/ CREDENTIAL</span></h3>
				<div class="credential-desc fl">《中级心理咨询师》是由中科院心理研究所、北京安定医院、北京师范大学、浙江大学、吉林大学及温州大学等高校院所专家团队与壹点灵的专家团队共同研发的专业业技术能力证书。该证书招生对象是心理咨询行业从业者和对心理学有强烈兴趣的心理学爱好者，是当前国内最具有权威性的心理咨询专业技术能力认证证书之一。</div>
				<div class="credential-avatar fl"></div>
			</div>
		</div>
		<div class="footer bg_gary">
			<div class="footer-content">
				报考中级心理咨询师，探究神秘心理学
				<a href="javascript:;" onclick="showModal()" class="footer-content-btn">立即报名</a>报名电话：<span class="footer-content-tel">400-114-1010</span>
			</div>
			<p class="copyright">CopyRight ©2015-2018上海袋虎信息技术有限公司 沪ICP备15037258号</p>
			<div class="copyright-avatar">
				<a href="javascript:;" onclick="showModal()"><img src="//img.ydlcdn.com/file/2017/09/18/5gd9l4vntgca7ozr.png" /></a>
				<a href="javascript:;" onclick="showModal()"><img src="//static.ydlcdn.com/v3/images/hy_124x47.png" /></a>
			</div>
		</div>

		<div class="floatBtn"></div>


		<!--<div class="floatBar">-->
			<!--<div class="floatBar-wrapper">-->
				<!--<img class="floatBar-avatar" src="images/180226kz/img_2X.png" alt="" />-->
				<!--<div class="floatBar-desc"><p>您好！我是您的学习顾问。</p><p>更多咨询师学习课程，请拨打热线：<span>400-114-1010</span></p></div>-->
				<!--<div class="float-2code"><div class="floatRight-2code"></div><p class="floatRight-2code-text">扫码了解更多</p></div>-->
				<!--<div class="floatBar-close"></div>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div class="floatBar">-->
			<!--<div class="floatBar-wrapper">-->
				<!--<img class="floatBar-avatar" src="images/180226kz/img_2X.png" alt="" />-->
				<!--<div class="floatBar-desc"><p>您好！我是您的学习顾问。</p><p>更多咨询师学习课程，请拨打热线：<span>400-114-1010</span></p></div>-->
				<!--&lt;!&ndash;<div class="float-2code"><div class="floatRight-2code"></div><p class="floatRight-2code-text">扫码了解更多</p></div>&ndash;&gt;-->
				<!--<div class="floatBar-close"></div>-->
			<!--</div>-->
		<!--</div>-->

		<div class="floatRight" style="height: auto">
			<img class="floatRight-avatar" src="images/180226kz/img_2X.png"/>
			<p><a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn">证书咨询</a></p>
			<p><a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn">费用咨询</a></p>
			<p><a href="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn">费用咨询</a></p>
			<p><a href="javascript:;" onclick="showModal()">立即报名</a></p>
			<!--<div class="floatRight-2code"></div>-->
			<!--<p class="floatRight-2code-text">扫码了解更多</p>-->
		</div>
		<script src="//static.ydlcdn.com/v3/js/jquery-1.11.2.min.js"></script>
		<script src="//static.ydlcdn.com/global/js/jquery.lazyload.js"></script>
		<script src="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.js"></script>
		<script type="text/javascript" src="http://lvt.zoosnet.net/LR/Chatpre.aspx?id=LVT51091364&lng=cn"></script>

		<!--<a target="_blank" href="" style="position:fixed;z-index:999;right:-5px;bottom: 20px;display: inline-block;width: 20px;border-radius: 5px;color:white;font-size:14px;line-height:17px;background: #2476CE;box-shadow: 0 0 5px #666;word-wrap: break-word;padding: 10px 6px;border: 2px solid white;">查看表单</a>-->
		<div class="modal"></div>
    <script src="./js/main.js"></script>
		<script>
			//导航hover事件
			$('.nav-item').hover(function() {
				if($(this).index() != 0) {
					$('.nav-item.active').removeClass('active')
				}
				if($(this).index() == 0) {
					$(this).addClass('active')
				}
			}, function() {
				$('.nav-item').eq(0).addClass('active')
			});

			var now;

			var expertSwiper2 = new Swiper('.expertSwiper2.swiper-container', {
//				autoplay: 5000,
				autoplayDisableOnInteraction: false,
				//				initialSlide: 4,
				slidesPerView: 'auto',
				lazyLoading: true,
				centeredSlides: true,
				effect: 'fade',
				onSlideChangeStart: function(swiper) {
					now = swiper.activeIndex;
//					console.log(now);
					expertSwiper.slideTo(now, 2000, false); //切换到第一个slide，速度为1秒
				}
			})

			var expertSwiper = new Swiper('.expertSwiper.swiper-container', {
//				autoplay: 5000,
				autoplayDisableOnInteraction: false,
				//				initialSlide: 4,
				slidesPerView: 'auto',
				spaceBetween: 25,
				lazyLoading: true,
				centeredSlides: true,
				slideToClickedSlide: true,
				onClick: function(swiper) {
					now = swiper.activeIndex;
//					console.log(now);
					expertSwiper2.slideTo(now, 5000, false); //切换到第一个slide，速度为1秒
				},
				onSlideChangeStart: function(swiper) {
//					$('.swiper-slide-active .mask').css('visibility','hidden');
					now = swiper.activeIndex;
					console.log(now);
					expertSwiper2.slideTo(now, 2000, false); //切换到第一个slide，速度为1秒
				},
//				mousewheelControl : true,
//				mousewheelSensitivity : 1,
//				prevButton:'.expert .swiper-button-prev',
//				nextButton:'.expert .swiper-button-next',
			})
			expertSwiper.slideTo(4, 1000, false);
			expertSwiper2.slideTo(4, 1000, false);
			$('.mask').hover(function(){
				console.log($(this).parents('.swiper-slide').index());
				now = $(this).parents('.swiper-slide').index();
				expertSwiper.slideTo(now, 2000, false);
				expertSwiper2.slideTo(now, 2000, false);
			})
			$('.expertSwiper').hover(function(){

			},function(){
				expertSwiper.slideTo(4, 1000, false);
				expertSwiper2.slideTo(4, 1000, false);
			})

			$('.mask').click(function() {
				$(this).parents('.swiper-slide').trigger('click');
			})
			var tag = 0;
			//显示弹窗
//			var iWidth = 500;
//			var iHeight = 640;
			function showModal(){//url,name,iWidth,iHeight
//				$('.modal').show();
//				$('iframe').show();
//				$("iframe").animate({width:500},"slow");
	            //获得窗口的垂直位置
	            var iTop = (window.screen.availHeight - 30 - 435) / 2;
	            //获得窗口的水平位置
	            var iLeft = (window.screen.availWidth - 10 - 750) / 2;
	            window.open("//cn.mikecrm.com/vzOKJPH", "", 'height=' + 435 + ',innerHeight=' + 435 + ',width=' + 750 + ',innerWidth=' + 750 + ',top=' + iTop + ',left=' + iLeft + ',scrollbars=yes,status=yes');
//				window.open('//cn.mikecrm.com/vzOKJPH', '', 'height=640,width=500,top=200,left=200,scrollbars=yes,status=yes');
			}

			$('.modal').bind("click", function(e) {//弹窗遮罩层，点击消失
				var target = $(e.target);
				if(target.closest($('iframe')).length == 0) {
					$('iframe').css('width','0');
					$('.modal,iframe').hide();
				}
			});

			$('.floatBar-close').click(function(){//关闭广告栏
				$('.floatBar').animate({left:'-100%'},500,function(){
					$('.floatBtn').show();
				});
				setTimeout(function(){//关闭后，10s再次弹出
					$('.floatBtn').trigger('click');
				},10000);
			})
			$('.floatBtn').click(function(){//弹出广告栏
				$('.floatBtn').hide();
				$('.floatBar').animate({left:'0'},500,function(){
				});
			})

			setTimeout(function(){
				$('.floatBtn').trigger('click');
			},600);
			setTimeout(function(){
				$('.floatBar-close').trigger('click');
			},6600);
			$('.nb-invite-tool-base').on('click',function(){
				console.log('333')
			})
			var _newBridge = 0;
			if(_newBridge){
				$('head').append('<style>#newBridge{display:none}</style>')
			}
//			window.onload = function() {
//			    showModal();//直接执行onclick中的函数就行
//			    $('.modal,iframe').hide();
//				setTimeout(function(){
//					$('.modal').css('z-index','998');
//					$('iframe').css('z-index','999');
//					$('.main').attr('style','margin: 0;')
//				},"slow");
//
//			}
//			setTimeout(function(){
//				$('iframe').css('min-width','0');
//				$('iframe').css('visibility','visible');
//				$('iframe').css('display','none');
//			},500);
//			if(window.innerWidth<1200){//宽度小于1200的时候，下一页
//				$('.swiper-button-next').offset({
//					left: innerWidth-55
//				})
//			}
		;(function (){
			function search()
			{
				setTimeout(function (){
					if ($('#nb_invite_tool').length > 0)
					{
						console.log(1)
						$('#nb_invite_tool').on('click', function (){
							$('#nb_invite_wrap').remove();
						})
					}
					else
					{
						search();
					}
				}, 100)
			}
			search();
		})();
		</script>
		<!--<script charset="UTF-8" defer>
			(function(h) {
				function n(a) {
					return null === a ? null : a.scrollHeight > a.clientHeight ? a : n(a.parentNode)
				}

				function t(b) {
					if(b.data) {
						var f = JSON.parse(b.data);
						!f.height || p || q || (d.style.height = +f.height + "px");
						if(f.getter) {
							b = {};
							var f = [].concat(f.getter),
								k, h = f.length,
								m, c, g, e;
							for(k = 0; k < h; k++) {
								m = k;
								c = f[k] || {};
								c.n && (m = c.n);
								g = null;
								try {
									switch(c.t) {
										case "window":
											e = window;
											break;
										case "scrollParent":
											e = n(a) || window;
											break;
										default:
											e = a
									}
									if(c.e)
										if("rect" === c.v) {
											g = {};
											var l = e.getBoundingClientRect();
											g = {
												top: l.top,
												left: l.left,
												width: l.width,
												height: l.height
											}
										} else g = e[c.v].apply(e, [].concat(c.e)) || !0;
									else c.s ? (e[c.v] = c.s, g = !0) : g = e[c.v] || !1
								} catch(u) {}
								b[m] = g
							}
							b.innerState = !p && !q;
							a.contentWindow.postMessage(JSON.stringify({
								queryRes: b
							}), "*")
						}
					}
				}
				for(var r = h.document, b = r.documentElement; b.childNodes.length && 1 == b.lastChild.nodeType;) b = b.lastChild;
				var d = b.parentNode,
					a = r.createElement("iframe");
				d.style.overflowY = "auto";
				d.style.overflowX = "hidden";
				var p = d.style.height && "auto" !== d.style.height,
					q = "absolute" === d.style.position || window.getComputedStyle && "absolute" === window.getComputedStyle(d, null).getPropertyValue("position") || d.currentStyle && "absolute" === d.currentStyle.position;
				h.addEventListener && h.addEventListener("message", t, !1);
				a.src = "//cn.mikecrm.com/vzOKJPH";
				a.id = "mkinvzOKJPH";
				a.onload = function() {
					a.contentWindow.postMessage(JSON.stringify({
						cif: 1
					}), "*")
				};
				a.frameBorder = 0;
				a.scrolling = "no";
				a.style.display = "block";
				a.style.minWidth = "500px";
//				a.style.width = "0";
				a.style.minHeight = "689px";
				a.style.border = "none";
				a.style.overflow = "auto";
				a.style.position = "fixed";
				a.style.bottom = "0";
				a.style.right = "0";
				a.style.zIndex = "999";
				a.style.visibility = "hidden";
				d.insertBefore(a, b);
				$('.main').attr('style','margin: 0;')
			})(window);
		</script>-->
	</body>

</html>
