<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>壹点灵-心理咨询师考试报名</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <meta name="keywords" content="心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师"/>
    <meta name="description" content="心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师"/>
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
    <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
    <link rel="stylesheet" href="//static1.ydlcdn.com/mobile/css/normalize.css">
    <link href="//static1.ydlcdn.com/mobile/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/kz_m_2.css?20190112">
    <script src="//static1.ydlcdn.com/mobile/js/jquery-2.1.0.min.js"></script>
    <script>
      var _hmt = _hmt || [];
      (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?4446f7fa4186990430cb61ee85ce0d00";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
      })();
      </script>
    <script>

     // rem单位的转换
        document.documentElement.style.fontSize = window.innerWidth/3.75 + 'px';
        $(window).resize(function(){
            document.documentElement.style.fontSize = window.innerWidth/3.75 + 'px';
        });
    </script>
  </head>
  <body>
    <!-- 头部 -->
    <header class="header clearfix">
      <a href="javascript:;" target="_self"><img class="logo lazy" data-original="./images/180413kz_m/1@2x.jpg" src="./images/180413kz_m/lazy.png" /></a>
      <!-- <a class="tel-wrapper fr clearfix" href="tel:400-114-1010"><img src="images/180413kz_m/tel_ico.png" class="tel-ico">400-114-1010</a> -->
    </header>
    <!-- banner -->
    <a href="https://lvt.zoosnet.net/lr/chatpre.aspx?id=lvt51091364&lng=cn" target="_self" class="banner">
      <img class="lazy" data-original="./images/180413kz_m/2@2x.jpg"  src="./images/180413kz_m/lazy.png"/>
    </a>
    <!-- 咨询热点 -->
    <a href="https://lvt.zoosnet.net/lr/chatpre.aspx?id=lvt51091364&lng=cn" target="_self" class="banner">
      <img class="lazy" data-original="./images/180413kz_m/3@2x.jpg" src="./images/180413kz_m/lazy.png"/>
    </a>
    <div class="banner">
      <img class="lazy" data-original="./images/180413kz_m/4@2x.jpg" src="./images/180413kz_m/lazy.png"/>
    </div>
    <!-- 成长曲线图 -->
    <a href="https://lvt.zoosnet.net/lr/chatpre.aspx?id=lvt51091364&lng=cn" target="_self" class="banner">
      <img class="lazy" data-original="./images/180413kz_m/5@2x.jpg" src="./images/180413kz_m/lazy.png"/>
    </a>
    <!-- 线上听课 -->
    <a href="https://lvt.zoosnet.net/lr/chatpre.aspx?id=lvt51091364&lng=cn" target="_self" class="banner">
      <img class="lazy" data-original="./images/180413kz_m/6@2x.jpg" src="./images/180413kz_m/lazy.png"/>
    </a>
    <!-- 我们的专家团队 -->
    <div class="banner">
      <img class="lazy" data-original="./images/180413kz_m/7@2x.jpg" src="./images/180413kz_m/lazy.png"/>
    </div>
    <div class="expert-scroll-box">
      <img class="lazy" data-original="./images/180413kz_m/b1.png" src="./images/180413kz_m/lazy.png"/>
      <img class="lazy" data-original="./images/180413kz_m/b2.png" src="./images/180413kz_m/lazy.png"/>
      <img class="lazy" data-original="./images/180413kz_m/b3.png" src="./images/180413kz_m/lazy.png"/>
      <img class="lazy" data-original="./images/180413kz_m/b4.png" src="./images/180413kz_m/lazy.png"/>
      <img class="lazy" data-original="./images/180413kz_m/b5.png" src="./images/180413kz_m/lazy.png"/>
      <img class="lazy" data-original="./images/180413kz_m/b6.png" src="./images/180413kz_m/lazy.png"/>
      <img class="lazy" data-original="./images/180413kz_m/b7.png" src="./images/180413kz_m/lazy.png"/>
    </div>
    <!-- 学员评价 -->
    <div class="student-evaluate">
      <img class="student-bg" src="./images/180413kz_m/8@2x.jpg"/>
      <div class="swiper-1"></div>
      <div class="student-box swiper-container" id="student-box">
        <div class="student-slide-wrapper swiper-wrapper">
          <div class="img-box swiper-slide">
            <img class="lazy" data-original="./images/180413kz_m/student1@2x.png" src="./images/180413kz_m/lazy.png"/>
          </div>
          <div class="img-box swiper-slide">
            <img class="lazy" data-original="./images/180413kz_m/student2@2x.png" src="./images/180413kz_m/lazy.png"/>
          </div>
          <div class="img-box swiper-slide">
            <img class="lazy" data-original="./images/180413kz_m/student3@2x.png" src="./images/180413kz_m/lazy.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="banner">
      <img class="lazy" data-original="./images/180413kz_m/9@2x.jpg" src="./images/180413kz_m/lazy.png"/>
    </div>
    <a href="https://lvt.zoosnet.net/lr/chatpre.aspx?id=lvt51091364&lng=cn" target="_self" class="banner">
      <img class="lazy" data-original="./images/180413kz_m/10@2x.jpg" src="./images/180413kz_m/lazy.png"/>
    </a>
    <div class="banner">
      <img class="lazy" data-original="./images/180413kz_m/11@2x.jpg" src="./images/180413kz_m/lazy.png"/>
    </div>
    <div class="about-box">
      <div class="about-container swiper-container" id="about-container">
        <div class="swiper-2"></div>
        <div class="about-slide-wrapper swiper-wrapper">
          <div class="img-box swiper-slide">
            <img class="lazy" data-original="./images/180413kz_m/picture2@2x.jpg" src="./images/180413kz_m/lazy.png"/>
          </div>
          <div class="img-box swiper-slide">
            <img class="lazy" data-original="./images/180413kz_m/picture3@2x.jpg" src="./images/180413kz_m/lazy.png"/>
          </div>
          <div class="img-box swiper-slide">
            <img class="lazy" data-original="./images/180413kz_m/picture4@2x.jpg" src="./images/180413kz_m/lazy.png"/>
          </div>
          <div class="img-box swiper-slide">
            <img class="lazy" data-original="./images/180413kz_m/picture5@2x.jpg" src="./images/180413kz_m/lazy.png"/>
          </div>
          <div class="img-box swiper-slide">
            <img class="lazy" data-original="./images/180413kz_m/picture6@2x.jpg" src="./images/180413kz_m/lazy.png"/>
          </div>
          <div class="img-box swiper-slide">
            <img class="lazy" data-original="./images/180413kz_m/picture7@2x.jpg"/>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 30px;background: rgb(88, 88, 88);color: #fff;font-size: 10px;text-align: center;padding: 5px 20px">Copyright  2015 - 2019杭州袋虎信息技术有限公司浙ICP备18004841号-2</div>
    <footer class="kz-footer">
      <a href="https://lvt.zoosnet.net/lr/chatpre.aspx?id=lvt51091364&lng=cn" class="kz-footer-tel fl bm"><img class="lazy" data-original="./images/180413kz_m/icon2.png" src="./images/180413kz_m/lazy.png"/><span>报名</span></a>
      <a href="https://lvt.zoosnet.net/lr/chatpre.aspx?id=lvt51091364&lng=cn" class="kz-footer-online fl zx"><img class="lazy" data-original="./images/180413kz_m/icon1.png" src="./images/180413kz_m/lazy.png"/><span>立即咨询</span></a>
    </footer>
    <div class="empty-bottom"></div>
    <script src="//static1.ydlcdn.com/mobile/js/swiper.min.js"></script>
    <script src="//static1.ydlcdn.com/global/js/jquery.lazyload.js"></script>
    <script>
      $(function(){
        var mySwiper = new Swiper('#student-box', {
          autoplay:5000,
          pagination : '.swiper-1'
        })
        var mySwiper = new Swiper('#about-container', {
          autoplay:5000,
          pagination:'.swiper-2'
        })
        $("img.lazy").lazyload();
        setTimeout(()=>{
          $("img.lazy").each(function(){
            let _this = $(this);
            let img = _this.data("original");
            _this.attr("src", img);
          });
        },300);
      })

      // var mySwiper = new Swiper('.teacher-swiper', {
      //   speed: 600,
      //   slidesPerView : 1.344,
      //   initialSlide :4,
      //   spaceBetween : 15,
      //   centeredSlides : true,
      //   lazyLoading: true,
      //   pagination : '.swiper-pagination',
      // })
      // var mySwiper = new Swiper('.student-swiper', {
      //   autoplay: 5000,
      //   autoplayDisableOnInteraction : false,
      //   speed: 600,
      //   pagination : '.swiper-pagination',
      //   loop: true,
      //   onSlideChangeStart: function(swiper){
      //     $('.user-head').addClass('opa-0')
      //   },
      //   onSlideChangeEnd: function(swiper){
      //     $('.user-head').removeClass('opa-0')
      //   }
      // })

      // setTimeout(function(){
      //   var about_swiper = new Swiper('.kz-about-swiper .swiper-container', {
      //     autoplay: 5000,
      //     spaceBetween: 20,
      //     pagination: '.kz-about .swiper-pagination',
      //     paginationType: 'bullets',
      //     paginationClickable: true,
      //     slidesPerView: 'auto',
      //     loop: true,
      //     autoplayDisableOnInteraction: false,
      //     lazyLoading : true,
      //     centeredSlides: true,
      //   })
      // },50)
    </script>
    <script type="text/javascript" src="//lvt.zoosnet.net/JS/LsJS.aspx?siteid=LVT51091364&float=1&lng=cn"></script>
    <link href="https://lvt.zoosnet.net/js/JS5_1.css" rel="stylesheet" type="text/css">
    <script src="./js/main.js"></script>

  </body>
</html>
