<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>壹点灵-社会工作师考试通关方案</title>
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="mobile-agent" content="format=html5;url=//t.yidianling.com/m/baidu-qinzi">
    <meta name="mobile-agent" content="format=html5;url=//3g.sina.com.cn/">
    <meta name="keywords" content="社工师考试报名、心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师"/>
    <meta name="description" content="社工师考试报名、心理咨询师报考条件、2018心理咨询师新政策、心理咨询师考试时间、2018心理咨询师改革、心理学自考、心理学考试、心理咨询师考试、心理咨询师考证、心理咨询师、二级心理咨询师、三级心理咨询师"/>

    <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
    <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.ico" />
    <link rel="stylesheet" href="./css/social_worker.css?03131113">

  </head>

  <body>
    <!-- 头部 -->
    <div class="social-worker-header">
      <div class="header clearfix">
        <div class="inner">
          <a href="//www.yidianling.com/" class="fl">
            <img src="//static.ydlcdn.com/activity/images/social/logo_new.png" class="logo" />
          </a>
          <div class="ewm-area fr">
            <img src="//static.ydlcdn.com/activity/images/social/ewm-white.png"  class="ewm-unactive" />
            <img src="//static.ydlcdn.com/activity/images/social/ewm-red.png"  class="ewm-active" />
            <div class="ewm-img-area">
              <img src="//static.ydlcdn.com/activity/images/social/ewm.png" >
            </div>
          </div>
          <div class="tel-area fr">
              <p class="time">服务时间 : 早8:00 - 凌晨1:00</p>
              <div class="tel"><img src="//static.ydlcdn.com/activity/images/social/tel-ico.png" class="ico-tel"><span class="line"></span><span class="tel-num">400-114-1010</span></div>
          </div>
        </div>
      </div>
      <h2 class="social-sub-title">—2018年全国社会工作师—</h2>
      <h1 class="social-title">社会工作师考试通关方案</h1>
      <p class="social-desc">2018年社工人才缺口大增，为平衡人才市场，预计考试通过人数增加2万人，机会就在眼前</p>
      <a href="javascript:;" class="social-btn" onclick="showModal()">点击获取学习信息</a>
      <div class="nav-bar">
        <ul class="inner clearfix">
          <li data-target="problems">考试公告</li>
          <li data-target="course">复习资料</li>
          <li data-target="pass">热门课程</li>
          <li data-target="pass">备考方案</li>
          <li data-target="course">热门考点</li>
        </ul>
      </div>
    </div>
    <!-- 2018社会工作师报考常见问题 -->
    <div class="social-worker-problems">
      <h3 class="capital">2018社会工作师报考常见问题</h3>
      <div class="line"></div>
      <div class="problems-wrapper clearfix">
        <div class="problems-block">
          <img src="//static.ydlcdn.com/activity/images/social/pro-ico1.png" on-src="pro-ico1-w" off-src="pro-ico1" class="unactive" />
          <p class="capital">学历要求</p>
          <p class="desc">初级考试需要取得高中或者中专学历，从事社会工作满4年；中级考试需要取得高中或者中专学历，从事社会工作满6年</p>
          <a href="javascript:;" class="btn" onclick="showEwm()">查看更多</a>
        </div>
        <div class="problems-block">
          <img src="//static.ydlcdn.com/activity/images/social/pro-ico2.png" on-src="pro-ico2-w" off-src="pro-ico2" class="unactive" />
          <p class="capital">专业要求</p>
          <p class="desc">报考社会工作师需取得国家教育行政主管部门承认的正规学历即可，包括远程学历、成人学历、全日制专本学历等等</p>
          <a href="javascript:;" class="btn" onclick="showEwm()">查看更多</a>
        </div>
        <div class="problems-block">
          <img src="//static.ydlcdn.com/activity/images/social/pro-ico3.png" on-src="pro-ico3-w" off-src="pro-ico3" class="unactive" />
          <p class="capital">工作年限</p>
          <p class="desc">工作年限与毕业时间到底怎么计算？全日制学历与非统招学历有什么区别？承认学历如何报考？工作年限有何不同？</p>
          <a href="javascript:;" class="btn" onclick="showEwm()">查看更多</a>
        </div>
        <div class="problems-block">
          <img src="//static.ydlcdn.com/activity/images/social/pro-ico4.png" on-src="pro-ico4-w" off-src="pro-ico4" class="unactive" />
          <p class="capital">社保证明</p>
          <p class="desc">有哪些省份地区新增了户籍社保要求？社保证明需要从哪个机构开具？可以跨级报考吗？</p>
          <a href="javascript:;" class="btn" onclick="showEwm()">查看更多</a>
        </div>
        <div class="problems-block">
          <img src="//static.ydlcdn.com/activity/images/social/pro-ico5.png" on-src="pro-ico5-w" off-src="pro-ico5" class="unactive" />
          <p class="capital">考试内容</p>
          <p class="desc">实行全国统一大纲、统一命题的考试制度,原则上每年进行一次,具体考试时间以官方公布为准,主观题采用专用答题卡做大,实行全国统一评卷</p>
          <a href="javascript:;" class="btn" onclick="showEwm()">查看更多</a>
        </div>
        <div class="problems-block">
          <img src="//static.ydlcdn.com/activity/images/social/pro-ico6.png" on-src="pro-ico6-w" off-src="pro-ico6" class="unactive" />
          <p class="capital">工作证明</p>
          <p class="desc">如何开具社会工作师的工作证明？证明格式是什么样？红章是单位还是部门？台湾居民需提供《台湾居民来往大陆通行证》</p>
          <a href="javascript:;" class="btn" onclick="showEwm()">查看更多</a>
        </div>
      </div>
      <div class="social-pipe clearfix">
        <img src="//static.ydlcdn.com/activity/images/social/social-pipe.png" />
        <p class="capital fl">2018年社会工作师报考条件审核通道</p>
        <a href="javascript:;" onclick="showModal()" class="btn fl">点击查询</a>
      </div>
    </div>
    <!-- 考试信息 -->
    <div class="social-worker-info clearfix">
      <div class="inner">
        <div class="info-wrapper fl">
          <h3 class="capital">考试信息</h3>
          <div class="line"></div>
          <ul>
            <li>
              <a href="javascript:;" onclick="showModal()">
                <span class="desc">2018年社会工作者考试时间确定为6月9-10日</span>
                <span>详情</span>
              </a>
            </li>
            <li>
              <a href="javascript:;" onclick="showModal()">
                <span class="desc">2018年社会全科通关方案 零基础取证，领补贴攻略</span>
                <span>详情</span>
              </a>
            </li>
            <li>
              <a href="javascript:;" onclick="showModal()">
                <span class="desc">2018年社会工作师报名即将开始</span>
                <span>详情</span>
              </a>
            </li>
            <li>
              <a href="javascript:;" onclick="showModal()">
                <span class="desc">社会工作师正版电子教材下载</span>
                <span>详情</span>
              </a>
            </li>
            <li>
              <a href="javascript:;" onclick="showModal()">
                <span class="desc">2018年社会工作师 最新考点解读</span>
                <span>详情</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="info-countdown-wrapper fl">
          <p class="capital">距离2018年社会工作师考试还剩：</p>
          <div id="countdown" class="clearfix">
            <div class="dash days_dash">
                <div class="digit">0</div>
                <div class="digit">0</div>
                <span class="dash_title">天</span>
            </div>

            <div class="dash hours_dash">
                <div class="digit">0</div>
                <div class="digit">0</div>
                <span class="dash_title">时</span>
            </div>

            <div class="dash minutes_dash">
                <div class="digit">0</div>
                <div class="digit">0</div>
                <span class="dash_title">分</span>
            </div>

            <div class="dash seconds_dash">
                <div class="digit">0</div>
                <div class="digit">0</div>
                <span class="dash_title">秒</span>
            </div>
          </div>
          <div class="label-wrapper clearfix">
            <a href="javascript:;" onclick="showModal()">历年真题</a>
            <a href="javascript:;" onclick="showModal()">模拟考试</a>
            <a href="javascript:;" onclick="showModal()">真题解析</a>
            <a href="javascript:;" onclick="showModal()">押题密训</a>
            <a href="javascript:;" onclick="showModal()">边学边练</a>
            <a href="javascript:;" onclick="showModal()">教材精讲</a>
            <a href="javascript:;" onclick="showModal()">随时观看</a>
            <a href="javascript:;" onclick="showModal()">章节练习</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 常见问题 -->
    <div class="social-worker-ques">
      <h3 class="capital">常见问题</h3>
      <div class="line"></div>
      <div class="social-ques-wrapper clearfix">
        <a href="javascript:;" class="social-ques-item line-h">
          <span class="desc">助理社会工作师的报考条件是什么？</span>
          <span class="detail" onclick="showEwm()">查看详情</span>
        </a>
        <a href="javascript:;" class="social-ques-item line-h">
          <span class="desc">成为社会工作师有什么好处？</span>
          <span class="detail" onclick="showEwm()">查看详情</span>
        </a>
        <a href="javascript:;" class="social-ques-item line-h">
          <span class="desc">社会工作师中级的报考条件是什么？</span>
          <span class="detail" onclick="showEwm()">查看详情</span>
        </a>
        <a href="javascript:;" class="social-ques-item line-h">
          <span class="desc">不是社工专业能报考社会工作师吗？</span>
          <span class="detail" onclick="showEwm()">查看详情</span>
        </a>
        <a href="javascript:;" class="social-ques-item">
          <span class="desc">是什么样的形式学习？</span>
          <span class="detail" onclick="showEwm()">查看详情</span>
        </a>
        <a href="javascript:;" class="social-ques-item">
          <span class="desc">社工师证书有什么用？</span>
          <span class="detail" onclick="showEwm()">查看详情</span>
        </a>
        <a href="javascript:;" class="social-ques-item">
          <span class="desc">课程是什么形式？</span>
          <span class="detail" onclick="showEwm()">查看详情</span>
        </a>
        <a href="javascript:;" class="social-ques-item">
          <span class="desc">零基础能够学习吗？</span>
          <span class="detail" onclick="showEwm()">查看详情</span>
        </a>
      </div>
    </div>
    <!-- 经典教辅 -->
    <div class="social-worker-course">
      <h3 class="capital">经典教辅、全新自选资料、真题猜题免费下载</h3>
      <div class="line"></div>
      <div class="inner">
        <ul class="course-wrapper clearfix">
          <li>
            <img src="//static.ydlcdn.com/activity/images/social/course-pic1.png" />
            <span class="circle"></span>
            <p class="capital">2017中级社工考试真题</p>
            <p class="capital-sub">2017中级社工考试真题</p>
            <a href="javascript:;" class="btn" onclick="showEwm()">免费下载</a>
          </li>
          <li>
            <img src="//static.ydlcdn.com/activity/images/social/course-pic2.png" />
            <span class="circle"></span>
            <p class="capital">2018中级社工考试真题</p>
            <p class="capital-sub">2018中级社工考试真题</p>
            <a href="javascript:;" class="btn" onclick="showEwm()">免费下载</a>
          </li>
          <li>
            <img src="//static.ydlcdn.com/activity/images/social/course-pic3.png" />
            <span class="circle"></span>
            <p class="capital">初级考点精选试题</p>
            <p class="capital-sub">初级考点精选试题</p>
            <a href="javascript:;" class="btn" onclick="showEwm()">免费下载</a>
          </li>
          <li>
            <img src="//static.ydlcdn.com/activity/images/social/course-pic4.png" />
            <span class="circle"></span>
            <p class="capital">初级社会工作师精选试题</p>
            <p class="capital-sub">初级社会工作师精选试题</p>
            <a href="javascript:;" class="btn" onclick="showEwm()">免费下载</a>
          </li>
          <li>
            <img src="//static.ydlcdn.com/activity/images/social/course-pic5.png" />
            <span class="circle"></span>
            <p class="capital">中级社会工作师精选试题</p>
            <p class="capital-sub">中级社会工作师精选试题</p>
            <a href="javascript:;" class="btn" onclick="showEwm()">免费下载</a>
          </li>
          <li>
            <img src="//static.ydlcdn.com/activity/images/social/course-pic6.png" />
            <span class="circle"></span>
            <p class="capital">社会工作师历年真题汇总</p>
            <p class="capital-sub">社会工作师历年真题汇总</p>
            <a href="javascript:;" class="btn" onclick="showEwm()">免费下载</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 社会工作师考试报考步骤 -->
    <div class="social-worker-step">
      <h3 class="capital">社会工作师考试报考步骤</h3>
      <div class="line"></div>
      <img src="//static.ydlcdn.com/activity/images/social/step-bg.png" class="step-bg">
      <div class="step-wrapper">
        <img src="//static.ydlcdn.com/activity/images/social/step-pic1.png" class="pic1" />
        <img src="//static.ydlcdn.com/activity/images/social/step-pic2.png" class="pic2" />
        <img src="//static.ydlcdn.com/activity/images/social/step-pic3.png" class="pic3" />
        <img src="//static.ydlcdn.com/activity/images/social/step-pic4.png" class="pic4" />
      </div>
      <div class="step-content clearfix">
        <div class="step-item fi active">
          <p class="capital">1.考试报名</p>
          <p class="time l-5">2018年3月中旬</p>
        </div>
        <div class="step-item se txt-c">
          <p class="capital">2.考试复习</p>
          <p class="time">考证前一周打印</p>
        </div>
        <div class="step-item th txt-c txt-i">
          <p class="capital">3.分数查询</p>
          <p class="time">考后2个月</p>
        </div>
        <div class="step-item fo txt-r">
          <p class="capital">4.证书领取</p>
          <p class="time r-3">成绩公布后2个月</p>
        </div>
      </div>
      <div class="step-tip">
        <div class="step-tip-wrapper active clearfix">
          <a href="javascript:;" onclick="showModal()">新手指南</a>
          <a href="javascript:;" onclick="showModal()">报名条件</a>
          <a href="javascript:;" onclick="showModal()">报名时间</a>
          <a href="javascript:;" onclick="showModal()">名师课程</a>
        </div>
        <div class="step-tip-wrapper clearfix">
          <a href="javascript:;" onclick="showModal()">考试教材</a>
          <a href="javascript:;" onclick="showModal()">考试大纲</a>
          <a href="javascript:;" onclick="showModal()">考试科目</a>
          <a href="javascript:;" onclick="showModal()">题型设计</a>
        </div>
        <div class="step-tip-wrapper clearfix">
          <a href="javascript:;" onclick="showModal()">查询时间</a>
          <a href="javascript:;" onclick="showModal()">查分入口</a>
          <a href="javascript:;" onclick="showModal()">合格标志</a>
          <a href="javascript:;" onclick="showModal()">成绩管理</a>
        </div>
        <div class="step-tip-wrapper clearfix">
          <a href="javascript:;" onclick="showModal()">领取时间</a>
          <a href="javascript:;" onclick="showModal()">证书样本</a>
          <a href="javascript:;" onclick="showModal()">领证流程</a>
          <a href="javascript:;" onclick="showModal()">注意事项</a>
        </div>

      </div>
    </div>
    <!-- 2018全国社会工作师课程体系课程优势 -->
    <div class="social-worker-adv">
      <h3 class="capital">2018全国社会工作师课程体系课程优势</h3>
      <div class="line"></div>
      <div class="adv-wrapper clearfix">
        <div class="adv-item">
          <img src="//static.ydlcdn.com/activity/images/social/adv-ico1.png" class="adv-item-w" />
          <img src="//static.ydlcdn.com/activity/images/social/adv-ico1-r.png" class="adv-item-a" />
          <p class="capital">名师专家授课</p>
          <p class="desc">由中国最早从事社会工作的专业教育专家授课，联合具有多年从事社会工作专业教学经验的团队共同研发教育与学习路径</p>
        </div>
        <div class="adv-item">
          <img src="//static.ydlcdn.com/activity/images/social/adv-ico2.png" class="adv-item-w" />
          <img src="//static.ydlcdn.com/activity/images/social/adv-ico2-r.png" class="adv-item-a" />
          <p class="capital">紧扣历年考点</p>
          <p class="desc">培训团队紧扣2016年新版社会工作考试教材设计培训内容，并在第一时间系统分析考试重点，从而推出权威课程</p>
        </div>
        <div class="adv-item">
          <img src="//static.ydlcdn.com/activity/images/social/adv-ico3.png" class="adv-item-w" />
          <img src="//static.ydlcdn.com/activity/images/social/adv-ico3-r.png" class="adv-item-a" />
          <p class="capital">星级标记重点突出</p>
          <p class="desc">所有科目均用一颗星、两颗星和三颗星来标记全部章节复习重点，帮助考生迅速掌握重要考点，有效提升复习效率，达到事半功倍的效果</p>
        </div>
        <div class="adv-item">
          <img src="//static.ydlcdn.com/activity/images/social/adv-ico4.png" class="adv-item-w" />
          <img src="//static.ydlcdn.com/activity/images/social/adv-ico4-r.png" class="adv-item-a" />
          <p class="capital">随时随地在线学习</p>
          <p class="desc">提炼各章节的星级标记，不限时间，不限地点，不限次数，随时随地反复学习。可在线学习，也可下载视频课间进行学习</p>
        </div>
      </div>
    </div>
    <!-- 专家介绍 -->
    <div class="course bg_gary" id="course" style="display: none;">
      <div class="inner">
        <h3 class="capital">专家介绍</h3>
        <div class="line"></div>
        <div>
          <ul class="course-ul clearfix">
            <li class="course-item">
              <a class="course-item-avatar" href="javascript:;" onclick="showModal()"><img src="./images/180226kz/course01.png" /></a>
              <div class="course-item-content">
                <h4 class="course-item-title">公共课</h4>
                <p class="course-item-subtitle">主要讲述心理咨询的职业道德、法律规范、咨询礼仪，首先了解心理咨询师外围知识</p>
                <a href="javascript:;" onclick="showModal()" class="course-item-btn">查看详情</a>
              </div>
            </li>
            <li class="course-item">
              <a class="course-item-avatar" href="javascript:;" onclick="showModal()"><img src="./images/180226kz/course02.png" /></a>
              <div class="course-item-content">
                <h4 class="course-item-title">基础课</h4>
                <p class="course-item-subtitle">心理学概述、变态心理学、心理测验、咨询心理学，原国家二级考试课程内容尽收其中</p>
                <a href="javascript:;" onclick="showModal()" class="course-item-btn">查看详情</a>
              </div>
            </li>
            <li class="course-item">
              <a class="course-item-avatar" href="javascript:;" onclick="showModal()"><img src="./images/180226kz/course03.png" /></a>
              <div class="course-item-content">
                <h4 class="course-item-title">必修课</h4>
                <p class="course-item-subtitle">4种疗法+3种业务、督导、心理咨询案例观摩，技法+案例+业务实际操作，一步解决心理咨询实际技能</p>
                <a href="javascript:;" onclick="showModal()" class="course-item-btn">查看详情</a>
              </div>
            </li>
            <li class="course-item">
              <a class="course-item-avatar" href="javascript:;" onclick="showModal()"><img src="./images/180226kz/course03.png" /></a>
              <div class="course-item-content">
                <h4 class="course-item-title">必修课</h4>
                <p class="course-item-subtitle">4种疗法+3种业务、督导、心理咨询案例观摩，技法+案例+业务实际操作，一步解决心理咨询实际技能</p>
                <a href="javascript:;" onclick="showModal()" class="course-item-btn">查看详情</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 社会工作师考试一年通过，其实很简单 -->
    <div class="social-worker-pass">
      <h3 class="capital">社会工作师考试一年通过，其实很简单</h3>
      <div class="line"></div>
      <div class="pass-table">
        <div class="pass-th clearfix">
          <div class="pass-td fi"></div>
          <div class="pass-td se">VIP通关班</div>
          <div class="pass-td th">超级VIP班</div>
          <div class="pass-td fo">SVIP保过班</div>
        </div>
        <div class="pass-tr fi clearfix">
          <div class="pass-td fi">适应对象</div>
          <div class="pass-td">适应自主能力强，有计划，主动学习能力强的同学</div>
          <div class="pass-td">适应基础和自主学习能力一般，需要立体学习，对重点、难点知识全面巩固的同学</div>
          <div class="pass-td">适应基础比较差，需要老师精心指导，当年必须全科通关的同学</div>
        </div>
        <div class="pass-tr se clearfix">
          <div class="pass-td fi">课程服务</div>
          <div class="pass-td">
            <p>教材精讲</p>
            <p>真题解析</p>
            <p>考点串讲</p>
            <p>全真模拟考试</p>
            <p>定制各阶段学习计划</p>
            <p>手机/电脑/iPad随时学习</p>
          </div>
          <div class="pass-td">
            <p>教材精讲</p>
            <p>真题解析</p>
            <p>考点串讲</p>
            <p>全真模拟考试</p>
            <p>定制各阶段学习计划</p>
            <p>手机/电脑/iPad随时学习</p>
            <p>应试技巧</p>
            <p>习题特训</p>
            <p>考前押题冲刺</p>
            <p>考试不过，第二年免费学习</p>
          </div>
          <div class="pass-td">
            <p>教材精讲</p>
            <p>真题解析</p>
            <p>考点串讲</p>
            <p>全真模拟考试</p>
            <p>定制各阶段学习计划</p>
            <p>手机/电脑/iPad随时学习</p>
            <p>应试技巧</p>
            <p>习题特训</p>
            <p>考前押题冲刺</p>
            <p>考试不过，免费重修至通过</p>
            <p>历年真题模拟考</p>
            <p>班主任督导学习进度</p>
            <p>考前直播押题答疑</p>
          </div>
        </div>
        <div class="pass-tr th clearfix">
          <div class="pass-td fi">相关福利</div>
          <div class="pass-td">考试通过可入驻壹点灵平台</div>
          <div class="pass-td">考试通过可入驻壹点灵平台;<br/>考试通过送壹点灵大学VIP</div>
          <div class="pass-td">考试通过可入驻壹点灵平台;<br/>报名全科，赠送壹点灵大学一千元学习券</div>
        </div>
        <div class="pass-tr fo clearfix">
          <div class="pass-td fi">保障协议</div>
          <div class="pass-td">考试不过，来年重学</div>
          <div class="pass-td">考试不过，三年重学</div>
          <div class="pass-td">考试不过，无限畅学</div>
        </div>
        <div class="pass-tf clearfix">
          <div class="pass-td fi">课程费用</div>
          <div class="pass-td se">
            <img src="//static.ydlcdn.com/activity/images/social/tf-1.png" />
            <div class="pass-td-txt">
              <div class="clearfix"><span>单科</span><p>398<span>元</span></p></div>
              <div class="clearfix"><span>初级全科</span><p>488<span>元</span></p></div>
              <div class="clearfix"><span>中级全科</span><p>868<span>元</span></p></div>
              <div>
                <!-- <a href="//ydldx.yidianling.com/course/15" target="_blank" class="btn-l">试听课程</a> -->
                <a href="//ydldx.yidianling.com/course/15" target="_blank" class="btn-r">立刻购买</a>
              </div>
            </div>
          </div>
          <div class="pass-td th">
            <img src="//static.ydlcdn.com/activity/images/social/tf-2.png" />
            <div class="pass-td-txt">
              <div class="clearfix"><span>初级单科</span><p>488<span>元</span></p></div>
              <div class="clearfix"><span>初级全科</span><p>488<span>元</span></p></div>
              <div class="clearfix"><span>中级全科</span><p>1880<span>元</span></p></div>
              <div>
                <!-- <a href="//ydldx.yidianling.com/course/17" target="_blank" class="btn-l">试听课程</a> -->
                <a href="//ydldx.yidianling.com/course/17" target="_blank" class="btn-r">立刻购买</a>
              </div>
            </div>
          </div>
          <div class="pass-td fo">
            <img src="//static.ydlcdn.com/activity/images/social/tf-3.png" />
            <div class="pass-td-txt">
              <div class="clearfix"><span>单科</span><p>998<span>元</span></p></div>
              <div class="clearfix"><span>初级全科</span><p>1588<span>元</span></p></div>
              <div class="clearfix"><span>中级全科</span><p>1968<span>元</span></p></div>
              <div>
                <!-- <a href="//ydldx.yidianling.com/course/19" target="_blank" class="btn-l">试听课程</a> -->
                <a href="//ydldx.yidianling.com/course/19" target="_blank" class="btn-r">立刻购买</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 手机、电脑、iPad多种终端随时随地学习 -->
    <div class="social-worker-learn">
      <h3 class="capital">手机、电脑、iPad多种终端随时随地学习</h3>
      <div class="line"></div>
      <div class="learn-wrapper clearfix">
        <div class="learn-item">
          <img src="//static.ydlcdn.com/activity/images/social/learn-pic1.png" />
        </div>
        <div class="learn-item">
          <img src="//static.ydlcdn.com/activity/images/social/learn-pic2.png" />
        </div>
        <div class="learn-item">
          <img src="//static.ydlcdn.com/activity/images/social/learn-pic3.png" />
        </div>
      </div>
    </div>
    <!--认证课表-->
    <div class="timetable">
      <div class="inner">
        <h3 class="capital">壹点灵在线学习平台</h3>
        <div class="line"></div>
        <div class="margT-80">
          <ul class="clearfix">
            <li class="timetable-item">
              <a href="javascript:;" onclick="showModal()" class="timetable-item-avatar fl"><img src="//static.ydlcdn.com/activity/images/social/timetable01.png" /></a>
              <div class="timetable-item-content fl">
                <h4 class="timetable-item-title">随时随地想学就学</h4>
                <p class="timetable-item-subtitle">手机、iPad、电脑多端学习<br>学习不受时间地点限制</p>
                <a href="javascript:;" onclick="showModal()" class="timetable-item-btn">点击报名</a>
              </div>
            </li>
            <li class="timetable-item">
              <a href="javascript:;" onclick="showModal()" class="timetable-item-avatar fl"><img src="//static.ydlcdn.com/activity/images/social/timetable02.png" /></a>
              <div class="timetable-item-content fl">
                <h4 class="timetable-item-title">学习变得更加简单</h4>
                <p class="timetable-item-subtitle">顶级名师+一线教学+考点提炼</p>
                <a href="javascript:;" onclick="showModal()" class="timetable-item-btn">立即报名</a>
              </div>
            </li>
            <li class="timetable-item">
              <a href="javascript:;" onclick="showModal()" class="timetable-item-avatar fl"><img src="//static.ydlcdn.com/activity/images/social/timetable03.png" /></a>
              <div class="timetable-item-content fl">
                <h4 class="timetable-item-title">最快掌握所学知识</h4>
                <p class="timetable-item-subtitle">社会工作师考试就是如此简单！</p>
                <a href="javascript:;" onclick="showModal()" class="timetable-item-btn">点击了解</a>
              </div>
            </li>
            <li class="timetable-item">
              <a href="javascript:;" onclick="showModal()" class="timetable-item-avatar fl"><img src="//static.ydlcdn.com/activity/images/social/timetable04.png" /></a>
              <div class="timetable-item-content fl">
                <h4 class="timetable-item-title">完善产品及在线服务</h4>
                <p class="timetable-item-subtitle">学习之后及时练习<br>知识考点全面巩固</p>
                <a href="javascript:;" onclick="showModal()" class="timetable-item-btn">点击了解</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-content">
        报考社会工作师考试，来壹点灵大学
        <a href="javascript:;" onclick="showModal()" class="footer-content-btn">立即报名</a>报名电话：<span class="footer-content-tel">400-114-1010</span>
      </div>
      <p class="copyright">CopyRight ©2015-2017上海袋虎信息技术有限公司 沪ICP备15037258号</p>
      <div class="copyright-avatar">
        <a href="javascript:;" onclick="showModal()"><img src="//img.ydlcdn.com/file/2017/09/18/5gd9l4vntgca7ozr.png" /></a>
        <a href="javascript:;" onclick="showModal()"><img src="//static.ydlcdn.com/v3/images/hy_124x47.png" /></a>
      </div>
    </div>
    <img src="//static.ydlcdn.com/activity/images/social/close-new.png" class="iframe-close" />

    <iframe class="iframe-social" src="//cn.mikecrm.com/3gfFZjU" frameborder="0">
    </iframe>
    <div class="modal"></div>
    <div class="ewm-center-area">
      <img src="//static.ydlcdn.com/activity/images/social/ewm.png" class="ewm-center" />
      <p>扫码领取优惠与资料</p>
      <div class="ewm-close">
        <img src="//static.ydlcdn.com/activity/images/social/ewm-close.png" />
      </div>
    </div>
    <!-- 底部引导层 -->
    <div class="footer-guide"">
      <div class="footer-guide-content">
        <img src="//static.ydlcdn.com/activity/images/social/girl.png" class="girl" />
        <div class="text fl">
          <p class="capital">您好！我是您的学习顾问。</p>
          <p class="desc">更多咨询师学习课程，请拨打热线：<span>400-114-1010</span></p>
        </div>
        <div class="footer-ewm fr">
          <img src="//static.ydlcdn.com/activity/images/social/footer-ewm.png" />
          <p>扫码了解更多</p>
        </div>
        <img src="//static.ydlcdn.com/activity/images/social/footer-close.png" class="footer-close" />
      </div>
    </div>
    <div class="footer-thumbnail">
      <img src="//static.ydlcdn.com/activity/images/social/right.png" />
    </div>
    <!-- 左侧列表 -->
    <div class="guide-list">
      <img src="//static.ydlcdn.com/activity/images/social/girl.png" class="girl" />
      <p class="list" onclick="showModal()">证书咨询</p>
      <p class="list" onclick="showModal()">报考咨询</p>
      <p class="list" onclick="showModal()">费用咨询</p>
      <p class="list" onclick="showModal()">立即报名</p>
      <img src="//static.ydlcdn.com/activity/images/social/footer-ewm.png" class="ewm" />
      <p class="desc">扫描了解更多</p>
    </div>
    <script src="//static.ydlcdn.com/v3/js/jquery-1.11.2.min.js"></script>
    <script src="//static.ydlcdn.com/activity/js/countdown.js"></script>
    <script src="//static.ydlcdn.com/activity/js/social.js"></script>
    <div class="modal"></div>
    <script src="./js/main.js"></script>

  </body>

</html>
