@import '~@/styles/base/var.scss';

.page-cp-20181115{ width: 100%; font-size: 0; position: relative;
  .btn{ display: block; width: n(500); position: absolute; left:50%; margin-left:n(-250); bottom: n(250);}
  img{ width: 100%;}
}
