<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width,user-scalable=yes,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0">
  <meta name="format-detection" content="telephone=no"/>
  <title>壹点灵-您身边的亲子心理教育专家</title>
  <!--<link rel="stylesheet" href="https://static.ydlcdn.com/activity/css/activity002.css">-->
  <link rel="stylesheet" href="./css/activity002.css?20181224">

  <link rel="stylesheet" href="https://static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.css">
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?4446f7fa4186990430cb61ee85ce0d00";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <style>
    .teenager .footer-fix li {
      width: 50%;
    }
  </style>
</head>

<body ontouchstart style="background-color: #F5F5F5;">
<div class="teenager">
  <!--头部banner-->
  <div class="header">
    <!-- <div class="logo clrfloat"> -->
      <!-- <a href="javascript:;">
        <img src="https://static.ydlcdn.com/activity/images/activity002/logo1.png"/>
      </a> -->
      <!--//400-114-1010-->
      <!-- <a href="tel:400-0992-520">
        <img src="https://static.ydlcdn.com/activity/images/activity002/tell.png"/>
      </a> -->
    <!-- </div> -->
    <!-- <div class="new-logo">
      <div class="border-top"></div>
      <img src="./images/logo-tmail.png" class="logo-tmail"/>
      <img src="./images/icon_top.png" class="icon-top"/>
    </div> -->
    <img class="new-top-2" src="./images/top-2.png?20181224"/>
    <img class="new-top-1" src="./images/top-1.png?20181224"/>
    <div class="banner">
      <!--http://dat.zoosnet.net/LR/Chatpre.aspx?id=DAT83236505&lng=cn-->
      <a class="kf_haoshi">
        <img src="./images/qinzi/banner.png"/>
        <!--<img src="https://static.ydlcdn.com/activity/images/activity002/qinzi-order.png" class="order"/>-->
      </a>
      <img src="https://static.ydlcdn.com/activity/images/activity002/qinzi-statistics.png"/>
    </div>
  </div>
  <!--标签-->
  <div class="sortbox">
    <h3><span>4-9岁</span>年龄段</h3>
    <ul>
      <li>
        <a class="kf_haoshi">
          <img src="./images/qinzi/4-9pic1.png"/>
          <h4>不专心</h4>
          <p>记忆差，注意力不集中，做事粗心</p>
        </a>
      </li>
      <li>
        <a class="kf_haoshi">
          <img src="./images/qinzi/4-9pic2.png"/>
          <h4>厌学</h4>
          <p>上学拖拉、旷课逃学，不爱上学</p>
        </a>
      </li>
      <li>
        <a class="kf_haoshi">
          <img src="./images/qinzi/4-9pic3.png"/>
          <h4>不专心</h4>
          <p>冲动任性，不合群，<br />注意力不集中</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="sortbox">
    <h3><span>10-18岁</span>年龄段</h3>
    <ul>
      <li>
        <a class="kf_haoshi">
          <img src="./images/qinzi/10-18pic1.png"/>
          <h4>学习差</h4>
          <p>对学习不感兴趣，<br />成绩差，焦虑烦躁</p>
        </a>
      </li>
      <li>
        <a class="kf_haoshi">
          <img src="./images/qinzi/10-18pic2.png"/>
          <h4>网瘾</h4>
          <p>沉迷手机游戏和网络，精神恍惚</p>
        </a>
      </li>
      <li>
        <a class="kf_haoshi">
          <img src="./images/qinzi/10-18pic3.png"/>
          <h4>叛逆</h4>
          <p>脾气暴躁，性格冲动，和父母顶嘴吵架</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="mark clrfloat" style="display: none;">

    <div class="mark_box">
      <a class="kf_haoshi">
        <img src="https://static.ydlcdn.com/activity/images/activity002/qinzi-yx.png"/>
        <h3>厌 学</h3>
        <p>不专心听讲，学习压力大，<br/>做事/做作业粗心大意</p>
      </a>
    </div>


    <div class="mark_box">
      <a class="kf_haoshi">
        <img src="https://static.ydlcdn.com/activity/images/activity002/qinzi-wy.png"/>
        <h3>网 瘾</h3>
        <p>沉迷手机游戏，沉迷网游</p>
      </a>
    </div>


    <div class="mark_box">
      <a class="kf_haoshi">
        <img src="https://static.ydlcdn.com/activity/images/activity002/qinzi-zb.png"/>
        <h3>叛 逆</h3>
        <p>脾气暴躁，跟父母吵架顶<br/>嘴，性格冲动</p>
      </a>
    </div>


    <div class="mark_box">
      <a class="kf_haoshi">
        <img src="https://static.ydlcdn.com/activity/images/activity002/qinzi-yx.png"/>
        <h3>自 闭</h3>
        <p>不愿意沟通，不自信，人际<br/>关系差</p>
      </a>
    </div>

  </div>
  <!--轮播-->
  <div class="swiper">
    <h2>孩子的问题应该怎么办</h2>
    <p>我们的亲子专家</p>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://static.ydlcdn.com/activity/images/activity002/experts_zhl.png"/>
          <h3>朱浩亮</h3>
          <div class="tag"></div>
          <p>
            中国科学院心理研究所硕士<br/>
            中央财经大学应用心理学硕士生导师<br/>
            温州大学教授，硕士生导师
          </p>
        </div>
        <div class="swiper-slide">
          <img src="https://static.ydlcdn.com/activity/images/activity002/experts_mm.png"/>
          <h3>梅敏</h3>
          <div class="tag"></div>
          <p>
            中科院咨询心理学博士<br/>
            中科院儿童发展与教育心理学研究生<br/>
            儿童早期教育指导师
          </p>
        </div>
        <div class="swiper-slide">
          <img src="https://static.ydlcdn.com/activity/images/activity002/experts_lzz.png"/>
          <h3>刘桢桢</h3>
          <div class="tag"></div>
          <p>
            NGH国际催眠师<br/>
            精神分析治疗师<br/>
            CBT认知行为治疗师
          </p>
        </div>
        <div class="swiper-slide">
          <img src="https://static.ydlcdn.com/activity/images/activity002/experts_zy.png"/>
          <h3>赵颖</h3>
          <div class="tag"></div>
          <p>
            约克大学 Ph.D.-心理学博士<br/>
            英国 A.P.H.P 执业心理治疗师<br/>
            美国 A.C.H.E 临床催眠治疗师
          </p>
        </div>
        <div class="swiper-slide">
          <img src="https://static.ydlcdn.com/activity/images/activity002/experts_mmj.png"/>
          <h3>马孟俊</h3>
          <div class="tag"></div>
          <p>
            美国新泽西州立Rutgers大学教育心理学硕士<br/>
            华南师范大学心理学博士班进修
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <!--<a href="/experts/search?cat=23" class="more">更多咨询师</a>-->
  </div>
  <!--案例展示-->
  <div class="case">
    <h2>成功的案例展示</h2>
    <div class="tab_menu">
      <a href="javascript:;" class="on">案例一</a>
      <a href="javascript:;">案例二</a>
      <a href="javascript:;">案例三</a>
      <a href="javascript:;">案例四</a>
    </div>
    <div class="tab_box">
      <div class="box_content">
        <p>
          <span>案例陈述：</span><br/>
          年龄16 性别：男<br/>
          症状：网瘾、手机瘾，成绩下滑厉害、内向不爱说话、情绪易激动，有离家出走和偷拿家里的钱去网吧上网的行为。<br/>
          咨询结果:孩子现在开始情绪逐渐平复，和家长，同学沟通增加。网瘾逐渐戒除，学习成绩明显提升。<br/>
          <span>家长反馈：</span><br/>
          家长说看到了希望，感觉非常好专业的人士做专业的事情。
        </p>
      </div>
      <div class="box_content">
        <p>
          <span>案例陈述：</span><br/>
          年龄22岁 性别：女<br/>
          症状：旷课旷考退学休学，把自己关房间里，不洗漱，不出门，不见人。浑身恶臭，有自杀倾向，觉得人生没有希望，前来咨询反馈。<br/>
          咨询结果：现在孩子已经勇敢的走出家门，在老师的鼓励和安排下报考了管理专业、报考了驾照。相信孩子会越来越好的。<br/>
          <span>家长反馈：</span><br/>
          这个过程，我和老师全程参与。我明白每次孩子的突破都有多么的不容易，也明白老师在这个过程中付出了多少。还有我们可爱的家长，你们的眼泪和你们的笑容，我都历历在目~
        </p>
      </div>
      <div class="box_content">
        <p>
          <span>案例陈述：</span><br/>
          年级17 性别：男<br/>
          症状：高三，厌学，学习注意力不集中，成绩急剧下降。人缘好，但是没有真正的朋友，感到孤独。觉得活着没意思，有自杀的倾向。学习没有动力，觉得学习也没什么意思。<br/>
          咨询结果：第一阶段：情绪稳定，主动结交喜欢的同学，不再有自杀的倾向。让其对生活重燃信心和希望；<br/>
          第二阶段：提高学习的动力，主动学习，提升学习积极性。做好高考之后的规划，顺利适应大学生活。<br/>
          <span>家长反馈：</span><br/>
          谢谢徐老师，和蔼可亲，耐心，认真负责。
        </p>
      </div>
      <div class="box_content">
        <p>
          <span>案例陈述：</span><br/>
          年龄13 性别：男<br/>
          症状：7年级学生，上课注意力不集中，学习下降。和同学相处不和谐，和长辈相处不和谐出现多次打人现象，父母离异。性格孤僻。<br/>
          咨询结果：孩子现在已经和家人和谐相处，开始接受周围同学和老师的互动，改善孤僻性格。<br/>
          <span>家长反馈：</span><br/>
          感谢老师耐心的陪伴，老师的耐心帮助。让我们家人看到了希望，让我们看到了孩子的笑容，让这个家有了温暖的感觉。也非常感谢老师帮助我，让我学会了应该怎么样和我儿子相处，让我们这个破碎的家庭有了家的感觉。
        </p>
      </div>
    </div>
  </div>
  <!--公司实力展示-->
  <div class="common">
    <h2>公司实力展示</h2>
    <img src="https://static.ydlcdn.com/activity/images/activity002/qinzi-association.png"/>
  </div>
  <!--咨询流程-->
  <div class="common">
    <h2>咨询流程</h2>
    <img src="https://static.ydlcdn.com/activity/images/activity002/step.png"/>
  </div>
  <!--底部-->
  <div class="footer-fix">
    <ul>
      <!--<li class="thirdLi2">-->
      <!--<a href="/baidu/zhuli"><img src="https://static.ydlcdn.com/activity/images/activity002/wechat_icon.png" alt="" class="icon" style="margin-left: -50px;">微信咨询</a>-->
      <!--</li>-->
      <li class="firstLi">
        <a href="tel:400-0992-520"><img src="https://static.ydlcdn.com/activity/images/activity002/bar_call.png" alt=""
                                        class="icon">电话咨询</a>
      </li>
      <li class="secondLi">
        <a class="kf_haoshi" target="_blank"><img
          src="https://static.ydlcdn.com/activity/images/activity002/bar_online.png" alt="" class="icon">在线咨询</a>

        <!--<a href="http://dat.zoosnet.net/LR/Chatpre.aspx?id=DAT83236505&amp;lng=cn" target="_blank"><img src="https://static.ydlcdn.com/activity/images/activity002/bar_online.png" alt="" class="icon">咨询客服</a>-->
      </li>
    </ul>
  </div>
</div>

<script language="javascript" src="http://kht.zoosnet.net/JS/LsJS.aspx?siteid=KHT34021062&amp;lng=cn"></script>
<script src="https://static.ydlcdn.com/global/js/jquery-1.11.2.min.js"></script>
<script src="https://static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.js"></script>
<script src="https://static.ydlcdn.com/weui/js/fastclick.js"></script>
<script src="//static.ydlcdn.com/v4/common/service_online_system/index.js?201809271700"></script>
<script>
  $(function () {
    var mySwiper = new Swiper('.swiper-container', {
      loop: true,
      pagination: '.swiper-pagination',
      paginationClickable: true
    });

    FastClick.attach(document.body);
  });

  $(function () {
    $(".tab_menu a").click(function () {
      $(this).addClass("on").siblings().removeClass("on");
      var index = $(this).index();
      $(".tab_box > div").eq(index).show().siblings().hide();
    });
  });
  //判断滚动，顶部浮动添加白色背景(改版为天猫背书图标)
$(window).scroll(function() {
	if($(window).scrollTop() == 0) {
		// $('.new-logo').removeAttr('style')
		$('.new-top-2').show();
		$('.new-top-1').hide();
	} else {
		$('.new-top-2').hide();
		$('.new-top-1').show();
		// $('.new-logo').attr('style', 'background-color: white;border-bottom: solid 1px #F0F0F0;')
	}
});
</script>
<div style="display:none;">
  <script
    type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cspan id='cnzz_stat_icon_1263672988'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1263672988' type='text/javascript'%3E%3C/script%3E"));</script>
</div>

</body>

</html>
