<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">

		<meta name="renderer" content="webkit">
		<meta name="HandheldFriendly" content="true">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>挽回爱,找情感壹点灵-情感壹点灵-两性情感问题解决专家,专注于挽回爱情_婚恋培训_挽留婚姻_分离小三,让幸福不留遗憾</title>
		<meta name="keywords" content="挽回爱情,挽回男友,挽回女友,修复婚姻,分离小三">
		<meta name="description" content="">
		<link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.hs.ico" />
		<link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.hs.ico" />
		<link href="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/newLove.css?201802021546" />
		<script>
		// 统计
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?4446f7fa4186990430cb61ee85ce0d00";
			  var s = document.getElementsByTagName("script")[0];
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body>
		<div id="top"></div>
		<header class="header">
			<div class="inner clearfix">
				<div class="header-logo fl"><img src="//love.yidianling.com/images/newHeader/logo-qinggan@2x.jpg" alt="" /></div>
				<div class="header-menu fr"><img src="//static1.ydlcdn.com/mobile/images/baidu/qinggan/humguber-icon.png"></div>
			</div>
		</header>
		<div class="menu-wrap">
			<nav class="menu">
				<a href="javascript:void(0);" class="menu-link kf_haoshi">在线分析</a>
				<!-- <a href="tel:400-0992-520" class="menu-link">电话客服</a> -->
				<!-- <a href="javascript:void(0);" class="menu-link">电话客服</a> -->
			</nav>
		</div>
		<div class="banner">
			<img src="images/newLove/banner.jpg" />
			<div class="banner-content">
				<p class="banner-title">婚姻保卫专家</p>
				<div class="banner-subtitle clearfix">已成功挽救
					<div class="banner-runnum">
						<span id="myTargetElement0">5</span>
						<span id="myTargetElement1">7</span>
						<span id="myTargetElement2">3</span>
						<span id="myTargetElement3">9</span>
						<span id="myTargetElement4">2</span>
					</div>
					个家庭
				</div>
				<a href="javascript:void(0);" class="goConsult kf_haoshi">立即咨询</a>
			</div>
			<ul class="toplist">
				<li><i class="icon_top1"></i>
					<p>100%<br>资质认证</p>
				</li>
				<li><i class="icon_top2"></i>
					<p>100多家<br>媒体报道</p>
				</li>
				<li><i class="icon_top3"></i>
					<p>不满意<br>随时退款</p>
				</li>
			</ul>
		</div>
		<div class="save-num">
			<span class="save-num-icon"><img src="images/newLove/notice.png" alt=""></span>
			<div class="swiper-container appreciate-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><span class="appreciate-txt"><span class="save-text">情感壹点灵已挽救<span class="num-text">57392</span> 个家庭</span></span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">俞** :</span> 老师人很好，说的很对，很有耐心，希望在老师的指导下能有很大的突破</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">李** :</span> 谢谢老师教的方法，我会好好做的</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">张** :</span> 遇到了婚外情纠纷，让我苦不堪言，辛亏及时找到蓝老师，给我指点迷津！感谢</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">紫** :</span> 老师根据我的情况帮我分析了这段感情，谢谢老师的指导，我会好好考虑的</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">拐** :</span> 老师教了一招 还不知道效果 等待中，很期待 </span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">原** :</span> 感谢王老师 的 帮助 我会按您的建议 慢慢调整 我还会找老师的 谢谢 </span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">一** :</span> 一直以来，王老师都是非常耐心，专业，热情的帮助着我，感谢王老师</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">h** :</span> 谢谢王丽华老师教会我一些办法 后续我会好好 跟我男友的 妈妈处理好关系 谢谢</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">函** :</span> 希望老师多给我沟通建议。我是个不会说话的姑娘。嘿嘿。谢谢老师的耐心帮助。</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">家** :</span> 王老师很专业，而且解决了我心里一直纠结的情感问题，真的不错，大爱</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">丽** :</span> 被渣中渣男给坑惨了，已近乎崩溃。感谢王丽华老师的热情开导，使我认清了一些事情，我会努力找到一个真正爱自己的人。</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">全** :</span> 我要挖掘强大与更美的自己，谢谢有你的带领和陪伴！</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">s** :</span> 很不错。面对人生的十字路口。有一个人让你把心归零这是最好的。</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">欧** :</span> 一步步的理清所有关系，发现关系中存在的问题，然后去调整自己的应对模式，获得拥有更大的自由与幸福的能力…</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">陈** :</span> 王老师非常用心，非常感谢她能帮我一起度过我一生阴暗的日子，非常感谢！</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">方** :</span> 袁老师很专业，给了我很多帮助和启发，谢谢您！</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">胖** :</span> 每次都多超出时间啦，对老师很满意，今晚要好好消化一下</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">水** :</span> 马老师，分析的很对 谢谢老师的建议和方法</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">崔** :</span> 这已经是第二次咨询了，马老师很专业，分析得很透彻，值得推荐！</div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">阿** :</span> 老师先帮助我梳理了情感中的问题，帮助我了解自己对这段感情的看法，一步一步的引导我去发现自己的内心，很感谢老师</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">S** :</span> 非常好，很快的解决问题 告诉应该怎么做，对于不懂如何去处理感情事情的人非常好</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">琳** :</span> 要了解年轻男人的内心世界得请教年轻男老师，要了解年轻又帅气男人的内心世界那就要咨询马昭然老师</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">l** :</span> 喜欢朱老师 的咨询风格，很感谢为我指点迷津</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">微** :</span> 这次是老公咨询的，咨询完之后老公表示愿意好好沟通，太感谢老师了</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">雪** :</span> 老师分析的比较专业，蛮好的，从电话中可以感觉到老师专业性很强！很棒！我也会加油的！谢谢老师</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">N** :</span> 感谢蒋老师，我的事情一波三折，我的心情也是，无助过，恐怖过，绝望过。感谢蒋老师的陪伴安慰。总会有雨过天晴的一天。</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">K** :</span> 蒋老师很敏锐，追溯到小时的一些经历。说着说着我眼泪流下来了。发泄一下，好很多。</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">元** :</span> 我以前一直不明白为什么我的感情会变成这样 和老师聊了之后我明白了也理解了 不纠结了</span></div>
					<div class="swiper-slide"><span class="appreciate-txt"><span class="pink-color">元** :</span> 我以前一直不明白为什么我的感情会变成这样 和老师聊了之后我明白了也理解了 不纠结了</span></div>
				</div>
			</div>
		</div>
		<!--我们的服务-->
		<div class="service bg-color">
			<div class="inner txt-c">
				<h3 class="title">我们的服务</h3>
				<p class="title-sub">服务覆盖250+城市，6000多位国家认证情感专家供您挑选</p>
				<ul class="service-list clearfix">
					<li class="service-item">
						<a class="kf_haoshi" href="javascript:void(0);">
							<img class="service-img lazy" data-original="images/newLove/service01.png" alt="" />
							<p class="service-title">婚姻家庭咨询</p>
							<p class="service-desc">调解夫妻矛盾，瓦解冷暴力，婚前情感诊断</p>
						</a>
					</li>
					<li class="service-item">
						<a class="kf_haoshi" href="javascript:void(0);">
							<img class="service-img lazy" data-original="images/newLove/service02.png" alt="" />
							<p class="service-title">挽回婚姻</p>
							<p class="service-desc">为您分析婚姻危机因素，量身定制挽回方案</p>
						</a>
					</li>
					<li class="service-item">
						<a class="kf_haoshi" href="javascript:void(0);">
							<img class="service-img lazy" data-original="images/newLove/service03.png" alt="" />
							<p class="service-title">分离小三</p>
							<p class="service-desc">针对不同出轨类型提供解决方案，让爱重回家庭</p>
						</a>
					</li>
					<li class="service-item">
						<a class="kf_haoshi" href="javascript:void(0);">
							<img class="service-img lazy" data-original="images/newLove/service04.png" alt="" />
							<p class="service-title">维权离婚</p>
							<p class="service-desc" style="text-align: center;">家暴干预，离婚评估，帮助您维护自身合法权益</p>
						</a>
					</li>
					<li class="service-item">
						<a class="kf_haoshi" href="javascript:void(0);">
							<img class="service-img lazy" data-original="images/newLove/service05.png" alt="" />
							<p class="service-title">挽回爱情</p>
							<p class="service-desc">变心挽回，排除障碍</p>
						</a>
					</li>
					<li class="service-item">
						<a class="kf_haoshi" href="javascript:void(0);">
							<img class="service-img lazy" data-original="images/newLove/service06.png" alt="" />
							<p class="service-title">外遇行为矫治</p>
							<p class="service-desc">外遇心理分析引导</p>
						</a>
					</li>
				</ul>
				<div class="service-test">
					<span class="service-test-text">测一测<br />你的情感生活健康吗？</span>
					<a class="service-test-btn fr kf_haoshi" href="javascript:void(0);">开始测试</a>
					<img class="service-test-img" src="images/newLove/service-test.png"/>
				</div>
			</div>
		</div>
		<!--专注婚恋情感心理服务20年-->
		<div class="history">
			<div class="inner">
				<h3 class="title">专注婚恋情感心理服务20年</h3>
				<p class="title-sub" style="display: none;">天猫婚恋心理服务销量第一</p>
				<ul class="history-list clearfix">
					<li class="history-item txt-c">
						<p class="history-title"><img class="lazy" data-original="images/newLove/history_cctv.png" height="24" width="99.78"/></span>
						</p>
						<p class="history-desc">央视合作伙伴</p>
					</li>
					<li class="history-item txt-c">
						<p class="history-title">200万<span>+</span></p>
						<p class="history-desc">服务客户</p>
					</li>
					<li class="history-item txt-c">
						<p class="history-title">98<span>%</span></p>
						<p class="history-desc">挽回成功率</p>
					</li>
				</ul>
				<ul class="history-list clearfix">
					<li class="history-item txt-c">
						<p class="history-title">7×24<span>小时</span></p>
						<p class="history-desc">情感顾问随时在线</p>
					</li>
					<li class="history-item txt-c">
						<p class="history-title">100<span>%</span></p>
						<p class="history-desc">无效退款</p>
					</li>
					<li class="history-item txt-c">
						<p class="history-title">2亿分钟<span>+</span></p>
						<p class="history-desc">累计服务时长</p>
					</li>
				</ul>
			</div>
		</div>
		<!--值得信赖的情感专家团队-->
		<div class="experts bg-color">
			<div class="inner txt-c">
				<h3 class="title">值得信赖的情感专家团队</h3>
				<p class="title-sub">中国科学院心理研究所权威保障，为客户解答情感困惑，提供明确有效的解决方案</p>
				<ul class="experts-list clearfix">
					<li class="experts-item">
						<img class="experts-img lazy" data-original="images/newLove/experts_pic01.png" />
						<div class="experts-detail"><p class="experts-name">袁老师</p><p class="experts-desc text-ellipsis">从业10年 | 爱心帮助1743人</p></div>
						<a href="javascript:void(0);" class="experts-btn kf_haoshi">立即帮助</a>
					</li>
					<li class="experts-item">
						<img class="experts-img lazy" data-original="images/newLove/experts_pic02.png" />
						<div class="experts-detail"><p class="experts-name">高老师</p><p class="experts-desc text-ellipsis">从业3年 | 爱心帮助1927人</p></div>
						<a href="javascript:void(0);" class="experts-btn kf_haoshi">立即帮助</a>
					</li>
					<li class="experts-item">
						<img class="experts-img lazy" data-original="images/newLove/experts_pic03.png" />
						<div class="experts-detail"><p class="experts-name">王老师</p><p class="experts-desc text-ellipsis">从业3年 | 爱心帮助2999人</p></div>
						<a href="javascript:void(0);" class="experts-btn kf_haoshi">立即帮助</a>
					</li>
					<li class="experts-item">
						<img class="experts-img lazy" data-original="images/newLove/experts_pic04.png" />
						<div class="experts-detail"><p class="experts-name">刘老师</p><p class="experts-desc text-ellipsis">从业7年 | 爱心帮助1876人</p></div>
						<a href="javascript:void(0);" class="experts-btn kf_haoshi">立即帮助</a>
					</li>
				</ul>
			</div>
		</div>
		<!--获取幸福，只需3步-->
		<div class="step">
			<div class="inner">
				<h3 class="title">获取幸福，只需3步</h3>
				<p class="title-sub">不满意可100%退款</p>
				<div class="step-list">
					<ul class="step-list-ul clearfix">
						<li class="step-list-item fl"><span class="step-num">01</span><p class="step-list-title">分析情感<br />危机根源</p></li>
						<li class="step-list-item fl"><span class="step-num">02</span><p class="step-list-title">制定服务<br />解决方案</p></li>
						<li class="step-list-item fl"><span class="step-num">03</span><p class="step-list-title">专家<br />亲临指导</p></li>
					</ul>
					<ul class="step-arrow-ul clearfix">
						<li class="step-arrow-item txt-r"><img class="step-arrow-img lazy" data-original="//www.nuanwo520.com/images/index_pc/gethappy-arrow.png"></li>
						<li class="step-arrow-item"></li>
						<li class="step-arrow-item txt-l"><img class="step-arrow-img lazy" data-original="//www.nuanwo520.com/images/index_pc/gethappy-arrow.png"></li>
					</ul>
				</div>
			</div>
		</div>
		<!--各大媒体争相报道-->
		<div class="media">
			<div class="inner">
				<h3 class="title">各大媒体争相报道</h3>
				<p class="title-sub">创新模式推动婚恋发展</p>
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide one"><p class="media-text">心理健康助力全面小康...</p></div>
				        <div class="swiper-slide two"><p class="media-text">天灾无情人有情，壹点灵赴台风灾区紧急心理援助...</p></div>
				        <div class="swiper-slide three"><p class="media-text">心有灵犀“壹点灵”，探求心理咨询的共享经济时代...</p></div>
				        <div class="swiper-slide four"><p class="media-text">从“内容+社区+预约咨询“模式入手，壹点灵切入...</p></div>
				        <div class="swiper-slide five"><p class="media-text">壹点灵：互联网+公益心理咨询=无限可能</p></div>
				        <div class="swiper-slide six"><p class="media-text">心理壹点灵：恋爱中如何让你的情商爆表</p></div>
				        <div class="swiper-slide seven"><p class="media-text">创业互联网心理健康服务， “壹点灵”接轨...</p></div>
				        <div class="swiper-slide eight"><p class="media-text">壹点灵心理专家赴丽水山体滑坡开展心理重建...</p></div>
				    </div>
				    <div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
		<!--专业情感服务平台-->
		<div class="guarantee">
			<div class="inner txt-c">
				<h3 class="title">专业情感服务平台</h3>
				<p class="title-sub">知心专业，贴心关怀，诚心服务</p>
				<div class="guarantee-swiper swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img class="swiper-lazy" data-src="images/newLove/guarantee01.jpg" alt="" />
							<p class="guarantee-swiper-text">壹点灵婚恋专家针对客户案例进行激烈的讨论制定方案</p>
						</div>
						<div class="swiper-slide">
							<img class="swiper-lazy" data-src="images/newLove/guarantee02.jpg" alt="" />
							<p class="guarantee-swiper-text">壹点灵在马云湖畔大学婚恋情感专家培训</p>
						</div>
						<div class="swiper-slide">
							<img class="swiper-lazy" data-src="images/newLove/guarantee03.jpg" alt="" />
							<p class="guarantee-swiper-text">壹点灵首席婚恋情感专家讲座</p>
						</div>
						<div class="swiper-slide">
							<img class="swiper-lazy" data-src="images/newLove/guarantee04.jpg" alt="" />
							<p class="guarantee-swiper-text">壹点灵活动现场认真听课的学员</p>
						</div>
						<div class="swiper-slide">
							<img class="swiper-lazy" data-src="images/newLove/guarantee05.jpg" alt="" />
							<p class="guarantee-swiper-text">首席情感专家讲座中</p>
						</div>
						<div class="swiper-slide">
							<img class="swiper-lazy" data-src="//m.love.yidianling.com/images/newLove/guarantee01.jpg" alt="" />
							<p class="guarantee-swiper-text">2017中华婚恋咨询高峰论坛</p>
						</div>
						<div class="swiper-slide">
							<img class="swiper-lazy" data-src="//m.love.yidianling.com/images/newLove/guarantee07.jpg" alt="" />
							<p class="guarantee-swiper-text">高峰论坛婚恋专家针对案例展开讨论</p>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<p class="guarantee-desc txt-l">壹点灵秉承"知心专业，贴心关怀，诚心服务"理念，力图打造中国最有价值的综合性婚恋服务互联网平台。通过各种从实战经验中总结出来的专业技巧，壹点灵帮助用户为恋爱情感、婚姻家庭进行全面“心灵体检”，排除问题、解决矛盾。平台聚集了来自全国各地的婚恋专家、家庭问题专家，及各婚恋指导机构的专业人士，在情感挽回、婚姻挽回方面积累了大量成功案例。了解更多</p>
			</div>
		</div>
		<!--合作伙伴-->
		<div class="partners bg-color">
			<div class="inner txt-c">
				<h3 class="title">合作伙伴</h3>
				<img class="partners-img lazy" data-original="images/newLove/partners.png"/>
			</div>
		</div>
		<!--情感心理专家帮您分析问题-->
		<div class="consult">
			<div class="inner txt-c">
				<h3 class="title" style="margin-bottom: 10px;">情感心理专家帮您分析问题</h3>
				<!-- <p class="title-sub">咨询热线 <a href="tel:400-0992-520">400-0992-520</a></p> -->
				<!-- <a href="javascript:void(0);" class="consult-btn txt-c">预约咨询</a> -->
			</div>
		</div>
		<footer class="footer txt-c clearfix">
			<a href="#top" class="footer-top fl"><i class="icon_top"></i><span>返回顶部</span></a>
      <a href="tel:400-0992-520" class="footer-link fl"><i class="icon_tel"></i><span>电话客服</span></a>
      <!-- <a href="javascript:" class="footer-link fl"></a> -->
			<!-- <a href="javascript:void(0);" class="footer-link fl"><i class="icon_tel"></i><span>电话客服</span></a> -->
			<a href="javascript:void(0);" class="footer-link kf_haoshi"><i class="icon_online"></i><span>在线分析</span></a>
		</footer>

		<script src="//static.ydlcdn.com/global/js/jquery-1.11.2.min.js"></script>
		<script src="//static.ydlcdn.com/global/js/jquery.lazyload.js"></script>
		<script type="text/javascript">
			$(function(){
				$("img.lazy").lazyload();//懒加载
        console.log("")
			})
		</script>
		<script src="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.js"></script>
		<script src="//love.yidianling.com/js/countUp.min.js"></script>
		<script src="js/newlove.js"></script>
	</body>
  <!--商务通-->
  <script src="//static.ydlcdn.com/v4/common/service_online_system/index.js"></script>
</html>
