<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>恋爱秘籍2折送</title>
  <link rel="stylesheet" href="./css/qixi.css">
</head>
<body>
  <div class="logo">
    <div class="logo_img"><img src="./images/qixi/erweima_hdjs2x.png" alt=""></div>
  </div>
</body>
<script src="./js/rem.js"></script>
</html>
