<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>恋爱秘籍2折送</title>
  <link rel="stylesheet" href="//m.love.yidianling.com/css/qixi.css">
  <!--<link rel="stylesheet" href="//static.ydlcdn.com/global/weui/lib/weui.min.css">-->
  <!--<link rel="stylesheet" href="//static.ydlcdn.com/global/weui/css/jquery-weui.min.css">-->
  <!--<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.3/style/weui.min.css">-->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?4446f7fa4186990430cb61ee85ce0d00"
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</head>
<style>
  #slList{
width:4rem;
    height: .75rem;
    /*background: #3C0D7C;*/
    border:none;
    position: absolute;
    top:.55rem;
    left:2rem;
    /*left:6.2rem;*/
    background-color:transparent;
    border-color:transparent;
    opacity: 0;
  }
#r2{
  position: absolute;
  top:2rem;
  right: 1rem;
  opacity: 0;
  width: 1rem;
  border-radius: 80px;
}
  #r1{
    position: absolute;
    top:2rem;
    left: -.5rem;
    width: 1rem;
    /*opacity: 0;*/ opacity: 0;
  }
</style>
<body>
<div class="main">
    <div class="header">
        <p>请填写您的信息参与活动</p>
    </div>
    <div class="table">
      <div class="item">
          <span>尊称</span><input type="text"  placeholder="请输入您的姓名" id="uname">
      </div>
    <div class="item gender">
      <span>性别</span>
      <div class="item_images">
        <img src="./images/qixi/btn_sex_male2.png" alt="" class="gender_img body">
        <img src="./images/qixi/btn_sex_normal2x.png" alt="" class="gender_img ">
        <input id="r1" type="radio" value="男" name="gender" checked="checked">男</input>

      </div>
      <div class="item_images ac">
        <img src="./images/qixi/btn_sex_female2x.png" alt="" class="gender_img gril">
        <img src="./images/qixi/btn_sex_normal2x.png" alt="" class="gender_img a">
        <input id="r2" type="radio" value="女" name="gender">女</input>

      </div>
    </div>
      <div class="item">
        <span>年龄</span><input type="text"  placeholder="请输入您的年龄" id="old">
      </div>
      <div class="item item_qian select_a">
        <span>情感困惑</span><input type="text" id="txtShow" maxlength="0"readonly="true"placeholder="请选择您的情感困惑" />
        <select id="slList" onchange="selectShow()">
          <option value=""></option>
          <option value="婚姻家庭">婚姻家庭</option>
          <option value="恋爱交友">恋爱交友</option>
          <option value="分离小三">分离小三</option>
          <option value="两性问题">两性问题</option>
          <option value="离婚维权">离婚维权</option>
          <option value="挽回婚姻">挽回婚姻</option>
          <option value="挽回恋情">挽回恋情</option>
        </select>
      </div>
      <div class="item item_qian">
        <span>手机号码</span><input type="text" placeholder="请输准确填写，便于情感专家联系您" id="phone">
      </div>
    <div class="form_a">
      <img src="./images/qixi/btn2x.png" alt=""><button></button>
    </div>
  </div>
  <div class="fother">
      <p class="fother_p">提交该信息后即视为成为壹点灵平台的用户</p>
      <p class="fother_p">平台将根据用户需求指派对应的客服跟进服务</p>
  </div>
</div>
</body>
<script src="./js/rem.js"></script>
<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
  window.onload=selectShow;
  function selectShow(){
    document.getElementById("txtShow").value=document.getElementById("slList").value;
  }
  $('.item_images ').click(function(){
    $('.body').css('display','block');
    $('.gril').css('display','none');
  });
  $('.ac ').click(function(){
    $('.body').css('display','none');
    $('.gril').css('display','block');

  });
  $('.form_a button').click(function(){
    $.ajax({
        url:'',
        data:{},
        type:'post',
        success:function(){
          $('#uname').val();
          $('#old').val();
          $('#txtShow').val();
          $('#phone').val();
          var is_Middle;
          $('input:radio').each(function(){
            if(this.checked){
              is_Middle = $(this).val();
            }
          })
        }
      })
  })
</script>
</html>
