
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>壹点灵心理健康服务平台-千位心理健康师24小时在线提供心理服务、爱情挽回、婚姻咨询，一对一心理健康服务。</title>
  <link rel="stylesheet" href="https://static.ydlcdn.com/activity/css/baiduPC_new.css">
  <script src="https://static.ydlcdn.com/activity/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="https://static.ydlcdn.com/global/js/sliderInfinite.js"></script>
  <script src="https://static.ydlcdn.com/global/js/jquery.wookmark.min.js"></script>
  <script src="https://static.ydlcdn.com/global/js/layer/layer.js"></script>
  <script src="https://static.ydlcdn.com/global/js/jquery.lazyload.js"></script>
  <style>
    .cont02:target,.cont03:target,.cont06:target,.cont07:target,.m-weixin:target{
      padding-top: 80px;
    }
    a {
      cursor: pointer;
    }
  </style>
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4446f7fa4186990430cb61ee85ce0d00";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
<div class="fixedCont" style="top: -0.01px">
  <div class="headerTop">
    <div class="content-wrap">
        <span class="fl _left">
          <a href="javascript:;" class="addFav">收藏本站</a>
        </span>
        <span class="fr _right">
<!--          <a href="https://www.ydl.com/app/" target="_blank" class="firstA">APP下载</a>-->
<!--          <a href="https://www.ydl.com/faq/" target="_blank">帮助中心</a>-->
<!--          <a href="https://www.ydl.com/uc/order" target="_blank">订单查询</a>-->
        </span>
    </div>
  </div>

  <div class="header overflowH">
    <div class="content-wrap">
      <a href="javascript:;" class="displayB fl"><img style="width:400px;" src="https://static.ydlcdn.com/activity/images/baiduPC_new/logo.png" alt=""></a>
      <div class="fr">
        <ul class="navs overflowH">
<!--          <li class="current"><a href="/baidu">首页</a></li>-->
<!--          <li><a href="#go_introduce">专家介绍</a></li>-->
<!--          <li><a href="#go_process">咨询流程</a></li>-->
<!--          <li><a href="#go_about">关于我们</a></li>-->
<!--          <li><a href="#go_partners">合作伙伴</a></li>-->
<!--          <li><a href="#go_contact">联系方式</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="banner">
  <div class="content-wrap">
    <div class="bannerIn">
      <img src="https://static.ydlcdn.com/activity/images/baiduPC_new/bannerTxt.png" alt="" class="bannerTxt" />
      <!-- <a target="_blank" class='kf_xinnuan'>马上咨询</a> -->
      <a href="#go_about" class="knowMore">了解更多介绍</a>
      <div class="logPopBox turn">
        <div class="loginPop loginPop1 borderRadius4">
          <ul class="loginNavs overflowH">
            <li>注册</li>
            <li class="active">登录</li>
          </ul>
          <div class="loginBoxs">
            <div class="loginBox">
              <input type="text" placeholder="手机号" name="username" class="boxSizingB borderRadius4">
              <input type="password" placeholder="密码" name="passwd" class="boxSizingB borderRadius4 lastInput" style="width: 86%;
              margin-left: 7%;height: 40px;line-height: 40px;padding-left: 10px;font-size: 16px;color: #444;-webkit-appearence:none;border: none;outline: none;">
              <a href="//www.ydl.com/login" class="btn borderRadius4">登录</a>
              <p class="txt"><a href="//www.ydl.com/forget" class="forget">忘记密码？</a></p>
              <p class="errorTxt" id="login_error" style="font-size: 12px;color: #dddc00;position: absolute;top: 10px;left: 16px;"></p>
            </div>
          </div>
        </div>
        <div class="loginPop loginPop2 borderRadius4">
          <ul class="loginNavs overflowH">
            <li class="active">注册</li>
            <li>登录</li>
          </ul>

          <div class="loginBoxs">
            <div class="loginBox" style="">
              <form class="container" id="form_reg" action="" accept-charset="UTF-8" method="post">
                <input type="text" placeholder="手机号" name="phone" class="boxSizingB borderRadius4">
                <input type="text" placeholder="验证码" name="verifyCode" class="boxSizingB borderRadius4 lastInput">
                <input type="hidden" name="funk_you" value="sb">
                <input type="hidden" name="type" value="1"/>
                <a href="javascript:;" class="sendCode sending" style="right:24px;top:100px;">
                  <img id="captchaimg" src="/baidu/captcha?v=5bbb0b399d9aa" alt="点击换图" title="点击换图" style="cursor:pointer;width:121px;height:36px;" onclick="changeVerifyCode()">                </a>
                <a href="//www.ydl.com/reg?ffrom=9&ftypeid=PC&flx=Peter&fsid=502137" class="btn borderRadius4">领取30元体验红包！</a>
                <p class="txt"><span class="num">1,457,461</span>人已经领取了体验红包</p>
                <p class="errorTxt" id="reg_error" style="font-size: 12px;color: #dddc00;position: absolute;top: 10px;left: 16px;"></p>
              </form>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="cont01">
  <div class="content-wrap">
    <p class="tt1">我们为您解决各类情绪、情感、家庭问题</p>
    <p class="tt2"><span class="fc-orange">8665</span>位咨询专家累计已帮助过<span class="fc-orange">40万</span>个家庭</p>
    <div class="cont01In overflowH">
      <dl class="">
        <dt><img class="lazy" data-original="https://static.ydlcdn.com/activity/images/baiduPC_new/service1.jpg" alt="" /></dt>
        <dd class="txt1 back1 borderRadius4">
          <p class="cont01_tt1">情绪 压力 抑郁</p>
          <p class="cont01_tt2">抑郁 焦虑 强迫症 神经症 失眠</p>
          <a target="_blank" class='kf_xinnuan'>马上咨询</a>
        </dd>
        <dd class="txt2"><span class="fc-orange">3224680</span>人已咨询</dd>
      </dl>

      <dl class="secondDl">
        <dt><img class="lazy" data-original="https://static.ydlcdn.com/activity/images/baiduPC_new/service2.jpg" alt="" /></dt>
        <dd class="txt1 back2 borderRadius4">
          <p class="cont01_tt1">情感婚姻 孩子家庭</p>
          <p class="cont01_tt2">恋爱指导 婚姻维系 孩子教育 家庭关系</p>
          <a target="_blank" class='kf_xinnuan'>马上咨询</a>
        </dd>
        <dd class="txt2"><span class="fc-orange">8270130</span>人已咨询</dd>
      </dl>

      <dl class="">
        <dt><img class="lazy" data-original="https://static.ydlcdn.com/activity/images/baiduPC_new/service3.jpg" alt="" /></dt>
        <dd class="txt1 back3 borderRadius4">
          <p class="cont01_tt1">人际 社交 职场</p>
          <p class="cont01_tt2">社交障碍 自闭 职业压力 职场关系</p>
          <a target="_blank" class='kf_xinnuan'>马上咨询</a>
        </dd>
        <dd class="txt2"><span class="fc-orange">279452</span>人已咨询</dd>
      </dl>

    </div>
  </div>
</div>

<div class="cont02" id="go_introduce">
  <div class="content-wrap">
    <p class="tt1 fc-fff">中科院权威心理专家领衔</p>
    <p class="tt2 fc-fff">服务专家全部具备国家颁发的心理健康师证书 平均8年从业经验</p>
    <div class="cont02In">
      <img src="https://static.ydlcdn.com/activity/images/baiduPC_new/left.png" alt="" class="left02"/>
      <img src="https://static.ydlcdn.com/activity/images/baiduPC_new/right.png" alt="" class="right02"/>
      <div class="scrollBox2">
        <div class="scrollWrap2 overflowH">
          <div class="item2Total">


            <div class="item2">
              <a target="_blank" class='kf_xinnuan'>
                <div class="img">
                  <img class="blockImg" src="https://img.ydlcdn.com/file/2015/09/d09ec87c78cec905.jpg!s800x800" alt="" />
                  <p class="imgTxt">中国心理卫生协会理事</p>
                </div>
                <div class="subInfo">
                  <p class="name">马建青</p>
                  <p class="txt">1987年创建中国最早的心理健康机构之一—浙江大学心理健康中心。2008月10月，被中共中央、国务院、中央军委授予“全国抗震救灾模范”荣誉称号。擅长情感婚姻、情绪压力、人际家庭关系。</p>
                </div>
              </a>
            </div>

            <div class="item2">
              <a target="_blank" class='kf_xinnuan'>
                <div class="img">
                  <img class="blockImg" src="https://img.ydlcdn.com/file/2015/09/196fa0c9b120b8f2.jpg!s800x800" alt="" />
                  <p class="imgTxt">中科院心理健康促进中心主任</p>
                </div>
                <div class="subInfo">
                  <p class="name">史占彪</p>
                  <p class="txt">应用心理学博士，中国科学院心理健康重点实验室教授 国际EAP协会中国分会秘书长，中国心理学会员工心理促进工作委员会秘书长，中国心理卫生协会副秘书长。擅长精神治疗。</p>
                </div>
              </a>
            </div>
          </div>
          <div class="item2">
            <a target="_blank" class='kf_xinnuan'>
              <div class="img">
                <img class="blockImg" src="https://img.ydlcdn.com/file/2015/09/43a596a8a5cf12df.jpg!s800x800" alt="" />
                <p class="imgTxt">中国科学院心理研究所硕士</p>
              </div>
              <div class="subInfo">
                <p class="name">朱浩亮</p>
                <p class="txt">中科院心理研究所心理健康促进中心督导专家、中国心理学会会员、温州市心理学会秘书长，具有20多年的心理健康经历，累计个案咨询时间4000多小时。擅长亲子教育问题。</p>
              </div>
            </a>
          </div>
          <div class="item2Total">
            <div class="item2">
              <a target="_blank" class='kf_xinnuan'>
                <div class="img">
                  <img class="blockImg" src="https://img.ydlcdn.com/file/2015/11/hk0kibxj4uycizdb.jpg!s800x800" alt=""/>
                  <p class="imgTxt">临床心理科主任</p>
                </div>
                <div class="subInfo">
                  <p class="name">许涛</p>
                  <p class="txt">中国心理学会军事心理学专业委员会委员、中国康复医学会康复心理学专业委员会委员、中国社会心理学会军事心理学专业委员会委员。擅长婚恋情感危机、青少年心理行为问题、人际关系与情绪压力。</p>
                </div>
              </a>

            </div>

            <div class="item2">
              <a target="_blank" class='kf_xinnuan'>
                <div class="img">
                  <img class="blockImg" src="https://img.ydlcdn.com/file/2016/09/vay7h7hx3lzwf6u7.jpg!s800x800" alt="" />
                  <p class="imgTxt">英国A.P.H.P执业心理治疗师</p>
                </div>
                <div class="subInfo">
                  <p class="name">赵颖</p>
                  <p class="txt">国家二级心理健康师约克大学 Ph. D. -心理学 博士，美国ACHE临床催眠学院 临床催眠导师和治疗师。擅长各类神经症，如抑郁症、焦虑症等、家庭关系、两性关系、以及青少年心理问题等</p>
                </div>
              </a>

            </div>

            <div class="item2">
              <a target="_blank" class='kf_xinnuan'>
                <div class="img">
                  <img class="blockImg" src="https://img.ydlcdn.com/file/2016/10/31/bpccp9u2d73lh6sv.jpg!s800x800" alt=""/>
                  <p class="imgTxt">国家二级婚姻家庭咨询师</p>
                </div>
                <div class="subInfo">
                  <p class="name">袁丽娜</p>
                  <p class="txt">国家二级心理健康师、国家二级婚姻家庭咨询师、中国婚姻家庭咨询师协会注册婚姻家庭咨询师。擅长恋爱关系、婚姻家庭、女性成长。</p>
                </div>
              </a>

            </div>
          </div>

          <div class="item2Total">
            <div class="item2">
              <a target="_blank" class='kf_xinnuan'>
                <div class="img">
                  <img class="blockImg" src="https://img.ydlcdn.com/file/2016/09/dozrgavpgcbngrw8.jpg!s800x800" alt="" />
                  <p class="imgTxt">台湾心理健康专家</p>
                </div>
                <div class="subInfo">
                  <p class="name">马孟骏</p>
                  <p class="txt">曾担任台湾国立清华大学、台湾宜兰大学与台湾艺术大学讲师，曾担任美国杜邦公司与Yahoo驻厂心理健康顾问。擅长亲子关系与家庭教育、婚姻感情困扰。</p>
                </div>
              </a>

            </div>

            <div class="item2">
              <a target="_blank" class='kf_xinnuan'>
                <div class="img">
                  <img class="blockImg" src="https://img.ydlcdn.com/file/2016/08/9n8wbjmvp6zr4r7y.jpg!s800x800" alt="" />
                  <p class="imgTxt">浙大发展与教育心理学硕士</p>
                </div>
                <div class="subInfo">
                  <p class="name">王岫华</p>
                  <p class="txt">国家二级心理健康师，美国正面管教（英文培训）父母培训师，曾任蒙台梭利国际幼儿园园长。擅长儿童心理、青春期心理、个人成长问题。</p>
                </div>
              </a>

            </div>

            <div class="item2">
              <a target="_blank" class='kf_xinnuan'>
                <div class="img">
                  <img class="blockImg" src="https://img.ydlcdn.com/file/2016/10/zuv8wz19y7sq6kb8.png!s800x800" alt="" />
                  <p class="imgTxt">中国心理学学会会员</p>
                </div>
                <div class="subInfo">
                  <p class="name">夏一梦</p>
                  <p class="txt">腾讯全国青春期家长课堂培训心理讲师、中国性教育协会会员、黑龙江省青春期教育骨干教师。擅长婚姻情感挽、情绪压力、青春期教育问题。</p>
                </div>
              </a>

            </div>
          </div>

        </div>
      </div>

      <a target="_blank" class='kf_xinnuan' class="btn btn02">马上咨询<img src="https://static.ydlcdn.com/activity/images/baiduPC_new/rightArrow.png" alt=""></a>
    </div>
  </div>
</div>

<div class="cont03" id="go_process">
  <div class="content-wrap">
    <p class="tt1">只需 <span class="fc-orange">3</span> 步 轻松完成咨询</p>
    <p class="tt2">不满意 可 <span class="fc-orange">100%</span> 退款</p>
    <div class="">
      <img class="lazy blockImg" data-original="https://static.ydlcdn.com/activity/images/baiduPC_new/flow.png" alt="" />
    </div>
  </div>
</div>

<div class="cont04">
  <div class="content-wrap">
    <p class="tt1">受到用户一致好评</p>
    <!-- <p class="tt2"><span class="fc-green">8665</span>位心理健康专家 <span class="fc-green">675105</span>个心理健康案例</p> -->
    <div class="">
      <ul id="list">
                  <li>
            <p class="evalute">很专业，分析得很好，有些是自己都没想到过或是不以为然的事情原来也是有因果关系的，心情豁然开朗。</p>
            <div class="evalutor">
              <p>w** 评价心理专家 <span class="fc-orange">黄益寒</span></p>
              <p>2018-03-24</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/file/2018/03/21/e318f0d28c487d3d31717343aeb65828..jpg!s120x120"/>
            </div>
          </li>
                  <li>
            <p class="evalute">喜欢老师的直接，在学习的过程中老师很有耐心！</p>
            <div class="evalutor">
              <p>刘** 评价心理专家 <span class="fc-orange">邢宇星</span></p>
              <p>2018-03-24</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/file/2018/03/20/12ffffd44c0135d744b10d297b005dc1..jpg!s120x120"/>
            </div>
          </li>
                  <li>
            <p class="evalute">感恩老师，这是第二次跟老师咨询了，谢谢老师给我的认可，给我力量</p>
            <div class="evalutor">
              <p>秋** 评价心理专家 <span class="fc-orange">于新萍</span></p>
              <p>2018-03-24</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/file/2018/03/19/96102f311506c6d3ac410bd7f7c92b3b..jpg!s120x120"/>
            </div>
          </li>
                  <li>
            <p class="evalute">我现在状态慢慢变好，尽管有时候还是会刹那间陷入一些情绪中，但是我能很快觉察到自己的情绪。感恩老师的疏导帮助，谢谢您。</p>
            <div class="evalutor">
              <p>邱** 评价心理专家 <span class="fc-orange">徐黄英</span></p>
              <p>2018-03-23</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/v2/images/avatar_default.png!s120x120"/>
            </div>
          </li>
                  <li>
            <p class="evalute">无法用言语去表达老师的好 真的是义无反顾的帮助 何时何地 只要需要 老师就出现 得到了极大的安慰和亲切感 也对我的事情出谋划策分析到位效果明显 谢谢老师</p>
            <div class="evalutor">
              <p>Z** 评价心理专家 <span class="fc-orange">廖丽萍</span></p>
              <p>2018-02-24</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/file/2015/12/wi62ikf7pgbo3jwz.png!s120x120"/>
            </div>
          </li>
                  <li>
            <p class="evalute">单老师，在你这里，我哭过，也笑过，思考过，也成长了，希望在以后的生活中，你还是我内心的明灯</p>
            <div class="evalutor">
              <p>雨** 评价心理专家 <span class="fc-orange">单红妍</span></p>
              <p>2018-02-24</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/file/2018/01/07/1d5d70faa653f2a6f6fe4c9c52c1fa5b..jpg!s120x120"/>
            </div>
          </li>
                  <li>
            <p class="evalute">大晚上了还让老师陪伴咨询，辛苦了老师。感觉只咨询了一次但是对老师的话都很信任，也帮我拨开了一些之前没看到的事实，但对我的认知有很大的影响的事情，谢谢老师＝0＝</p>
            <div class="evalutor">
              <p>竹** 评价心理专家 <span class="fc-orange">李合丽</span></p>
              <p>2018-02-24</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/file/2018/02/09/4fa45efcabdea5feedc2276c016837cd..jpg!s120x120"/>
            </div>
          </li>
                  <li>
            <p class="evalute">总结了自己的爱情故事，宗老师引导我发现其中的模式，我是需要被给予爱，给予支持。喜欢别人夸奖我，爱我，给我安全感。我把悲伤的故事高兴的讲给别人听，因为别人会觉得我痴情，坚持。</p>
            <div class="evalutor">
              <p>l** 评价心理专家 <span class="fc-orange">宗建飞</span></p>
              <p>2018-02-13</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/v2/images/avatar_default.png!s120x120"/>
            </div>
          </li>
                  <li>
            <p class="evalute">梁老师很专业，很耐心，效果不错，期待下一次交流</p>
            <div class="evalutor">
              <p>刘** 评价心理专家 <span class="fc-orange">梁云茜</span></p>
              <p>2018-02-13</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/file/2015/12/wi62ikf7pgbo3jwz.png!s120x120"/>
            </div>
          </li>
                  <li>
            <p class="evalute">和老师的沟通交流很顺利……虽然有些小插曲但都很快的处理解决了..相信时间会慢慢的帮我渡过..再次感谢</p>
            <div class="evalutor">
              <p>曹** 评价心理专家 <span class="fc-orange">张春燕</span></p>
              <p>2018-02-13</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/file/2018/02/12/755c5eb96fde41094700a30c8355ffd0..jpg!s120x120"/>
            </div>
          </li>
                  <li>
            <p class="evalute">专业强，让人心灵得到释放。态度好，亲和力強。</p>
            <div class="evalutor">
              <p>喜** 评价心理专家 <span class="fc-orange">朱晓琳</span></p>
              <p>2018-02-05</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/file/2015/12/wi62ikf7pgbo3jwz.png!s120x120"/>
            </div>
          </li>
                  <li>
            <p class="evalute">老师的声音很温柔，很耐心，聊过以后心情平静很多。</p>
            <div class="evalutor">
              <p>亦** 评价心理专家 <span class="fc-orange">吴丽君</span></p>
              <p>2018-02-05</p>
              <img class="lazy img" data-original="https://img.ydlcdn.com/v2/images/avatar_default.png!s120x120"/>
            </div>
          </li>

      </ul>
    </div>

  </div>
</div>

<div class="cont05">
  <div class="content-wrap">
    <p class="tt1">常见问题</p>
    <p class="tt2"><span class="fc-green">7×20</span>小时，咨询助理为您服务</p>
    <div class="cont05In">
      <ul class="firstUl">
        <li><a href="//www.yidianling.com/help/48" target="_blank">什么是心理健康？</a></li>
        <li><a href="//www.yidianling.com/help/26" target="_blank">心理健康与心理治疗的关系？</a></li>
        <li><a href="//www.yidianling.com/help/54" target="_blank">怎么确定我是否需要心理健康</a></li>
        <li><a href="//www.yidianling.com/help/57" target="_blank">心理健康的一般原则和注意事项？</a></li>
      </ul>
      <ul class="secondUl">
        <li><a href="//www.yidianling.com/help/55" target="_blank">咨询前需要准备什么？</a></li>
        <li><a href="//www.yidianling.com/help/58" target="_blank">电话\文字\视频\当面咨询怎么使用？</a></li>
        <li><a href="//www.yidianling.com/help/56" target="_blank">首次咨询后常见问题答疑？</a></li>
        <li><a href="//www.yidianling.com/help/43" target="_blank">不满意怎么办？</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="cont06" id="go_about">
  <div class="content-wrap">
    <p class="tt1">关于我们</p>
    <p class="tt2"></p>
    <div class="cont06In">
      <img src="https://static.ydlcdn.com/activity/images/baiduPC_new/left.png" alt="" class="left06"/>
      <img src="https://static.ydlcdn.com/activity/images/baiduPC_new/right.png" alt="" class="right06"/>
      <div class="scrollBox6">
        <div class="scrollWrap6 overflowH">
          <div class="item6Total">
            <img class="lazy" data-original="https://static.ydlcdn.com/activity/images/baiduPC_new/about_1.jpg" alt="" />
          </div>

          <div class="item6Total">
            <img class="lazy" data-original="https://static.ydlcdn.com/activity/images/baiduPC_new/about_2.jpg" alt="" />
          </div>
          <div class="item6Total">
            <img class="lazy" data-original="https://static.ydlcdn.com/activity/images/baiduPC_new/about_3.jpg" alt="" />
          </div>
        </div>
        <ul class="scrollPagination6">

        </ul>
      </div>
    </div>
    <p class="txt06">壹点灵隶属于上海袋虎信息技术有限公司，秉承“知心专业、贴心关怀、诚心服务”理念，打造中国最有价值的心理健康与心理健康服务互联网平台。</p>
    <p class="txt06">壹点灵现有员工近百人，拥有博士、硕士研究生学历者占到10%以上。研发运营团队多来自阿里巴巴、百度、携程、5173等知名互联网公司，心理顾问专业团队则由来自中国科学院心理研究所、浙江大学、温州大学等科研院所心理学专家与研究人员组成。</p>
    <p class="txt06">壹点灵突破了传统心理健康模式，依托互联网科技，提供与心理健康相关的多元化、系统化服务，真正肩负起维护心理健康、提升心理素质、促进社会适应的重要使命。</p>
<!--    <a href="//www.ydl.com/about?type=company#tab" class="btn btn06 borderRadius4">更多介绍</a>-->
  </div>
</div>

<div class="cont07" id="go_partners">
  <div class="content-wrap">
    <p class="tt1">权威机构合作背景</p>
    <p class="tt2">与地方妇联、高校、咨询机构深入合作</p>
    <div class="">
      <img class="lazy blockImg" data-original="https://static.ydlcdn.com/activity/images/baiduPC_new/partner.png" alt="" />
    </div>
  </div>
</div>



<div class="cont08">
  <div class="content-wrap">
    <p class="tt1">联系我们</p>
    <a href="http://j.map.baidu.com/iJOlH" target="_blank" style="display:none;"><img class="lazy blockImg" data-original="https://static.ydlcdn.com/v2/images/about_map2.png" alt="" src="https://static.ydlcdn.com/v2/images/about_map2.png" style="display: inline;"></a>
    <p class="txt1">联系电话：400-114-1010</p>
    <p class="txt1" style="display:none;">办公地址： <a href="http://j.map.baidu.com/iJOlH" target="_blank">杭州市滨江区聚光中心C2座302室</a></p>
    <p class="txt1"><b>上海总部</b></p>
    <p class="txt1">办公地址：上海市长宁区仙霞路350号1幢1楼196室</p>
  </div>
</div>

<div class="goTop">
  <img src="https://static.ydlcdn.com/activity/images/baiduPC_new/gotoTop.png" alt="" />
</div>

<div class="sideFix">
  <ul>
    <a target="_blank" class='kf_xinnuan'>
      <li class="online">
        <img class="lazy" data-original="https://static.ydlcdn.com/activity/images/baiduPC_new/pop_kefu.png" alt="" />
      </li>
    </a>
      </ul>
  <div class="popFix"></div>
</div>

<div class="footer">
  <div class="content-wrap">
<!--    <div class="textC">-->
<!--      <a href="https://www.ydl.com/agreement/reg" target="_blank">用户协议</a>-->
<!--      <a href="https://img.ydlcdn.com/xieyi/zxfwgz20161110.pdf" target="_blank">咨询服务规则</a>-->
<!--      <a href="https://www.ydl.com/about?type=law#tab" target="_blank">法律声明</a>-->
<!--      <a class='kf_xinnuan' target="_blank">意见反馈</a>-->
<!--    </div>-->
    <p class="textC copyRight"><span class="win_copyright"></span><span class="win_company"></span> <br><span class="win_copycode"></span></p>
    <div class="textC">
      <a href="http://webscan.360.cn/index/checkwebsite/url/www.yidianling.com"><img src="https://static.ydlcdn.com/v3/images/360safe.png" alt="" /></a>
      <a href="http://v.pinpaibao.com.cn/authenticate/cert/?site=yidianling.com&at=realname"><img src="https://static.ydlcdn.com/v3/images/hy_124x47.png" alt="" /></a>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $("img.lazy").lazyload();

    var $logPopBox=$('.logPopBox');
    $('.loginNavs').children('li').on('click',function(){
      if($logPopBox.hasClass('turn')){
        $logPopBox.removeClass('turn');
      }else {
        $logPopBox.addClass('turn');
      }
    });

    $.slider2({
      scrollContainer: '.scrollBox2',
      scrollWraper: '.scrollWrap2',
      pre: '.left02',
      next: '.right02',
      scrollItem: '.item2Total',
      speed: 600,
      animateStyle: 'linear',
      scrollPagination: '.scrollPagination',
      currentPagination: 'current',
      loop: false,
      loopDuration: 5000,
      resetpagination: true,
      paginations: '.scrollPagination li'
    });

    var $lis=$('#list li');

    $lis.wookmark({
      container: $('#list'),
      offset: 24,
      itemWidth: 282
    });

    $.slider2({
      scrollContainer: '.scrollBox6',
      scrollWraper: '.scrollWrap6',
      pre: '.left06',
      next: '.right06',
      scrollItem: '.item6Total',
      speed: 600,
      animateStyle: 'linear',
      scrollPagination: '.scrollPagination6',
      currentPagination: 'current',
      loop: false,
      loopDuration: 5000,
      resetpagination: true,
      paginations: '.scrollPagination6 li'
    });

    var fixObj=document.querySelector('.fixedCont');

    var $goTop=$('.goTop');
    window.onscroll=function(){
      if(document.body.scrollTop||document.documentElement.scrollTop>400){
        $goTop.fadeIn(200);
      }else {
        $goTop.fadeOut(200);
      }
      if(document.body.scrollTop){
        if(document.body.scrollTop<580){
          fixObj.style.top=-(document.body.scrollTop)/20+'px';
        }else {
          fixObj.style.top="-29px";
        }
      }else {
        if(document.documentElement.scrollTop<580){
          fixObj.style.top=-(document.documentElement.scrollTop)/20+'px';
        }else {
          fixObj.style.top="-29px";
        }
      }
    }


    $goTop.on('click',function(){
      _this=this;
      $(_this).addClass('fadeOut');
      $('html,body').animate({
        scrollTop: 0
      },{
        duration: 400,
        specialEasing : "cubic-bezier(0.14, 0.13, 0.93, 0.35)"
      });
      setTimeout(function(){$(_this).removeClass('fadeOut');},1000)
    });

    $('.sideFix').find('li').on('mouseenter',function(){
      $(this).children('img').fadeIn(200);
    }).on('mouseleave',function(){
      $(this).children('img').fadeOut(200);
    });


    $('.addFav').on('click',function(e){
      e.preventDefault();
      alert('请按键盘上Ctrl+d键，将本网页加入收藏夹');
    });

  });


  </script>
<script src="https://static.ydlcdn.com/v4/common/service_online_system/index.js"></script>
<script src="./common.js"></script>
<script type="text/javascript">
  function changeVerifyCode() {
    $.ajax({
      url: "/baidu/captcha?refresh",
      dataType: 'json',
      cache: false,
      success: function(data) {
        $("#captchaimg").attr('src', data['url']);
      }
    });
  }
</script>
<!-- <script language="javascript" src="https://dat.zoosnet.net/js/lsjs.aspx?siteid=DAT83236505&float=1&lng=cn"></script> -->
</body>
</html>
