<!DOCTYPE html>
<html>
<head>
  <title>壹点灵公司介绍-壹点灵-您身边的心理健康服务专家</title>
  <meta charset="UTF-8">
  <meta name="keywords" content="壹点灵,心理健康服务,心理学,心理健康"/>
  <meta name="description" content="壹点灵是一个帮助寻求心理健康的人们更好的找到适合自己的心理健康专家的平台，同时也帮助心理健康专家们交流心理学心得。"/>
  <link rel="stylesheet" media="screen" href="//static.ydlcdn.com/mobile/css/ydl_v2.css"/>
  <link rel="stylesheet" media="screen" href="//static.ydlcdn.com/mobile/css/about.css"/>
  <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.xn.ico"/>
  <link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.xn.ico"/>
  <script src="//static.ydlcdn.com/v3/js/jquery-1.11.2.min.js"></script>
  <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui" name="viewport"/>
  <style>
    @media (max-width: 700px){
      body {
        top: 10px;
      }
    }
    .aboutBox .subMenu ul li.cur a {
      color: #333;
      border-bottom: 3px solid #ff3242;
    }
    body {
      font-size: 12px;
    }
    .footer {
      padding-top: 30px;
      padding-bottom: 100px;
      background: #fff;
    }
    .f-p02 {
      font-size: 14px;
      color: #ff5722;
      line-height: 18px;
      width: 90%;
      text-align: center;
      margin-left: 5%;
    }
    .footer .g-kefu a:nth-child(1) {
      width: 5.17em;
    }
    @media screen and (min-width: 375px){
      .footer .g-kefu .child1 {
        padding-right: 20px;
      }
    }

    .footer .g-kefu a {
      display: block;
      float: left;
      position: relative;
    }

    .footer .g-kefu a i img {
      width: 5.17em;
      height: 4.79em;
      padding: 0;
    }
    .footer .g-kefu a img {
      display: block;
      float: left;
      width: 2.92em;
      padding: 1.08em 0.2em 0 1.42em;
    }

    @media screen and (min-width: 375px){

      .footer .g-kefu .child2, .footer .g-kefu .child3 {
        padding: 0 10px;
      }
    }

    .footer .g-kefu a em {
      display: block;
      float: left;
      color: #fff;
      font-size: 1.25em;
      font-style: normal;
    }

    .footer .g-kefu {
      width: 100%;
      position: fixed;
      bottom: 0;
      max-width: 640px;
      min-width: 320px;
      z-index: 9999;
      background: #f73769;
      height: 4.79em;
      line-height: 4.79em;
    }
    .aboutBox .subMenu ul li.cur a {
      color: #333;
      border-bottom: 3px solid #ff5722;
    }
  </style>
</head>
<body>
<div class="aboutWrapper">
  <div class="logo">
    <a href="index.html">
      <img src="//static1.ydlcdn.com/mobile/images/baidu/area/logo1_shanghai.png" alt="" style="width: 100%;height: auto;padding: 0;"/>
    </a>
  </div>
  <div class="about_banner">
    <img src="//static.ydlcdn.com/mobile/images/about-m/img01.png" alt="">
  </div>
  <div class="aboutBox">
    <div class="subMenu">
      <ul>
	      <li class=""><a href="about_CompanyArea_shanghai.html">公司介绍</a></li>
	      <li class="center cur"><a href="about_mediaArea_shanghai.html">媒体报道</a></li>
	      <li class="center"><a href="about_NewsArea_shanghai.html">最新动态</a></li>
	      <li class="right"><a href="payStyleArea_shanghai.html">支付方式</a></li>
      </ul>
    </div>

    <div class="about_content about_news">
      <div class="news-content">
        <div class="item clearfix">
          <div class="thumb">
            <a href="//www.qianhuaweb.com/2016/0405/3253216.shtml" target="_blank"><img src="//img.ydlcdn.com/file/2016/04/86icwlf746mzukmo.jpg" style="border:none"></a>
          </div>
          <div class="desc" style="border-bottom:none;">
            <h2><a href="//www.qianhuaweb.com/2016/0405/3253216.shtml" target="_blank">壹点灵：互联网心理健康服务的风口已经到来</a></h2>
            <p></p><p><span style="font-size:16px">在硅谷，不懂禅修的人会被看作是“落伍的人”。如今，知名互联网企业如谷歌、脸书、苹果等，均已开设禅修课程帮助员工解放身体和心灵的双重压力。而在国内，用户可以在壹点灵中一键预约自己想要的心理健康专家，通过正念冥想练习，发现当下的力量，消除生活...<br></span></p><div class="date">2016-04-05</div><p></p>
          </div>
        </div>
        <div class="item clearfix">
          <div class="thumb">
            <a href="//life.cjn.cn/sxnews/2016/0325/1278422.html" target="_blank"><img src="//img.ydlcdn.com/file/2016/03/9ekb3oil4s86n0l7.png" style="border:none"></a>
          </div>
          <div class="desc" style="border-bottom:none;">
            <h2><a href="//life.cjn.cn/sxnews/2016/0325/1278422.html" target="_blank">壹点灵：互联网正变革心理健康服务行业</a></h2>
            <p></p><p><span style="font-size:16px">世界卫生组织的一项数据显示，中国精神疾病的发病率占所有疾病发病率的20%，高于世界平均发病率。《中国青年报》一项调查报告也显示，14%的大学生出现抑郁症状，17%出现焦虑症状，12%存在敌对情绪，这个触目惊心的数据还在不断增长。然而目前...<br></span></p><div class="date">2016-03-26</div><p></p>
          </div>
        </div>
        <div class="item clearfix">
          <div class="thumb">
            <a href="//www.newskj.org/kejixun/2016031851076.html" target="_blank"><img src="//img.ydlcdn.com/file/2016/03/ooeyc92o20pma3fd.jpg" style="border:none"></a>
          </div>
          <div class="desc" style="border-bottom:none;">
            <h2><a href="//www.newskj.org/kejixun/2016031851076.html" target="_blank">壹点灵：以共享经济建立互联网心理健康服务新模...</a></h2>
            <p></p><p>在互联网时代下，互联网的匿名性可成为人们向外敞开心灵的一扇窗户。不管是男性还是女性，通过互联网可以更畅快地谈论私密问题。这也是互联网心理健康服务平台壹点灵创立的初衷，用互联网技术让心理健康服务更加亲民，提高传统心理健康服务的效率，让更多人有机会解决自身的问题。目前壹点灵已获得1000万元天使融资。具体...<br></p><div class="date">2016-03-18</div><p></p>
          </div>
        </div>
        <div class="item clearfix">
          <div class="thumb">
            <a href="//hainan.ifeng.com/a/20160311/4358597_0.shtml" target="_blank"><img src="//img.ydlcdn.com/file/2016/03/mp5wtxxd7480xg4f.jpg" style="border:none"></a>
          </div>
          <div class="desc" style="border-bottom:none;">
            <h2><a href="//hainan.ifeng.com/a/20160311/4358597_0.shtml" target="_blank">壹点灵：心理服务O2O如何成为“爆品”</a></h2>
            <p></p><p><span style="font-size:16px"><span>2015</span>年<span>9</span>月，心理壹点灵应运而生，目的在于帮助广大的心理健康专家个人执业，并满足大众对心理健康服务服务的需求。商业的手段是否能更好地解决社会问题<span>?</span>壹点灵团队显得信...<br></span></p><div class="date">2016-03-11</div><p></p>
          </div>
        </div>
        <div class="item clearfix">
          <div class="thumb">
            <a href="//zgsc.china.com.cn/zxun/gy/2016-03-07/469980.html" target="_blank"><img src="//img.ydlcdn.com/file/2016/03/ehd0sgcnhsorhhbs.jpg" style="border:none"></a>
          </div>
          <div class="desc" style="border-bottom:none;">
            <h2><a href="//zgsc.china.com.cn/zxun/gy/2016-03-07/469980.html" target="_blank">壹点灵：互联网+公益心理健康服务=无限可能</a></h2>
            <p></p><p><span style="font-size:16px">3月5日，壹点灵首推公益心理健康服务活动。当日0点到24点，用户登陆壹点灵网站或微信端，即可享受1元起步的在线心理健康服务服务。参加这次活动的上百位心理健康服务专家，均经过壹点灵平台认证，积累了丰富的咨询个案，是业内权威人士，咨询范围涵盖婚恋情感、...<br></span></p><div class="date">2016-03-07</div><p></p>
          </div>
        </div>

        <div class="item clearfix">
          <div class="thumb">
            <a href="//caijing.iqliu.com/cjxw/2016/0304/27002893.html" target="_blank"><img src="//img.ydlcdn.com/file/2016/03/8emxavq1o3yk0b4a.jpg" style="border:none"></a>
          </div>
          <div class="desc" style="border-bottom:none;">
            <h2><a href="//caijing.iqliu.com/cjxw/2016/0304/27002893.html" target="_blank">心理壹点灵：有时候，理解比付出更重要</a></h2>
            <p></p><p><span style="font-size:16px">理解他人的过程，就是走出自我中心的过程。也是长大的过程，发现每个人都是平等的过程。基于你发现了每个人都是平等的，你就不会沉溺于无边的怨恨、憎恶或不适应。同时，你也深刻理解了他人，接纳了自己。</span></p><p></p><p><!--...<br--></p><div class="date">2016-03-04</div><p></p>
          </div>
        </div>
        <div class="item clearfix">
          <div class="thumb">
            <a href="//xj.china.com/xjjj/yhbx/11166173/20160229/21629435.html" target="_blank"><img src="//img.ydlcdn.com/file/2016/02/uf909kqj9dr0uxkf.jpg" style="border:none"></a>
          </div>
          <div class="desc" style="border-bottom:none;">
            <h2><a href="//xj.china.com/xjjj/yhbx/11166173/20160229/21629435.html" target="_blank">心理壹点灵：恋爱中如何让你的情商爆表</a></h2>
            <p></p><p>这一次心理壹点灵带你走近情感话题中的三个典型案例，异地恋、前男（女）友和出轨，聊一聊如何与伴侣沟通，如何维系情感和婚姻。希望天下的有钱人都能终成眷属。心理壹点灵是聚合众多高级心理健康服务专家的互联网平台。遇到“心理感冒”，患者只要轻点鼠标，就能预约发布在全国的咨询师。</p><br><div class="date">2016-02-29</div><p></p>
          </div>
        </div>
        <div class="item clearfix">
          <div class="thumb">
            <a href="//www.ccidnet.com/2016/0219/10098306.shtml" target="_blank"><img src="//img.ydlcdn.com/file/2016/02/qf3c5s3hpcb7gtkx.jpg" style="border:none"></a>
          </div>
          <div class="desc" style="border-bottom:none;">
            <h2><a href="//www.ccidnet.com/2016/0219/10098306.shtml" target="_blank">心理壹点灵：如何才能夺回被生活吞噬的安全...</a></h2>
            <p></p><p><span style="font-size:16px">刚过去的2015年，安全感是个流行词，在新的2016年也被多次提及。周星驰《美人鱼》的海洋环境之殇、不仅是天灾的台湾地震、哈尔滨天价鱼事件……很多人都说我们的时代已经太不安全。但或许，安全感从来就不是时代的问题，时代只是一个优雅的借口而...<br></span></p><div class="date">2016-02-19</div><p></p>
          </div>
        </div>
        <div class="item clearfix">
          <div class="thumb">
            <a href="//www.jx.chinanews.com.cn/2016/0122/966291.html" target="_blank"><img src="//img.ydlcdn.com/file/2016/01/5lalcy3ph9bjttd2.png" style="border:none"></a>
          </div>
          <div class="desc" style="border-bottom:none;">
            <h2><a href="//www.jx.chinanews.com.cn/2016/0122/966291.html" target="_blank">心理壹点灵：治愈系网站背后的商业化逻辑</a></h2>
            <p>身心灵平衡，似乎已成为当下大众最关心的时髦话题。很多人开始选择将日常心理健康服务作为排解渠道，开启一种新的治愈系生活方式。2015年9月，心理壹点灵网页版上线，2016年1月心理壹点灵移动版APP上线，尝试将线下心理健康服务搬到线上。徐颖奇对互联网心理健康服务这个行业的未来，做了相当乐观的预测，进行积极的心理治...<br></p><div class="date">2016-01-22</div><p></p>
          </div>
        </div>
        <div class="item clearfix">
          <div class="thumb">
            <a href="//www.kejixun.com/article/201601/152089.html" target="_blank"><img src="//img.ydlcdn.com/file/2016/01/evgfmzepgcp7priz.png" style="border:none"></a>
          </div>
          <div class="desc" style="border-bottom:none;">
            <h2><a href="//www.kejixun.com/article/201601/152089.html" target="_blank">心理壹点灵：2016年不良情绪应对指南</a></h2>
            <p>2016年，如何应对不良情绪的扫荡和侵袭？心理壹点灵的专家凝芳告诉你，只要掌握科学的技巧，那些无处安放的恐惧、自卑、缺爱等不良情绪就能一扫而空，像是遭遇一场感冒，赋予你更强大的免疫力。这一次，壹点灵带你走近三个典型案例，带给你实用的2016不良情绪应对指南。     <br></p><div class="date">2016-01-13</div><p></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="footer" style="height: 100px">
  <p class="f-p02">上海袋虎信息技术有限公司 版权所有<br>上海市长宁区仙霞路350号1幢1楼196室<br>杭州-滨江阡陌路459号聚光中心C楼302</p>
  <div class="g-kefu" style="background: #ff5722">
    <a class="child1" href="index.html"><i>
      <img src="//static1.ydlcdn.com/mobile/images/baidu/wanjiu/home@3x.png" alt=" " style="background: #ffa922;"></i></a>
    <a class="child2"  href="tel:400-114-1010"><img src="//static1.ydlcdn.com/mobile/images/baidu/wanjiu/tel@3x.gif" alt=" " class="loaded"><em>客服热线</em></a>
    <a class="child3"  href="//dat.zoosnet.net/LR/Chatpre.aspx?id=DAT83236505&lng=cn" target="_blank"><img src="//static1.ydlcdn.com/mobile/images/baidu/wanjiu/mag@3x.png" alt=" " class="loaded"><em>在线客服</em></a>
  </div>
</div>


<script>
  $(function(){
    $('.show-allInfo').on('touchend',function(e){
      e.preventDefault();
      $info=$(this).parent().find('.info-hide');
      if($info.css('display')=='none'){
        $info.slideDown();
        $(this).text('收起');
      }else {
        $info.slideUp();
        $(this).text('展开全部');
      }
    });
  });
</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?4446f7fa4186990430cb61ee85ce0d00";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>
