<!DOCTYPE html>
<html>
	<head id="Head1">
	  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	  <meta name="apple-mobile-web-app-capable" content="yes">
	  <meta name="apple-mobile-web-app-status-bar-style" content="black">
	  <meta name="format-detection" content="telephone=no">
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>上海心理健康服务壹点灵</title>
		<link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.xn.ico" />
		<link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.xn.ico" />
		<link rel="stylesheet" href="//static1.ydlcdn.com/mobile/css/swiper-3.3.1.min.css">
		<link href="//static1.ydlcdn.com/mobile/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="//static1.ydlcdn.com/mobile/css/baidu/marea.css?201809141550" rel="stylesheet" type="text/css">

    <!--<link href="../static1.yidianling.com/mobile/css/baidu/marea.css" rel="stylesheet" type="text/css">-->
		<style>
			.hz_180206 .top_logo a:first-child {
				width: 22.35%;
				position: absolute;
				top: 12px;
			}
				</style>
  <script language=javascript>
    var LiveAutoInvite0='您好，这里是壹点零心理咨询客服，请问有什么可以帮到您的吗？';
    var LiveAutoInvite1='来自首页的对话';
    var LiveAutoInvite2='网站商务通 主要功能：<BR>1、主动邀请<BR>2、即时沟通<BR>3、查看即时访问动态<BR>4、访问轨迹跟踪<BR>5、内部对话<BR>6、不安装任何插件也实现双向文件传输<BR><BR><B>如果您有任何问题请接受此邀请以开始即时沟通</B>';
    var LrinviteTimeout=30;
    </script>
		<script>

			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?def33305469533e77c369a78a0b64a2a";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>
	<body class="xlrx_new2 hz_180206">
		<div class="top_logo">
			<a href="javascript:;"><img src="//static1.ydlcdn.com/mobile/images/area/logo.png" /></a>
			<!--<a href="tel:400-114-1010"><img src="//static1.ydlcdn.com/mobile/images/area/tell.png" /></a>-->
			<a href="tel:400-114-1010"><img src="//m.hangzhou.yidianling.com/images/index/tel2.png" />400-114-1010</a>
		</div>
		<div class="top_banner">
			<a target="_self" class="kf_xinnuan"><img src="images/index/banner0206.png"></a>
		</div>

		<ul class="toplist">
			<li class="toplist-li fl"><i class="icon_top1"></i><p>服务客户100万+</p></li>
			<li class="toplist-li fl"><i class="icon_top2"></i><p>解决困扰150万+</p></li>
			<li class="toplist-li fl"><i class="icon_top3"></i><p>心理专家6000+</p></li>
		</ul>

		<div class="cont01">
			<!--<h2 class="cont01_title">壹点灵&nbsp;<span>•</span></h2>
			<p class="cont01_subTitle">解决心理烦恼&nbsp;找回快乐</p>-->
			<h3 class="hz-title">我们擅长处理这些问题</h3>
			<p class="hz-subtitle">服务覆盖250+城市，6000多位国家认证心理专家供您挑选</p>
			<div class="contInner01">
				<a class="kf_xinnuan">
					<dl>
						<dt><img src="//m.hangzhou.yidianling.com/images/index/flag_icon1-1.png" alt=""></dt>
						<dd class="txt01">情感婚姻</dd>
						<dd class="txt02">挽回,外遇,离婚等婚姻情感问题</dd>
						<!--<dd class="txt03"><span>72853人已咨询</span></dd>-->
					</dl>
				</a>
				<a class="kf_xinnuan">
					<dl>
						<dt><img src="//m.hangzhou.yidianling.com/images/index/flag_icon1-2.png" alt=""></dt>
						<dd class="txt01">情绪压力</dd>
						<dd class="txt02">焦虑,抑郁,失眠,强迫等心理症状</dd>
						<!--<dd class="txt03"><span>23991人已咨询</span></dd>-->
					</dl>
				</a>
			</div>
			<div class="contInner01">
				<a class="kf_xinnuan">
					<dl>
						<dt><img src="//m.hangzhou.yidianling.com/images/index/flag_icon2-1.png" alt=""></dt>
						<dd class="txt01">孩子教育</dd>
						<dd class="txt02">自闭,多动,网瘾,厌学等孩子问题</dd>
						<!--<dd class="txt03"><span>6743人已咨询</span></dd>-->
					</dl>
				</a>
				<a class="kf_xinnuan">
					<dl>
						<dt><img src="//m.hangzhou.yidianling.com/images/index/flag_icon2-2.png" alt=""></dt>
						<dd class="txt01">职场人际</dd>
						<dd class="txt02">职业发展,同事关系,工作压力等问题</dd>
						<!--<dd class="txt03"><span>1551人已咨询</span></dd>-->
					</dl>
				</a>
			</div>

			<div class="contInner01">
				<a class="kf_xinnuan">
					<dl>
						<dt><img src="//m.hangzhou.yidianling.com/images/index/flag_icon3-1.png" alt=""></dt>
						<dd class="txt01">个人成长</dd>
						<dd class="txt02">内向,孤僻,情绪调节,个人提升等</dd>
						<!--<dd class="txt03"><span>19679人已咨询</span></dd>-->
					</dl>
				</a>
				<a class="kf_xinnuan">
					<dl>
						<dt><img src="//m.hangzhou.yidianling.com/images/index/flag_icon3-2.png" alt=""></dt>
						<dd class="txt01">两性心理</dd>
						<dd class="txt02">揭秘男女思维大不同</dd>
						<!--<dd class="txt03"><span>7007人已咨询</span></dd>-->
					</dl>
				</a>
			</div>
		</div>
		<div class="content3 machine">
	    <h3 class="hz-title">我们设备齐全</h3>
	    <div class="swiper-container scroll2">
	      <div class="swiper-wrapper">
	      	<div class="swiper-slide"><img class="swiper-lazy" data-src="images/index/machine01.png"></div>
	      	<div class="swiper-slide"><img class="swiper-lazy" data-src="images/index/machine02.png"></div>
	      	<div class="swiper-slide"><img class="swiper-lazy" data-src="images/index/machine03.png"></div>
	      	<div class="swiper-slide"><img class="swiper-lazy" data-src="images/index/machine04.png"></div>
	      </div>
	      <div class="swiper-pagination"></div>
	    </div>
	  </div>
	  <!--值得信赖的心理专家团队-->
		<div class="experts">
			<h3 class="hz-title">值得信赖的心理专家团队</h3>
			<p class="hz-subtitle">中国科学院心理研究所权威保障，为客户解答心理困惑，提供明确有效的解决方案</p>
			<ul class="experts-list clearfix">
				<li id="show-alert" class="experts-item fl">
					<img class="experts-img" src="//static.yidianling.com/activity/images/baidu_app/img_yuan.png">
					<div class="experts-detail"><p class="experts-name">袁老师</p><p class="experts-desc">从业10年<span>|</span>爱心帮助1743人</p></div>
					<a  class="experts-btn kf_xinnuan">立即帮助</a>
				</li>
				<li id="show-alert" class="experts-item fl">
					<img class="experts-img" src="//static.yidianling.com/activity/images/baidu_app/img_gao.png">
					<div class="experts-detail"><p class="experts-name">高老师</p><p class="experts-desc">从业3年<span>|</span>爱心帮助1927人</p></div>
					<a  class="experts-btn kf_xinnuan">立即帮助</a>
				</li>
				<li id="show-alert" class="experts-item fl">
					<img class="experts-img" src="//m.love.yidianling.com/images/newLove/experts_pic03.png">
					<div class="experts-detail"><p class="experts-name">王老师</p><p class="experts-desc">从业3年<span>|</span>爱心帮助2999人</p></div>
					<a  class="experts-btn kf_xinnuan">立即帮助</a>
				</li>
				<li id="show-alert" class="experts-item fl">
					<img class="experts-img" src="//m.love.yidianling.com/images/newLove/experts_pic04.png">
					<div class="experts-detail"><p class="experts-name">刘老师</p><p class="experts-desc">从业7年<span>|</span>爱心帮助1876人</p></div>
					<a class="experts-btn kf_xinnuan">立即帮助</a>
				</li>
			</ul>
		</div>
		<!--简单3步  完成服务-->
		<div class="step">
			<h3 class="hz-title">简单3步  完成服务 </h3>
			<p class="hz-subtitle">不满意可100%退款</p>
			<ul class="step-list">
				<li class="step-item"><span>01</span><div><p>联系客服</p><p>Matching expert</p></div></li>
				<li class="step-item"><span>02</span><div><p>预约咨询</p><p>Booking service</p></div></li>
				<li class="step-item"><span>03</span><div><p>完成服务</p><p>Restore service</p></div></li>
			</ul>
			<div class="step-arrow">
				<img class="fl" src="//nuanwo520.com/images/arrow.png" src="//nuanwo520.com/images/arrow.png" style="display: block;">
				<img class="fr" src="//nuanwo520.com/images/arrow.png" src="//nuanwo520.com/images/arrow.png" style="display: block;">
			</div>
		</div>
		<!--各大媒体争相报道-->
		<div class="media">
			<h3 class="hz-title">各大媒体争相报道</h3>
			<p class="hz-subtitle">创新模式推动婚恋发展</p>
			<div class="swiper-container">
				<div class="swiper-wrapper">
				    <div class="swiper-slide one"><p class="media-text">心理健康助力全面小康...</p></div>
				    <div class="swiper-slide two"><p class="media-text">天灾无情人有情，壹点灵赴台风灾区紧急心理援助...</p></div>
				    <div class="swiper-slide three"><p class="media-text">心有灵犀“壹点灵”，探求心理咨询的共享经济时代...</p></div>
				    <div class="swiper-slide four"><p class="media-text">从“内容+社区+预约咨询“模式入手，壹点灵切入...</p></div>
				    <div class="swiper-slide five"><p class="media-text">壹点灵：互联网+公益心理咨询=无限可能</p></div>
					<div class="swiper-slide six"><p class="media-text">心理壹点灵：恋爱中如何让你的情商爆表</p></div>
				    <div class="swiper-slide seven"><p class="media-text">创业互联网心理健康服务， “壹点灵”接轨...</p></div>
				    <div class="swiper-slide eight"><p class="media-text">壹点灵心理专家赴丽水山体滑坡开展心理重建...</p></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
		<!--合作伙伴-->
		<div class="partners">
			<h3 class="hz-title">合作伙伴</h3>
			<img class="partners-img" src="//m.love.yidianling.com/images/newLove/partners.png"/>
		</div>
		<!--关于我们-->
		<div class="about">
			<div class="about_content">
				<h3 class="hz-title">关于我们</h3>
				<div class="about_swiper">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<!-- <div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about01.png" class="swiper-lazy"></div> -->
							<div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about02.png" class="swiper-lazy"></div>
							<div class="swiper-slide"><img data-src="//m.hangzhou.yidianling.com/images/index/about03.png" class="swiper-lazy"></div>
							<div class="swiper-slide"><img data-src="//m.love.yidianling.com/images/520/about/4.jpg" class="swiper-lazy"></div>
							<div class="swiper-slide"><img data-src="//static.yidianling.com/activity/images/baidu_app/5.png" class="swiper-lazy"></div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
				<p>情感壹点灵秉承"知心专业，贴心关怀，诚心服务"的理念，力图打造中国最有价值的综合性婚恋服务平台。现有员工300多人，拥有博士、硕士研究生学历者占到10%以上。
					<br />研发运营团队多来自阿里巴巴、百度、携程、5173等知名互联网公司。汇集了国内外4000多位专家，通过各类成熟的实战经验技巧帮助用户挽救婚姻、劝退第三者、挽回爱情、情感疏导。已经成功挽救了5万多个家庭。</p>
				<a class="experts-btn" href="https://dat.zoosnet.net/LR/Chatpre.aspx?id=DAT83236505&lng=cn" target="_self">查看详情</a>
			</div>
		</div>
		<div class="area_floatMenu">
			<!-- <a class="tel" href="tel:400-114-1010"><i class="icon_tel"></i>电话客服</a>
			<a class="online" href="https://dat.zoosnet.net/LR/Chatpre.aspx?id=DAT83236505&lng=cn"><i class="icon_online"></i>在线分析</a> -->
		</div>
    <div class="float_bottom">
      <a href="tel:400-114-1010" class="left_button kf_hotline"><i></i>电话咨询</a>
      <a class="right_button kf_xinnuan"><i></i>在线分析</a>
    </div>
		<script src="//static1.ydlcdn.com/global/js/jquery-1.11.2.min.js"></script>
		<script src="//static1.ydlcdn.com/global/js/swiper/swiper-3.3.1.jquery.min.js"></script>
    <script src="//static.ydlcdn.com/v4/common/service_online_system/index.js?201809271700"></script>

		<script>
			$(function() {
				//滚动到顶部
				$('.top').click(function(){
					$(window).scrollTop(0);
				})
				//判断滚动，顶部浮动
				$(window).scroll(function() {
					var scroH = $(this).scrollTop();
//					console.log(scroH);
					if(scroH>0){
						$('.top_logo').attr('style','position: fixed;top: 0;z-index: 200;')
					}else{
						$('.top_logo').removeAttr('style');
					}
				});
				var machine_swiper = new Swiper('.machine .swiper-container',{
					loop: true,
					autoplay: 5000,
					spaceBetween: 20,
					pagination: '.machine .swiper-pagination',
					paginationType: 'bullets',
					slidesPerView: 'auto',
					autoplayDisableOnInteraction: false,
					lazyLoading : true,
					centeredSlides: true,
					initialSlide: 3,
				})
				var media_swiper = new Swiper('.media .swiper-container',{
					loop: true,
				//	loopAdditionalSlides : 1,
					autoplay: 3000,
					autoplayDisableOnInteraction: false,
					slidesPerView : 2,
					slidesPerColumn : 2,
					slidesPerColumnFill : 'row',
					spaceBetween : 10,
					pagination: '.media .swiper-pagination',
					paginationClickable :true,
					slidesPerGroup : 4,
				})

				//关于我们，轮播
				var about_swiper = new Swiper('.about_swiper .swiper-container', {
					autoplay: 5000,
					spaceBetween: 20,
					pagination: '.about_swiper .swiper-pagination',
					paginationType: 'bullets',
					slidesPerView: 'auto',
					autoplayDisableOnInteraction: false,
					lazyLoading : true,
					centeredSlides: true,
					initialSlide: 3,
				})
			})
    </script>

    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?4446f7fa4186990430cb61ee85ce0d00";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
      </script>

	</body>
</html>
