@import '~@/styles/base/var.scss';

.g-app{
  & > div{ min-height: 100%; height: 100%;
    & > div{ min-height: 100%; height: 100%;}
  }
}

.page-festival-MidAutumn{
  background:#07206b url($imgPath+'/festival/MidAutumn/home-bg.jpg') no-repeat center top;
  background-size: n(750) auto;
  margin: 0 auto;
  padding-top:n(890);

  .content{ width:n(690); margin:0 auto;
    .item{ width:100%; background: rgba(83,93,217,.7); padding:n(45) 0;
      &:nth-child(1){ border-radius: n(10) n(10) 0 0; padding-bottom: 0;}
      &:nth-child(3){ border-radius: 0 0 n(10) n(10);}

      p{ color: #fff; text-align: center; padding:n(20); font-size: n(26);}

      .link, a{ display: block; width:100%;
        &.b1{ height: n(358); margin-top:n(20);
          background:url($imgPath+'/festival/MidAutumn/b1.png') no-repeat center top;
          background-size: cover;
        }

        &.b2{ height: n(200);
          background:url($imgPath+'/festival/MidAutumn/b2.png') no-repeat center top;
          background-size: cover;
        }
      }
    }

    .title{ width: n(690); height: n(40);
      i{ display: block; width: 100%; height: n(40);
        &.t1{
          background:url($imgPath+'/festival/MidAutumn/title1.png') no-repeat center top;
          background-size: cover;
        }

        &.t2{
          background:url($imgPath+'/festival/MidAutumn/title2.png') no-repeat center top;
          background-size: cover;
        }
      }
    }

    .line{ width: 100%; height: n(40);
      background:url($imgPath+'/festival/MidAutumn/content-line.png') no-repeat center top;
      background-size: cover;
      opacity: .7;
    }
  }

  .explain{ width: n(620); padding-bottom:n(50); margin:n(80) auto 0 auto;
    .title{ width: n(560); height: n(40); text-align: center; position: relative; margin:0 auto;
      &::after{ display: block; content: " "; position: absolute; left: 0; top: n(20);
        width:100%; height: n(1); background: rgba(255,255,255,.5);
      }

      span{ color: #fff; font-size: n(30); background: #07206b; position: relative; z-index: 1;
         display: inline-block; height: n(40); line-height: n(40);
         padding: 0 n(30);
      }
    }

    p{ color: #fff; font-size: n(26); margin-top:n(45); opacity: .8; line-height: n(50);}
  }
}

.page-festival-MidAutumn-login{ min-height: 100%; width: 100%; box-sizing: border-box; padding-top: n(270);
  background:url($imgPath+'/festival/MidAutumn/login-bg.png') no-repeat center bottom,
  url($imgPath+'/festival/MidAutumn/bg.png') no-repeat center top;
  background-size:n(750) n(223), n(750) auto;

  .title{ width: n(575); height: n(92); margin:0 auto;
    background:url($imgPath+'/festival/MidAutumn/title.png') no-repeat center;
    background-size:cover;
  }

  .login{ width: n(600); height: n(280); margin:n(70) auto 0 auto;
    background:rgba(174,183,231,.3); border-radius: n(10);

    li{ height: n(140); width: n(550); margin: 0 auto; position: relative;

      ::-webkit-input-placeholder{ color:rgba(255,255,255,.6)!important; font-size: n(26);}
      ::-moz-placeholder{ color:rgba(255,255,255,.6)!important;; font-size: n(26);}
      :-ms-input-placeholder{ color:rgba(255,255,255,.6)!important;; font-size: n(26);}
      input:-moz-placeholder{ color:rgba(255,255,255,.6)!important;; font-size: n(26);}

      input{ padding: 0; margin: 0; border:0; background: none; width: n(340);
        position: absolute; left: n(60); height: n(60); line-height: n(60); top:n(40);
        color: #fff; font-size: n(30);
      }
      &:first-child{ border-bottom: n(1) solid rgba(255,255,255,.7);}

      i{ position: absolute; display: block; width: n(36); height: n(36);
        left: 0; top:n(52);
        &.ico-tel{
          background:url($imgPath+'/festival/MidAutumn/ico-tel.png') no-repeat center;
          background-size:cover;
        }
        &.ico-pwd{
          background:url($imgPath+'/festival/MidAutumn/ico-pwd.png') no-repeat center;
          background-size:cover;
        }
      }

      span{ position: absolute; width: n(150); height: n(60); line-height: n(60); font-size: n(26);
        right: 0; top: n(40); text-align: center; display: block; color: rgba(255,255,255,.9);
      }
    }
  }

  .control{ width: n(600); height: n(110); text-align: center;
    border-radius: n(10); background: #ffd786; line-height: n(110);
    margin:n(30) auto 0 auto;

    a{ display: block; width: 100%; height: 100%; color: #103383; font-size: n(34);}
  }
}

.am-modal-header{ display: none;}
.am-modal-footer{ display: none;}
.am-toast-text-info{ font-size: n(24);}
.am-modal-transparent{ width: n(620);}
.am-modal-transparent .am-modal-content{ padding:0;}
.am-modal-transparent .am-modal-content .am-modal-body{ padding: 0;}

.modal-festival-midautumn{
  padding: n(240) 0 n(40) 0;
  background:#d0e7ff url($imgPath+'/festival/MidAutumn/dialog-bg.png') no-repeat left top;
  background-size:n(620) n(240);

  h1{ color: #333; margin-top:n(45); font-weight: normal; font-size: n(28);}
  a{ display: inline-block; width: n(500); height: n(80); margin-top:n(30); border-radius: n(10); background:#083992;
    color:#fff; font-size: n(34); text-align: center; line-height: n(80);
  }
}
