<!doctype html>
<html lang="zh-CN" ng-app="APP">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <title>隐私协议</title>
    <link rel="icon" href="https://static.ydlcdn.com/v1/images/favicon.ico">
    <link rel="shortcut icon" href="https://static.ydlcdn.com/v1/images/favicon.ico">

    <style>
      div{ padding:10px;}
      h1{ text-align: center;}
      p{ line-height: 14px; line-height: 24px; margin-top:10px;}
    </style>
	</head>

	<body>

    <div>
        <h1>隐私协议</h1>

        <p>1、用户在本平台注册时或使用本公司服务过程中向本公司提供的一切身份信息,包括个人识别 资料:如姓名、性别、年龄、生日、身份信息、电话、通信地址、住址、电子邮件地址等情况; 个人背景:职业、教育程度、收入状况、婚姻、家庭状况,除本条第 2 款约定的情况外,本公司 不会将用户的资料向任何第三方泄露。</p>

        <p>2、 双方明确并同意,在下列情况下,任何一方可向第三方披露保密信息:</p>

        <p>1)当国家机构依照法定程序要求本公司披露个人资料时;</p>

        <p>2)事先获得用户的明确授权;或已取得用户的书面同意;</p>

        <p>3)遵守有关法律规定及按照国家有关机关要求,向有关国家机关或行政部门提供用户的注册信 息;</p>

        <p>4)为完成用户提出的咨询要求,而将相关信息透露给本平台签约专家;</p>

        <p>5)公众已能够通过其他合法途径知晓该等信息;</p>

        <p>6)为完成用户提出的咨询要求,向本公司员工或与本公司存在合同关系的第三方披露保密信息。 本公司保证工作人员、委托的第三方,无论劳动关系、委托关系是否存续,均承担与本公司相同 的保密义务。</p>
    </div>
	</body>
</html>
