<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  <title>壹点灵-心理健康服务平台</title>
  <link rel="stylesheet" href="https://static.ydlcdn.com/activity/css/activity002.css">
  <link rel="stylesheet" href="https://static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.css">
  <script src="https://static.ydlcdn.com/global/js/jquery-1.11.2.min.js"></script>
  <script src="https://static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.js"></script>
  <script src="https://static.ydlcdn.com/global/js/layer/layer.js"></script>
  <script src="https://static.ydlcdn.com/global/js/jquery.lazyload.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?4446f7fa4186990430cb61ee85ce0d00";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<style>
  .area_floatMenu {
        width: 100%;
        position: fixed;
        bottom: -2px;
        z-index: 9999;
        background: #ff5722;
    }
    .area_floatMenu>a {
        width: 50%;
        float: left;
    }

    .area_floatMenu>a:first-child {
        width: 22.66%;
        display: none;
    }

    .area_floatMenu>a:nth-child(2) {
        border-right: 0.5px solid #FF311A;
        box-sizing: border-box;
    }
    .area_floatMenu>a:nth-child(3) {
        border-left: 0.5px solid #FF311A;
        box-sizing: border-box;
    }
    .area_floatMenu>a>img {
        width: 100%;
    }
    a {
      cursor: pointer;
    }
</style>

<body ontouchstart>
  <div class="activity002">
    <div class="top_banner"><a class='kf_xinnuan'><img src="https://static.ydlcdn.com/activity/images/activity002/qxyl_banner.jpg"></a></div>
    <div class="top_banner"><img src="https://static.ydlcdn.com/activity/images/activity002/hyzx_banner2.png"></div>
    <div class="cont01">
      <p class="tt1">--- 我们帮你解决这些问题 ---</p>
      <div class="contInner01">
        <a class='kf_xinnuan'>
          <dl>
            <dt><img src="https://static.ydlcdn.com/activity/images/activity002/ico_love.png" alt=""></dt>
            <dd class="txt01">情感婚姻</dd>
            <dd class="txt02">恋爱、逼婚、恐婚、外遇、离婚</dd>
            <dd class="txt03"><span>2394139人已咨询</span></dd>
          </dl>
        </a>
        <a class='kf_xinnuan'>
          <dl class="fr">
            <dt><img src="https://static.ydlcdn.com/activity/images/activity002/ico_mood.png" alt=""></dt>
            <dd class="txt01">情绪压力</dd>
            <dd class="txt02">焦虑抑郁、失眠强迫等心理症状</dd>
            <dd class="txt03"><span>933680人已咨询</span></dd>
          </dl>
        </a>
      </div>
      <div class="contInner01">
        <a class='kf_xinnuan'>
          <dl>
            <dt><img src="https://static.ydlcdn.com/activity/images/activity002/ico_kid.png" alt=""></dt>
            <dd class="txt01">孩子教育</dd>
            <dd class="txt02">自闭、多动、网瘾、厌学等问题</dd>
            <dd class="txt03"><span>259490人已咨询</span></dd>
          </dl>
        </a>
        <a class='kf_xinnuan'>
          <dl class="fr">
            <dt><img src="https://static.ydlcdn.com/activity/images/activity002/ico_work.png" alt=""></dt>
            <dd class="txt01">职场人际</dd>
            <dd class="txt02">职业发展、同事关系工作压力等</dd>
            <dd class="txt03"><span>80916人已咨询</span></dd>
          </dl>
        </a>
      </div>

      <div class="contInner01">
        <a class='kf_xinnuan'>
          <dl>
            <dt><img class="lazy" data-original="https://static.ydlcdn.com/activity/images/activity002/ico_develop.png"
                alt=""></dt>
            <dd class="txt01">个人成长</dd>
            <dd class="txt02">内向孤僻、情绪调节、个人提升</dd>
            <dd class="txt03"><span>674685人已咨询</span></dd>
          </dl>
        </a>
      </div>
    </div>
    <!-- <a class='kf_xinnuan' class="btn1" style="margin-top: 20px; margin-bottom: 40px;">在线客服</a> -->
    <div class="cont02" style="border-top:1px solid #efefef">
      <div class="top_banner"><img class="lazy" data-original="https://static.ydlcdn.com/activity/images/activity002/workflow_hyzx.png"
          alt="" class="blockImge">
      </div>
    </div>

    <div class="cont03">
      <p class="tt1">中科院心理专家领衔团队</p>
      <p class="tt2">咨询团队均具备国家颁发的资质 真实可查询</p>
      <div class="contInner03">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <a class='kf_xinnuan'>
              <div class="swiper-slide">
                <img class="expertImge" src="https://img.ydlcdn.com/file/2015/09/43a596a8a5cf12df.jpg!s200x200"
                  alt="">
                <p class="name">朱浩亮</p>
                <p class="poster">中科院心理研究所硕士</p>
                <a class='kf_xinnuan tag'>马上咨询</a>
              </div>
            </a>
            <a class='kf_xinnuan'>
              <div class="swiper-slide">
                <img class="expertImge" src="https://img.ydlcdn.com/file/2015/09/d09ec87c78cec905.jpg!s200x200"
                  alt="">
                <p class="name">马建青</p>
                <p class="poster">浙江大学教授</p>
                <a class='kf_xinnuan tag'>马上咨询</a>
              </div>
            </a>
            <a class='kf_xinnuan'>
              <div class="swiper-slide">
                <img class="expertImge" src="https://img.ydlcdn.com/file/2015/10/qfpioa5fy8do3f5l.jpg!s200x200"
                  alt="">
                <p class="name">张建新</p>
                <p class="poster">中科院心理研究所副所长</p>
                <a class='kf_xinnuan tag'>马上咨询</a>
              </div>
            </a>
            <a class='kf_xinnuan'>
              <div class="swiper-slide">
                <img class="expertImge" src="https://img.ydlcdn.com/file/2016/09/vay7h7hx3lzwf6u7.jpg!s200x200"
                  alt="">
                <p class="name">赵颖</p>
                <p class="poster">约克大学心理学博士</p>
                <a class='kf_xinnuan tag'>马上咨询</a>
              </div>
            </a>
            <a class='kf_xinnuan'>
              <div class="swiper-slide">
                <img class="expertImge" src="https://img.ydlcdn.com/file/2016/08/9n8wbjmvp6zr4r7y.jpg!s200x200"
                  alt="">
                <p class="name">王岫华</p>
                <p class="poster">浙大学心理学硕士</p>
                <a class='kf_xinnuan tag'>马上咨询</a>
              </div>
            </a>
          </div>
        </div>
      </div>
      <a href="http://t.yidianling.com/baidu/experts/" class="btn1" style="margin-top: 20px;">查看更多专家</a>
    </div>

    <div class="cont04">
      <p class="tt1">收到用户一致好评</p>
      <div class="contInner04">
        <div class="item">
          <p class="txt01">w** 评价心理专家黄益寒</p>
          <p class="txt02">2018-03-24</p>
          <p class="txt03">很专业，分析得很好，有些是自己都没想到过或是不以为然的事情原来也是有因果关系的，心情豁然开朗。</p>
          <img class="lazy userImge" data-original="https://img.ydlcdn.com/file/2018/03/21/e318f0d28c487d3d31717343aeb65828..jpg!s120x120">
        </div>
        <div class="item">
          <p class="txt01">刘** 评价心理专家邢宇星</p>
          <p class="txt02">2018-03-24</p>
          <p class="txt03">喜欢老师的直接，在学习的过程中老师很有耐心！</p>
          <img class="lazy userImge" data-original="https://img.ydlcdn.com/file/2018/03/20/12ffffd44c0135d744b10d297b005dc1..jpg!s120x120">
        </div>
        <div class="item">
          <p class="txt01">秋** 评价心理专家于新萍</p>
          <p class="txt02">2018-03-24</p>
          <p class="txt03">感恩老师，这是第二次跟老师咨询了，谢谢老师给我的认可，给我力量</p>
          <img class="lazy userImge" data-original="https://img.ydlcdn.com/file/2018/03/19/96102f311506c6d3ac410bd7f7c92b3b..jpg!s120x120">
        </div>
        <div class="item">
          <p class="txt01">邱** 评价心理专家徐黄英</p>
          <p class="txt02">2018-03-23</p>
          <p class="txt03">我现在状态慢慢变好，尽管有时候还是会刹那间陷入一些情绪中，但是我能很快觉察到自己的情绪。感恩老师的疏导帮助，谢谢您。</p>
          <img class="lazy userImge" data-original="https://img.ydlcdn.com/v2/images/avatar_default.png!s120x120">
        </div>
        <div class="item">
          <p class="txt01">Z** 评价心理专家廖丽萍</p>
          <p class="txt02">2018-02-24</p>
          <p class="txt03">无法用言语去表达老师的好 真的是义无反顾的帮助 何时何地 只要需要 老师就出现 得到了极大的安慰和亲切感 也对我的事情出谋划策分析到位效果明显 谢谢老师</p>
          <img class="lazy userImge" data-original="https://img.ydlcdn.com/file/2015/12/wi62ikf7pgbo3jwz.png!s120x120">
        </div>
        <div class="item">
          <p class="txt01">雨** 评价心理专家单红妍</p>
          <p class="txt02">2018-02-24</p>
          <p class="txt03">单老师，在你这里，我哭过，也笑过，思考过，也成长了，希望在以后的生活中，你还是我内心的明灯</p>
          <img class="lazy userImge" data-original="https://img.ydlcdn.com/file/2018/01/07/1d5d70faa653f2a6f6fe4c9c52c1fa5b..jpg!s120x120">
        </div>
      </div>
      <a href="http://t.yidianling.com/baidu/recomend/" class="btn1">查看专家好评榜</a>
    </div>

    <div class="cont05">
      <p class="tt1">各大媒体争相报道</p>
      <p class="tt2">创新模式推动心理健康行业发展</p>
      <div>
        <a href="https://m.yidianling.com/about?type=media"><img class="lazy blockImge" data-original="https://static.ydlcdn.com/activity/images/activity002/media.jpg"
            alt=""></a>
      </div>
    </div>

    <div class="cont06">
      <p class="tt1">权威机构合作背景</p>
      <p class="tt2">与地方妇联，高校，咨询结构深入合作</p>
      <div>
        <img class="lazy blockImge" data-original="https://static.ydlcdn.com/activity/images/activity002/organization.jpg"
          alt="">
      </div>
    </div>

    <div class="cont07">
      <p class="tt1">关于我们</p>
      <div style="margin-top: 10px;">
        <img class="lazy blockImge" data-original="https://static.ydlcdn.com/activity/images/activity002/about_us.jpg"
          alt="">
      </div>
      <p class="txt01">壹点灵，一点阳光，温暖心灵，携手壹点灵，每天都有好心情。</p>
      <p class="txt01">壹点灵隶属于<span class="win_company"></span>，秉承“知心专业，贴心关怀，诚心服务” 理念，打造中国最有价值心理健康服务互联网平台。</p>

      <!-- <a href="https://static.ydlcdn.com/activity/html/about_global.html" class="btn1">了解更多</a> -->
    </div>


    <div class="footer">
      <ul class="navs">
        <li><a href="/baidu/">首页</a></li>
        <li><a href="//m.yidianling.com/uc">会员中心</a></li>
        <li><a href="//m.yidianling.com/uc/orders">订单查询</a></li>
        <li><a href="//m.yidianling.com/app">下载app</a></li>
      </ul>
      <p class="txt01"><img class="lazy number" data-original="https://static.ydlcdn.com/activity/images/activity002/bar_call.png"
          alt="">客服：<a href="tel:400-114-1010">400-114-1010</a></p>
      <p class="txt02">（工作时间：早08:30-次日凌晨01:00）</p>
      <p class="txt03"><span class="win_copyright"></span><span class="win_company"></span> <br><span class="win_win_copycode"></span></p>
    </div>

    <div class="area_floatMenu">
      <a class='kf_xinnuan' target="_self"><img src="http://static1.ydlcdn.com/mobile/images/area/wechat.png"></a>
      <a href="tel:400-114-1010" target="_self"><img src="http://static1.ydlcdn.com/mobile/images/area/server-new.png"></a>
      <a class='kf_xinnuan' target="_self"><img src="http://static1.ydlcdn.com/mobile/images/area/online.png"></a>
    </div>

    <div class="redpackage">
      <a href="https://m.yidianling.com/reg"><img src="https://static.ydlcdn.com/activity/images/activity002/hongbao.png"
          alt="" class="redPack"></a>
      <img src="https://static.ydlcdn.com/activity/images/activity002/close.png" alt="" class="redClose">
    </div>

  </div>




  <script>
    $(function () {
      $("img.lazy").lazyload();

      var mySwiper = new Swiper('.swiper-container', {
        slidesPerView: 2,
        spaceBetween: 20,
        slidesOffsetBefore: 20,
        slidesOffsetAfter: 20,
        freeMode: true
      });

      $('.redClose').on('click', function () {
        $('.redpackage').css('display', 'none');
      })

    });

    $('#yw0').click();

    $('#next').on('click', function () {
      var phone = $.trim($('input[name=phone]').val()),
        reg = /^1\d{10}$/,
        verifyCode = $.trim($('input[name=verifyCode]').val()),
        data = {};
      data.phone = phone;
      data.type = "1";
      data.verifyCode = verifyCode;
      if (!phone || !reg.test(phone)) {
        layer.msg('请输入11位手机号码');
        return false;
      }
      if (verifyCode == '') {
        layer.msg('请输入验证码');
        return false;
      }

      $.ajax({
        'type': 'post',
        'url': '/user/reg',
        'data': data,
        'dataType': 'json',
        success: function (data) {
          if (data.code != 1) {
            layer.msg(data.msg);
            $('#yw0').click();
          } else {
            $('input[name=funk_you]').val(data.p);
            $('form').submit();
          }
        }
      });
      return false;
    });
  </script>
  <script src="https://static.ydlcdn.com/weui/js/fastclick.js"></script>
  <script>
    $(function () {
      FastClick.attach(document.body);
    });
  </script>
  <!--商务通-->
  <!-- <script language="javascript" src="https://dat.zoosnet.net/js/lsjs.aspx?siteid=DAT83236505&float=1&lng=cn"></script> -->
  <script src="https://static.ydlcdn.com/v4/common/service_online_system/index.js"></script>
  <script src="../common.js"></script>
  <script type="text/javascript">
    /*<![CDATA[*/
    jQuery(function ($) {

      jQuery(document).on('click', '#yw0', function () {
        jQuery.ajax({
          url: "\/user\/captcha?refresh=1",
          dataType: 'json',
          cache: false,
          success: function (data) {
            jQuery('#yw0').attr('src', data['url']);
            jQuery('body').data('captcha.hash', [data['hash1'], data['hash2']]);
          }
        });
        return false;
      });

    });
    /*]]>*/
  </script>
</body>

</html>
