<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <title>壹点灵-心理热线 在线咨询</title>
    <link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.xn.ico" />
    <link rel="stylesheet" href="//static.ydlcdn.com/activity/css/activity002.css">
    <link rel="stylesheet" href="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.css">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?4446f7fa4186990430cb61ee85ce0d00";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
        body {
            background: #fff;
            padding-bottom: 10px;
        }
    </style>
</head>

<body ontouchstart>
    <div class="xlrx_new xlrx_new2">
        <div class="top_logo">
            <a href="javascript:;">
                <img src="//static1.ydlcdn.com/mobile/images/area/logo.png" /></a>
            <a href="tel:400-114-1010">
                <img src="//static1.yidianling.com/mobile/images/area/tel2.png" />400-114-1010</a>
        </div>
        <div class="top_banner"><a target="_self" class="kf_xinnuan">
                <img src="//static.ydlcdn.com/activity/images/update171212/banner0206.png"></a>
        </div>
        <ul class="toplist">
            <li class="toplist-li fl"><i class="icon_top1"></i>
                <p>服务客户100万+</p>
            </li>
            <li class="toplist-li fl"><i class="icon_top2"></i>
                <p>解决困扰150万+</p>
            </li>
            <li class="toplist-li fl"><i class="icon_top3"></i>
                <p>心理专家6000+</p>
            </li>
        </ul>

        <!-- <div class="area_floatMenu">
        <a class="top" href="javascript:;"><i class="icon_top"></i>返回顶部</a>
        <a class="tel" href="tel:400-114-1010"><i class="icon_tel"></i>电话客服</a>
        <a class="online" href="https://dat.zoosnet.net/LR/Chatpre.aspx?id=DAT83236505&amp;lng=cn"><i class="icon_online"></i>在线分析</a>
    </div> -->
        <div class="float_bottom">
            <a href="tel:400-114-1010" class="left_button"><i></i>电话咨询</a>
            <a class="right_button kf_xinnuan"><i></i>在线分析</a>
        </div>
        <div class="cont01">
            <h2 class="cont01_title">我们擅长处理这些问题</h2>
            <p class="cont01_subTitle">解决心理烦恼&nbsp;找回快乐</p>
            <div class="contInner01">
                <a class="tag kf_xinnuan">
                    <img src="//static.ydlcdn.com/activity/images/update171212/icon_1-1.png" alt="">
                    <div class="text01">情感婚姻</div>
                    <div class="text02">出轨，失恋<br />信任危机等</div>
                </a>
                <a class="tag kf_xinnuan">
                    <img src="//static.ydlcdn.com/activity/images/update171212/icon_1-2.png" alt="">
                    <div class="text01">情绪压力</div>
                    <div class="text02">焦虑，抑郁，强迫等</div>
                </a>
            </div>
            <div class="contInner01">
                <a class="tag kf_xinnuan">
                    <img class="lazy" data-original="//static.ydlcdn.com/activity/images/update171212/icon_2-1.png" alt="">
                    <div class="text01">孩子心理</div>
                    <div class="text02">厌学，自闭，多动，<br />网瘾等</div>
                </a>
                <a class="tag kf_xinnuan">
                    <img class="lazy" data-original="//static.ydlcdn.com/activity/images/update171212/icon_2-2.png" alt="">
                    <div class="text01">职场人际</div>
                    <div class="text02">工作压力，同事关系，<br />职业发展等</div>
                </a>
            </div>
            <div class="contInner01">
                <a class="tag kf_xinnuan">
                    <img class="lazy" data-original="//static.ydlcdn.com/activity/images/update171212/icon_3-1.png" alt="">
                    <div class="text01">个人成长</div>
                    <div class="text02">个人提升，情绪调节，<br /> 内向，孤僻等</div>
                </a>
                <a class="tag kf_xinnuan">
                    <img class="lazy" data-original="//static.ydlcdn.com/activity/images/update171212/flag_icon3-2.png"
                        alt="">
                    <div class="text01">两性心理</div>
                    <div class="text02">揭秘男女思维大不同</div>
                </a>
            </div>
        </div>
        <div class="cont01 ourTeam">
            <h2 class="cont01_title">中科院教授领衔</h2>
            <p class="cont01_subTitle">顶尖专家团队定制解决方案</p>
            <div class="experts_swiper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img data-src="//img.ydlcdn.com/file/2015/09/196fa0c9b120b8f2.jpg!s200x200" class="swiper-lazy">
                            <div class="swiper-lazy-preloader"></div>
                            <p class="underline name">史占彪</p>
                            <p class="desp">中国科学研究院教授、心理研究所主任<br>中国心理卫生协会副秘书长<br>国际EAP协会中国分会秘书长</p>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="//img.ydlcdn.com/file/2016/12/19/b9lhcrooqm32emw3.jpg!s200x200" class="swiper-lazy">
                            <div class="swiper-lazy-preloader"></div>
                            <p class="underline name">丁建略</p>
                            <p class="desp">吉林大学心理学系副教授、硕士生导师<br />中国人民大学心理学博士<br />中国公共文化研究与促进会（澳门）创会会长</p>
                        </div>
                        <div class="swiper-slide">
                            <img data-src="//img.ydlcdn.com/file/2016/09/vay7h7hx3lzwf6u7.jpg!s200x200" class="swiper-lazy">
                            <div class="swiper-lazy-preloader"></div>
                            <p class="underline name">赵颖</p>
                            <p class="desp">约克大学 Ph. D. -心理学 博士<br />国家二级心理咨询师<br />美国 A.C.H.E 临床催眠治疗师</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <a class="moreExpert kf_xinnuan">更多心理专家</a>
        </div>
        <div class="cont01 swiper">
            <h2 class="cont01_title">我们设施专业齐全</h2>
            <p class="txt cont01_subTitle">
                <a class="kf_xinnuan" style="color: #7f8c8d;">关于壹点灵<img class="lazy" data-original="//static.ydlcdn.com/activity/images/activity002/outlink.png"
                        alt=""></a>
                <!--            <a href="//m.shanghai.yidianling.com/mobile/html/about_CompanyIntroductionArea.html" style="color: #7f8c8d;">关于壹点灵<img class="lazy" data-original="//static.ydlcdn.com/activity/images/activity002/outlink.png" alt=""></a>-->
            </p>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="//static.ydlcdn.com/activity/images/update171212/machine01.png"
                            class="swiper-lazy"></div>
                    <div class="swiper-slide"><img src="//static.ydlcdn.com/activity/images/update171212/machine02.png"
                            class="swiper-lazy"></div>
                    <div class="swiper-slide"><img src="//static.ydlcdn.com/activity/images/update171212/machine03.png"
                            class="swiper-lazy"></div>
                    <div class="swiper-slide"><img src="//static.ydlcdn.com/activity/images/update171212/machine04.png"
                            class="swiper-lazy"></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="cont01 opreate">
            <h2 class="cont01_title">合作权威的心理机构</h2>
            <p class="cont01_subTitle">创新模式推动心理健康行业发展</p>
            <img class="lazy" data-original="//static.ydlcdn.com/activity/images/activity002/partner001.png" alt="">
            <img class="lazy" data-original="//static.ydlcdn.com/activity/images/activity002/partner002.png" alt="">
        </div>
        <div class="cont01 report">
            <img class="lazy" data-original="//static.ydlcdn.com/activity/images/update171212/media_bg.png" alt="">
            <div>
                <h2 class="cont01_title">近100家媒体争相报道</h2>
                <p class="cont01_subTitle">创新模式推动心理健康行业发展</p>
                <img class="lazy" data-original="//static.ydlcdn.com/activity/images/update171212/media.png" />
            </div>
        </div>
        <div class="evaluteTxt">
            <h1 class="tt0" style="margin-bottom: 20px;">用户评价</h1>
            <ul>
                <li>
                    <p class="name">B**<span>2017-11-20</span></p>“非常好的咨询师，看待问题非常的敏锐，及时能发现问题的关键所在，我的问题也迎刃而解。一次非常惊喜的体验，非常感谢！
                </li>
                <li>
                    <p class="name">海**<span>2017-11-20</span></p>“以诚待人，以情感人，很好的咨询师！”
                </li>
                <li>
                    <p class="name">小**<span>2017-11-20</span></p>“老师，教会为人处事的态度，方法，受益匪浅！”
                </li>
                <li>
                    <p class="name">阿**<span>2017-11-20</span></p>“很有效，也很耐心帮我增长智慧”
                </li>
                <li>
                    <p class="name">阳**<span>2017-11-20</span></p>“感谢老师一直陪伴我成长！在老师的帮助下，我看清了自己内心世界真正的需求。以后当我对身边人有抱怨情绪时，我就应该提醒自己要向内要求自己。我爱我的家人，我想我会因为爱为他们付出更多，即便有情绪来临，我已经学会和情绪交朋友了！老师的指教，我记心中了。感谢老师”
                </li>
            </ul>
            <a class="moreExpert kf_xinnuan">更多评价</a>
        </div>

        <div class="simple">
            <h1>简单&nbsp;3&nbsp;步完成咨询</h1>
            <div class="step">
                <ul>
                    <li><span>01</span>
                        <div>
                            <p>联系客服</p>
                            <p>Contact Service</p>
                        </div>
                    </li>
                    <img class="lazy" data-original="//nuanwo520.com/images/arrow.png">
                    <li><span>02</span>
                        <div>
                            <p>预约专家</p>
                            <p>Booking Expert</p>
                        </div>

                    </li>
                    <img class="lazy" data-original="//nuanwo520.com/images/arrow.png">
                    <li><span>03</span>
                        <div>
                            <p>完成咨询</p>
                            <p>Complete Advice</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="background: #ff9542;">
                <h1 class="tt" style="color: #fff;padding: 10px 0;font-weight: normal;font-size: 20px;">咨询无效<span>100%</span>退款</h1>
                <p class="txt" style="color: #f5f5f5;padding-bottom: 10px;font-size: 16px;">咨询无效只收取成本费 百分百退款</p>
            </div>
        </div>


    </div>
    <script src="//static.ydlcdn.com/global/js/jquery-1.11.2.min.js"></script>
    <script src="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.js"></script>
    <script src="//static.ydlcdn.com/global/js/jquery.lazyload.js"></script>
    <script src="//static.ydlcdn.com/weui/js/fastclick.js"></script>
    <script src="../common.js"></script>
    <script src="//static.ydlcdn.com/v4/common/service_online_system/index.js"></script>

    <!-- <script src="//dat.zoosnet.net/js/lsjs.aspx?siteid=DAT83236505&float=1&lng=cn"></script> -->


    <script>
        $(function () {
            $("img.lazy").lazyload();

            var mySwiper = new Swiper('.swiper .swiper-container', {
                loop: true,
                pagination: '.swiper .swiper-pagination',
                paginationClickable: true,
            });
            var outTeamSwiper = new Swiper('.experts_swiper .swiper-container', {
                autoplay: 5000,
                loop: true,
                pagination: '.experts_swiper .swiper-pagination',
                paginationType: 'bullets',
                slidesPerView: '1',
                autoplayDisableOnInteraction: false,
                lazyLoading: true,
                centeredSlides: true,
            });
        });

        //滚动到顶部
        $('.top').click(function () {
            $(window).scrollTop(0);
        })
        //判断滚动，顶部浮动
        $(window).scroll(function () {
            var scroH = $(this).scrollTop();
            if (scroH > 0) {
                $('.top_logo').attr('style', 'position: fixed;top: 0;z-index: 200;')
            } else {
                $('.top_logo').removeAttr('style');
            }
        });


    </script>
    <!--script>
$(function() {
FastClick.attach(document.body);
});
</script-->
</body>

</html>
