<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>情感壹点灵-首页</title>
		<meta id="mobile_agent" name="mobile-agent" url="//m.love.yidianling.com" content="format=html5;url=//m.love.yidianling.com" />
		<link rel="icon" href="//static.ydlcdn.com/v1/images/favicon.hs.ico" />
		<link rel="shortcut icon" href="//static.ydlcdn.com/v1/images/favicon.hs.ico" />
		<link rel="stylesheet" href="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.css" />
    <link rel="stylesheet" href="/views/other/qinggan/css/newLove.css" />
    <script type="text/javascript" src="/src/lib/reset.rem.js"></script>
		<script>
		// 统计
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?4446f7fa4186990430cb61ee85ce0d00";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
	</head>

	<body>
		<!--头部-->
		<div id="topHead">
			<div class="topHead-header">
				<div class="inner">
					<div class="topHead-header-logo"></div>
					<ul class="topHead-header-list">
						<li class="topHead-header-item acitve">
							<a href="index.html">首页</a>
						</li>
						<li class="topHead-header-item">
							<a href="//love.yidianling.com/html/baozhang.html">服务保障</a>
						</li>
						<li class="topHead-header-item">
							<a href="//love.yidianling.com/html/experts.html">专家团队</a>
						</li>
						<li class="topHead-header-item">
							<a href="//love.yidianling.com/html/about.html">关于我们</a>
						</li>
						<!-- <li class="topHead-header-item">
							<a href="javascript:;" class="collectLove">用户见证</a>
						</li> -->
					</ul>
					<div class="topHead-header-desc">
						<p>400-883-3778</p>
						<p>全国免费挽救情感热线</p>
					</div>
				</div>
			</div>
		</div>
		<!--banner-->
		<div class="banner-swiper swiper-container txt-l">
			<div class="swiper-wrapper">
				<div class="swiper-slide four" onclick="playMovie('movie')">
					<div class="inner">
						<a target="_blank" href="javascript:;" class="banner-swiper-btn txt-c">点击播放</a>
						<a class="banner-swiper-play fr" onclick="playMovie('movie')" href="javascript:;"></a>
					</div>
				</div>
				<div class="swiper-slide one">
					<div class="inner">
						<div class="banner-swiper-title">情感壹点灵已成功挽救
							<div class="banner-runnum"><span id="myTargetElement0">5</span><span id="myTargetElement1">7</span><span id="myTargetElement2">3</span><span id="myTargetElement3">9</span><span id="myTargetElement4">2</span></div>个家庭</div>
						<a target="_blank" href="javascript:;" class="banner-swiper-btn txt-c kf_xinnuan">立即咨询</a>
					</div>
				</div>

				<div class="swiper-slide three">
					<div class="inner">
						<a target="_blank" href="javascript:;" class="banner-swiper-btn txt-c kf_xinnuan">立即咨询</a>
					</div>
				</div>

				<div class="swiper-slide five" onclick="playMovie('movie_ding')">
					<div class="inner">
						<a target="_blank" href="javascript:;" class="banner-swiper-btn txt-c">点击播放</a>
						<a class="banner-swiper-play fr" onclick="playMovie('movie_ding')" href="javascript:;"></a>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<div class="toplist inner">
			<ul class="toplist-list clearfix">
				<li class="toplist-item"><img class="fl toplist-img" src="/views/other/qinggan/images/newLove/toplist01.png" />
					<p class="toplist-title">中科院全面支持</p>
					<p class="toplist-desc">国家级研究中心，挽回服务权威保障，<br />服务更专业</p>
				</li>
				<li class="toplist-item"><img style="margin-top: 8px;" class="fl toplist-img" src="/views/other/qinggan/images/newLove/toplist02.png" />
					<p class="toplist-title">世界500强合作单位</p>
					<p class="toplist-desc">中国人保集团全面保障，专家服务从此<br />无忧，服务更放心</p>
				</li>
				<li class="toplist-item"><img class="fl toplist-img" src="/views/other/qinggan/images/newLove/toplist03.png" />
					<p class="toplist-title">6000多位国家认证婚恋情感专家</p>
					<p class="toplist-desc">全国最大的婚恋挽回服务平台，总有一位<br />专家懂你，服务更贴心</p>
				</li>
			</ul>
		</div>

		<div class="toolbar" id="toolbar">
			<ul>

				<li class="kf"><a class="kf_xinnuan" href="javascript:;"><i></i>在线客服</a></li>
				<li class="tel"><a href="javascript:;"><i></i>免费热线</a></li>
				<li class="top"><a href="#"><i></i>返回顶部</a></li>
			</ul>
			<div class="tel_float">
				<span class="phone">400-883-3778</span>
				服务热线：早8:00-凌晨1:00
			</div>
		</div>

		<!--我们的服务-->
		<div class="service">
			<div class="inner txt-c">
				<h3 class="title">我们的服务</h3>
				<p class="title-sub">服务覆盖250+城市，6000多位国家认证情感专家供您挑选</p>
				<ul class="service-list clearfix">
					<li class="service-item service-item-noML"><img class="service-img lazy" width="66" height="56" data-original="/views/other/qinggan/images/newLove/service_01.png" alt="" />
						<p class="service-title">婚姻家庭咨询</p>
						<p class="service-desc">调解夫妻矛盾，瓦解冷暴力，婚前情感诊断</p>
						<a href="#" class="service-item-btn kf_xinnuan">了解详情</a>
					</li>
					<li class="service-item"><img class="service-img lazy" width="66" height="56" data-original="/views/other/qinggan/images/newLove/service_02.png" alt="" />
						<p class="service-title">挽回婚姻</p>
						<p class="service-desc">为您分析婚姻危机因素，量身定制挽回方案</p>
						<a href="#" class="service-item-btn kf_xinnuan">了解详情</a>
					</li>
					<li class="service-item"><img class="service-img lazy" width="64" height="56" data-original="/views/other/qinggan/images/newLove/service_03.png" alt="" />
						<p class="service-title">分离小三</p>
						<p class="service-desc">针对不同出轨类型提供解决方案，摆脱第三者，让爱重回家庭</p>
						<a href="#" class="service-item-btn kf_xinnuan">了解详情</a>
					</li>
					<li class="service-item"><img class="service-img lazy" width="66" height="56" data-original="/views/other/qinggan/images/newLove/service_04.png" alt="" />
						<p class="service-title">外遇行为矫治</p>
						<p class="service-desc" style="text-align: center;">外遇心理分析引导</p>
						<a href="#" class="service-item-btn kf_xinnuan">了解详情</a>
					</li>
					<li class="service-item service-item-noML"><img class="service-img lazy" width="66" height="56" data-original="/views/other/qinggan/images/newLove/service_05.png" alt="" />
						<p class="service-title">两性问题辅导</p>
						<p class="service-desc">两性课堂为您讲解两性知识，分享性爱技巧，辅导两性关系</p>
						<a href="#" class="service-item-btn kf_xinnuan">了解详情</a>
					</li>
					<li class="service-item"><img class="service-img lazy" width="66" height="56" data-original="/views/other/qinggan/images/newLove/service_06.png" alt="" />
						<p class="service-title">维权离婚</p>
						<p class="service-desc">家暴干预，离婚评估，帮助您维护自身合法权益</p>
						<a href="#" class="service-item-btn kf_xinnuan">了解详情</a>
					</li>
					<li class="service-item"><img class="service-img lazy" width="66" height="56" data-original="/views/other/qinggan/images/newLove/service_07.png" alt="" />
						<p class="service-title">恋爱交友咨询</p>
						<p class="service-desc">提升个人魅力，掌握恋爱技巧和主动权，给爱情保鲜</p>
						<a href="#" class="service-item-btn kf_xinnuan">了解详情</a>
					</li>
					<li class="service-item"><img class="service-img lazy" width="66" height="56" data-original="/views/other/qinggan/images/newLove/service_08.png" alt="" />
						<p class="service-title">挽回爱情</p>
						<p class="service-desc">变心挽回，排除障碍，拯救情感危机</p>
						<a href="#" class="service-item-btn kf_xinnuan">了解详情</a>
					</li>
				</ul>
				<div class="service-test">
					<div class="left fl">
						<p class="service-test-title">测一测你的情感生活健康吗？</p>
						<p class="service-test-desc">专业婚恋匹配测试，用科学成就幸福婚姻</p>
					</div>
					<a class="service-test-btn fr kf_xinnuan" href="#">开始测试</a>
				</div>
			</div>
		</div>
		<!--壹点灵专注婚恋情感心理服务20年-->
		<div class="history">
			<div class="inner">
				<h3 class="title">壹点灵专注婚恋情感心理服务20年</h3>
				<p class="title-sub">天猫第一婚恋情感服务品牌</p>
				<ul class="history-list clearfix">
					<li class="history-item txt-c">
						<p class="history-title"><img class="lazy" data-original="/views/other/qinggan/images/newLove/history_cctv.png" width="141" height="33" /></span>
						</p>
						<p class="history-desc">央视合作伙伴</p>
					</li>
					<li class="history-item txt-c">
						<p class="history-title">200万<span>+</span></p>
						<p class="history-desc">服务客户</p>
					</li>
					<li class="history-item txt-c">
						<p class="history-title">98<span>%</span></p>
						<p class="history-desc">挽回成功率</p>
					</li>
					<li class="history-item txt-c">
						<p class="history-title">7×24<span>小时</span></p>
						<p class="history-desc">情感顾问随时在线</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="interview">
			<div class="inner">
				<h3 class="title">壹点灵情感专家访谈</h3>
				<p class="title-sub">婚恋情感专家，就在您身边</p>
				<ul class="interview-list">
					<li class="interview-item fl"><a class="banner-swiper-play fr" onclick="playMovie('movie_ding')" href="javascript:;"></a><p class="interview-text">壹点灵情感专家丁建略教授访谈</p></li>
					<li class="interview-item"><a class="banner-swiper-play fr" onclick="playMovie('movie')" href="javascript:;"></a><p class="interview-text">壹点灵受邀CCTV12频道《我们和好吧》节目录制</p></li>
				</ul>
			</div>
		</div>
		<!--值得信赖的情感专家团队-->
		<div class="experts">
			<div class="inner">
				<h3 class="title">值得信赖的情感专家团队</h3>
				<p class="title-sub">中国科学院心理研究所权威保障，为客户解答情感困惑，提供明确有效的解决方案</p>
				<ul class="experts-list clearfix">
					<li class="experts-item experts-item-noML">
						<img class="experts-img lazy" width="280" height="230" data-original="/views/other/qinggan/images/newLove/experts_pic01.png" />
						<div class="experts-detail"><span class="experts-name fl">袁老师</span><span class="experts-desc">从业10年<br />爱心帮助1743人</span></div>
						<a href="#" class="experts-btn kf_xinnuan">立即帮助</a>
					</li>
					<li class="experts-item">
						<img class="experts-img lazy" width="280" height="230" data-original="/views/other/qinggan/images/newLove/experts_pic02.png" />
						<div class="experts-detail"><span class="experts-name fl">徐老师</span><span class="experts-desc">从业14年<br />爱心帮助1753人</span></div>
						<a href="#" class="experts-btn kf_xinnuan">立即帮助</a>
					</li>
					<li class="experts-item">
						<img class="experts-img lazy" width="280" height="230" data-original="/views/other/qinggan/images/newLove/experts_pic03.png" />
						<div class="experts-detail"><span class="experts-name fl">郭老师</span><span class="experts-desc">从业6年<br />爱心帮助3850人</span></div>
						<a href="#" class="experts-btn kf_xinnuan">立即帮助</a>
					</li>
					<li class="experts-item">
						<img class="experts-img lazy" width="280" height="230" data-original="/views/other/qinggan/images/newLove/experts_pic04.png" />
						<div class="experts-detail"><span class="experts-name fl">王老师</span><span class="experts-desc">从业3年<br />爱心帮助2999人</span></div>
						<a href="#" class="experts-btn kf_xinnuan">立即帮助</a>
					</li>
					<li class="experts-item experts-item-noML">
						<img class="experts-img lazy" width="280" height="230" data-original="/views/other/qinggan/images/newLove/experts_pic05.png" />
						<div class="experts-detail"><span class="experts-name fl">刘老师</span><span class="experts-desc">从业7年<br />爱心帮助1876人</span></div>
						<a href="#" class="experts-btn kf_xinnuan">立即帮助</a>
					</li>
					<li class="experts-item">
						<img class="experts-img lazy" width="280" height="230" data-original="/views/other/qinggan/images/newLove/experts_pic06.png" />
						<div class="experts-detail"><span class="experts-name fl">吴老师</span><span class="experts-desc">从业5年<br />爱心帮助1436人</span></div>
						<a href="#" class="experts-btn kf_xinnuan">立即帮助</a>
					</li>
					<li class="experts-item">
						<img class="experts-img lazy" width="280" height="230" data-original="/views/other/qinggan/images/newLove/experts_pic07.png" />
						<div class="experts-detail"><span class="experts-name fl">高老师</span><span class="experts-desc">从业3年<br />爱心帮助1927人</span></div>
						<a href="#" class="experts-btn kf_xinnuan">立即帮助</a>
					</li>
					<li class="experts-item">
						<img class="experts-img lazy" width="280" height="230" data-original="/views/other/qinggan/images/newLove/experts_pic08.png" />
						<div class="experts-detail"><span class="experts-name fl">王老师</span><span class="experts-desc">从业5年<br />爱心帮助3744人</span></div>
						<a href="#" class="experts-btn kf_xinnuan">立即帮助</a>
					</li>
				</ul>
			</div>
		</div>
		<!--57392位用户通过壹点灵找回真爱-->
		<div class="case">
			<div class="inner">
				<h3 class="title">57392位用户通过壹点灵找回真爱</h3>
				<p class="title-sub">客户故事，经用户同意后公开</p>
				<ul class="case-list">
					<li class="case-item case-itemLeft fl">
						<div class="case-item-left fl"><img width="134" height="134" class="case-item-left-img lazy" data-original="/views/other/qinggan/images/newLove/case_pic01.png" alt="" />
							<p class="case-item-left-desc">来自上海的李女士</p>
						</div>
						<div class="case-item-right">
							<p class="case-item-right-title">老公出轨4年，<br />壹点灵帮我夫妻和睦如初</p>
							<p class="case-item-right-desc text-multi-ellipsis">李女士当年33岁，和老公是高中同学，高中就相恋，结婚五年，小孩两岁半。穿一件黑色长款羽绒服，头发随意的扎着，脸很黄没有一丝笑容，典型的“黄脸婆”的姿态。李女士当时还想要自杀，觉得活的没有意义，她也不管孩子...</p>
							<a href="//love.yidianling.com/html/cases/case01.html" class="case-item-left-more fr">查看更多</a>
						</div>
					</li>
					<li class="case-item fl">
						<div class="case-item-left fl"><img width="134" height="134" class="case-item-left-img lazy" data-original="/views/other/qinggan/images/newLove/case_pic02.png" alt="" />
							<p class="case-item-left-desc">来自宁波的王先生</p>
						</div>
						<div class="case-item-right">
							<p class="case-item-right-title">通过情感专家的指导，<br />成功挽回女友</p>
							<p class="case-item-right-desc text-multi-ellipsis">王先生自述：男，被女友分手了三次，因此让我怀疑，是不是对一个人越好，越是会让感情变得如此轻贱！？今年三月初，因为我的原因，女友不辞而别，当我回到家的时候，看到她的物品被拿走的一干二净，内心简直像被掏空了...</p>
							<a href="//love.yidianling.com/html/cases/case02.html" class="case-item-left-more fr">查看更多</a>
						</div>
					</li>
					<li class="case-item case-itemLeft fl">
						<div class="case-item-left fl"><img width="134" height="134" class="case-item-left-img lazy" data-original="/views/other/qinggan/images/newLove/case_pic03.png" alt="" />
							<p class="case-item-left-desc">来自杭州的蔡先生</p>
						</div>
						<div class="case-item-right">
							<p class="case-item-right-title">通过婚姻专家的指导<br />婚姻生活重新焕发活力</p>
							<p class="case-item-right-desc text-multi-ellipsis">双方经家人介绍认识，当时丈夫在部队当兵，为部队司务长以上军职，丈夫为外地人非杭州本地及周边人，家族庞大，普通农民，后随着社会发展，丈夫家族开始好转。妻子为解放前大资本家，因此自幼就受父母家族遗传对自身...</p>
							<a href="//love.yidianling.com/html/cases/case03.html" class="case-item-left-more fr">查看更多</a>
						</div>
					</li>
					<li class="case-item fl">
						<div class="case-item-left fl"><img width="134" height="134" class="case-item-left-img lazy" data-original="/views/other/qinggan/images/newLove/case_pic04.png" alt="" />
							<p class="case-item-left-desc">来自邯郸市的郑女士</p>
						</div>
						<div class="case-item-right">
							<p class="case-item-right-title">经过咨询，妻双方化解了矛盾，<br />从离婚边缘走了出来</p>
							<p class="case-item-right-desc text-multi-ellipsis">郑女士在咨询一开始，就不断陈述自己对夫妻关系陷入僵局的愤怒，面对丈夫“出轨”的质疑的感叹。情感专家能够感受到她的内心澎湃着的对亲密关系的惋惜，对婚姻瓶颈的哀伤和对丈夫恨铁不成钢的埋怨。但是，从郑女士的陈述中...</p>
							<a href="//love.yidianling.com/html/cases/case05.html" class="case-item-left-more fr">查看更多</a>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!--轻松三步，获得您的定制解决方案-->
		<div class="step">
			<div class="inner">
				<h3 class="title">轻松三步，获得您的定制解决方案</h3>
				<p class="title-sub">不满意可<span class="step-tip">100%退款</span></p>
				<div class="step-list">
					<ul class="step-list-ul clearfix">
						<li class="step-list-item fl"><span class="step-num">01</span>
							<div class="step-list-right fl">
								<p class="step-list-title">分析情感危机根源</p>
								<p class="step-list-desc">Analyse</p>
							</div>
						</li>
						<li class="step-list-item fl"><span class="step-num">02</span>
							<div class="step-list-right fl">
								<p class="step-list-title">制定服务解决方案</p>
								<p class="step-list-desc">Make plan</p>
							</div>
						</li>
						<li class="step-list-item fl"><span class="step-num">03</span>
							<div class="step-list-right fl">
								<p class="step-list-title">专家亲临指导</p>
								<p class="step-list-desc">Guidance</p>
							</div>
						</li>
					</ul>
					<ul class="step-arrow-ul clearfix">
						<li class="step-arrow-item"><img class="step-arrow-img lazy" data-original="//www.nuanwo520.com/images/index_pc/gethappy-arrow.png"></li>
						<li class="step-arrow-item"><img class="step-arrow-img lazy" data-original="//www.nuanwo520.com/images/index_pc/gethappy-arrow.png"></li>
						<li class="step-arrow-item"></li>
					</ul>
				</div>
			</div>
		</div>
		<!--各大媒体争相报道-->
		<div class="media">
			<div class="inner">
				<h3 class="title">各大媒体争相报道</h3>
				<p class="title-sub">创新模式推动婚恋发展</p>
				<ul class="media-list clearfix">
					<li class="media-item fl">
						<img data-original="/views/other/qinggan/images/newLove/media01.png" class="media-img fl lazy" />
						<p style="margin-top: 12px;">心理健康助力全面小康</p>
					</li>
					<li class="media-item fl media-item-center">
						<img data-original="/views/other/qinggan/images/newLove/media02.png" class="media-img fl lazy" style="margin: 0 0 0 -17px;" />
						<p>天灾无情人有情，壹点灵赴台风灾区紧急心理援助</p>
					</li>
					<li class="media-item fl">
						<img data-original="/views/other/qinggan/images/newLove/media03.png" class="media-img fl lazy" style="margin-top: 22px;" />
						<p>心有灵犀“壹点灵”，探求心理咨询的共享经济时代</p>
					</li>
					<li class="media-item fl">
						<img data-original="/views/other/qinggan/images/newLove/media04.png" class="media-img fl lazy" />
						<p>创业互联网心理健康服务,“壹点灵”接轨国家战略</p>
					</li>
					<li class="media-item fl media-item-center">
						<img data-original="/views/other/qinggan/images/newLove/media05.png" class="media-img fl lazy" style="margin-top: 14px;" />
						<p style="margin-top: 12px;">壹点灵定位“泛心理”服务市场</p>
					</li>
					<li class="media-item fl">
						<img data-original="/views/other/qinggan/images/newLove/media06.png" class="media-img fl lazy" style="margin-top: 22px;" />
						<p>从“内容+社区+预约咨询“模式入手，壹点灵切入心理健康领域</p>
					</li>
				</ul>
			</div>
		</div>
		<!--专业情感服务平台-->
		<div class="guarantee">
			<div class="inner txt-c">
				<h3 class="title">专业情感服务平台</h3>
				<p class="title-sub">知心专业，贴心关怀，诚心服务</p>
				<div class="guarantee-swiper swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide guarantee-swiper-slide01">
							<p class="guarantee-swiper-text">2017中华婚恋咨询高峰论坛</p>
							<div class="mask"></div>
						</div>
						<div class="swiper-slide guarantee-swiper-slide02">
							<p class="guarantee-swiper-text">首席情感专家讲座中</p>
							<div class="mask"></div>
						</div>
						<div class="swiper-slide guarantee-swiper-slide03">
							<p class="guarantee-swiper-text">壹点灵婚恋专家针对客户案例进行激烈的讨论制定方案</p>
							<div class="mask"></div>
						</div>
						<div class="swiper-slide guarantee-swiper-slide04">
							<p class="guarantee-swiper-text">壹点灵活动现场认真听课的学员</p>
							<div class="mask"></div>
						</div>
						<div class="swiper-slide guarantee-swiper-slide05">
							<p class="guarantee-swiper-text">壹点灵首席婚恋情感专家讲座</p>
							<div class="mask"></div>
						</div>
						<div class="swiper-slide guarantee-swiper-slide06">
							<p class="guarantee-swiper-text">壹点灵在马云湖畔大学婚恋情感专家培训</p>
							<div class="mask"></div>
						</div>
						<div class="swiper-slide guarantee-swiper-slide07">
							<p class="guarantee-swiper-text">高峰论坛婚恋专家针对案例展开讨论</p>
							<div class="mask"></div>
						</div>
					</div>
				</div>
				<div class="inner">
					<p class="guarantee-desc">壹点灵秉承"知心专业，贴心关怀，诚心服务"理念，力图打造中国最有价值的综合性婚恋服务互联网平台。通过各种从实战经验中总结出来的专业技巧，壹点灵帮助用户为恋爱情感、婚姻家庭进行全面“心灵体检”，排除问题、解决矛盾。平台聚集了来自全国各地的婚恋专家、家庭问题专家，及各婚恋指导机构的专业人士，在情感挽回、婚姻挽回方面积累了大量成功案例。了解更多</p>
				</div>
			</div>
		</div>
		<!--合作伙伴-->
		<div class="partners">
			<div class="inner">
				<h3 class="title">合作伙伴</h3>
				<ul class="partners-list clearfix">
					<li class="partners-item fl"><img class="partners-img fl lazy" width="82" height="56" data-original="/views/other/qinggan/images/newLove/about_partner01.png" />
						<p class="partners-text partners-text-multi">CCTV12<br />社会与法频道</p>
					</li>
					<li class="partners-item fl"><img class="partners-img fl lazy" width="82" height="56" data-original="/views/other/qinggan/images/newLove/about_partner02.png" />
						<p class="partners-text partners-text-multi">中科院心理研究所<br />心理健康促进中心</p>
					</li>
					<li class="partners-item fl"><img class="partners-img fl lazy" width="82" height="56" data-original="/views/other/qinggan/images/newLove/about_partner03.png" />
						<p class="partners-text">中国心理卫生协会</p>
					</li>
					<li class="partners-item fl"><img class="partners-img fl lazy" width="82" height="56" data-original="/views/other/qinggan/images/newLove/about_partner04.png" />
						<p class="partners-text partners-text-multi">中国社会工作联合会<br />心理健康工作委员会</p>
					</li>
					<li class="partners-item fl"><img class="partners-img fl lazy" width="82" height="56" data-original="/views/other/qinggan/images/newLove/about_partner05.png" />
						<p class="partners-text">中国心理学会</p>
					</li>
				</ul>
				<ul>
					<li class="partners-item fl"><img class="partners-img fl lazy" width="82" height="56" data-original="/views/other/qinggan/images/newLove/about_partner06.png" />
						<p class="partners-text">中国企业文化促进会</p>
					</li>
					<li class="partners-item fl"><img class="partners-img fl lazy" width="82" height="56" data-original="/views/other/qinggan/images/newLove/about_partner07.png" />
						<p class="partners-text">中国人保财险</p>
					</li>
					<li class="partners-item fl"><img class="partners-img fl lazy" width="82" height="56" data-original="/views/other/qinggan/images/newLove/about_partner08.png" />
						<p class="partners-text">华住酒店集团</p>
					</li>
					<li class="partners-item fl"><img class="partners-img fl lazy" width="82" height="56" data-original="/views/other/qinggan/images/newLove/about_partner09.png" />
						<p class="partners-text">中国移动通信集团</p>
					</li>
					<li class="partners-item fl"><img class="partners-img fl lazy" width="82" height="56" data-original="/views/other/qinggan/images/newLove/about_partner010.png" />
						<p class="partners-text">网易公司</p>
					</li>
				</ul>
			</div>
		</div>

		<!--壹点灵随时倾诉  轻松问询-->
		<div class="download">
			<div class="inner pRelative txt-l">
				<!--<p class="download-title">壹点灵</p>
				<p class="download-subtitle">随时倾诉  轻松问询</p>-->
				<!--<div class="download-underline"></div>-->
				<!-- <a target="_blank" href="https://itunes.apple.com/cn/app/yi-dian-ling/id1077989161?mt=8" class="download-btn"><i class="download-btn-iconIos"></i>iPhone下载</a> -->
				<!-- <a target="_blank" href="//img.ydlcdn.com/app/android/ydl-3.3.10.apk" class="download-btn"><i class="download-btn-iconAndroid"></i>Android下载</a> -->
				<div style="display: none" class="download-btn-code"></div>
			</div>
		</div>
		<!--情感心理专家帮您分析问题-->
		<div class="consult">
			<div class="inner txt-c">
				<h3 class="title" style="margin-bottom: 20px;">情感心理专家帮您分析问题</h3>
				<p class="title-sub">咨询热线 400-883-3778</p>
				<a href="#" class="consult-btn txt-c kf_xinnuan">预约咨询</a>
			</div>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="inner">
				<div class="footer-guide clearfix">
					<ul class="footer-guide-item fl">
						<li class="capital">首页</li>
					</ul>
					<ul class="footer-guide-item fl">
						<li class="capital">服务保障</li>
					</ul>
					<ul class="footer-guide-item fl">
						<li class="capital">专家团队</li>
					</ul>
					<ul class="footer-guide-item fl">
						<li class="capital">关于我们</li>
					</ul>
					<div class="footer-ewm footer-guide-item fl txt-c" style="display: none;">
						<h4 class="capital">关注公众号</h4>
						<img src="/views/other/qinggan/images/newLove/haoshigongzhonghao.jpg"  width="100" height="100" class="footer-ewm-img lazy" alt="">
					</div>
					<ul class="footer-guide-item fl">
						<li class="capital">服务热线</li>
						<h3 class="hotline-tel">400-883-3778</h3>
						<p class="service-time">服务时间：早8:00-凌晨1:00</p>
					</ul>
				</div>
				<h4 class="copyright clearfix txt-c" style=" margin-top:50px;">
		            <span class="win_copyright"></span> <span class="win_company"></span> <a href="javascript:;">心理咨询</a> <span class="win_copycode"></span>
		        </h4>
				<p class="copyright-imgs txt-c">
					<a rel="nofollow" href="//v.pinpaibao.com.cn/authenticate/cert/?site=yidianling.com&amp;at=realname" target="_blank">
						<img class="lazy" width="88" height="34" data-original="//static.ydlcdn.com/v3/images/hy_124x47.png" alt="">
					</a>
					<a rel="nofollow" href="https://v.pinpaibao.com.cn/cert/site/?site=www.yidianling.com&amp;at=business" target="_blank">
						<img class="lazy" width="88" height="34" data-original="https://img.ydlcdn.com/file/2017/09/18/5gd9l4vntgca7ozr.png">
					</a>
				</p>
			</div>
		</div>
		<script src="//static.ydlcdn.com/global/js/jquery-1.11.2.min.js"></script>
		<script src="//static.ydlcdn.com/global/js/jquery.lazyload.js"></script>
		<script type="text/javascript">
			$(function() {
        $("img.lazy").lazyload(); //懒加载

        // 底部信息配置
        let win_company, win_copyright, win_copycode;
        // 杭州袋虎信息技术有限公司
        if(window.location.href.split("?")[0].indexOf("activity.ydl.com") >= 0){
          win_company = "杭州袋虎信息技术有限公司";
          win_copyright = "Copyright © 2015 - 2019";
          win_copycode = "浙ICP备18004841号-2";
        }

        // 上海袋虎信息技术有限公司
        if(window.location.href.split("?")[0].indexOf("activity.yidianling.com") >= 0){
          win_company = "上海袋虎信息技术有限公司";
          win_copyright = "Copyright © 2015 - 2019";
          win_copycode = "沪ICP备15037258号";
        }

        $(".win_company").html(win_company);
        $(".win_copyright").html(win_copyright);
        $(".win_copycode").html(win_copycode);
			})
		</script>
		<script src="//static.ydlcdn.com/global/js/swiper/swiper-3.3.1.min.js"></script>
		<script src="/views/other/qinggan/js/countUp.min.js"></script><!--数字滚动-->
		<script src="/views/other/qinggan/js/newlove.js"></script>
    <!--商务通-->

    <script>
      $('.kf_xinnuan').click(function(){
        window.open('https://dat.zoosnet.net/LR/Chatpre.aspx?id=DAT83236505');
        return false;
      });
    </script>
    <script src="//static.ydlcdn.com/v4/common/service_online_system/index.js"></script>
		<div class="topHead-movie-wrapper">
			<div class="topHead-movie-content">
				<video class="topHead-movie" width="854" height="480" loop="loop" preload="preload" src="" controls="controls"></video>
				<div class="topHead-close"></div>
			</div>
		</div>
	</body>

</html>

